.mdl-components {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.mdl-components-index {
    box-sizing: border-box;
    position: relative;
    padding-top: 64px
}

.mdl-components-index-text {
    max-width: 960px;
    margin: 0
}

.mdl-components-index-text .mdl-components-dl {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-left: 40px
}

.mdl-components-text {
    margin: 0;
    padding: 0
}

.mdl-components-dl {
    padding: .5em;
    width: 80%
}

.mdl-components-dt {
    float: left;
    clear: left;
    width: 150px;
    font-weight: 700
}

.mdl-components-dd {
    margin: 0 0 0 150px;
    padding: 0 0 .5em
}

.mdl-components .mdl-components__nav {
    display: inline-block;
    background: #fff;
    width: 200px;
    box-sizing: border-box;
    padding: 24px 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    z-index: 1
}

.mdl-components .mdl-components__pages {
    display: inline-block;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-bottom: 120px;
    padding-left: 10px;
}

.mdl-components .mdl-components__link {
    margin: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, .66);
    position: relative;
    padding-left: 72px;
    min-height: 48px;
    display: table;
    line-height: 48px
}

.mdl-components .mdl-components__link.is-active {
    font-weight: 700;
    color: #c2185b
}

.content {
    background: #fafafa
}

.mdl-components .mdl-components__page {
    display: none;
    min-height: 1000px
}

.mdl-components .docs-toc, .mdl-components .component-title {
    margin-bottom: 60px;
    margin-left: 32px
}

.mdl-components .component-title {
    margin-top: 30px
}

.mdl-components .component-title h3 {
    font-size: 16px;
    font-weight: 500;
    margin-top: 80px;
    text-transform: uppercase
}

.mdl-components .snippet-code pre.language-markup code {
    padding-left: 40px
}

.mdl-components .mdl-components__page.is-active {
    display: block
}

.mdl-components__link-image {
    display: inline-block;
    margin: 0 10px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ddd;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 48px;
    border-radius: 50%;
    height: 46px;
    width: 46px
}

.mdl-components__warning {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    background-color: #FFF9C4;
    padding: 16px;
    border-radius: 2px;
    color: #212121
}

.mdl-components__link.is-active .mdl-components__link-image {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12)
}

/*navigation*/
.bg-sm ul, .bg-sm li {
    list-style: none;
    padding: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.bg-sm a {
    color: #757575;
    padding: 0;
    display: block;
}

.bg-sm .pli {
    border-top: 1px solid rgba(0, 0, 0, .5);
    padding: 4px 0;
    background-color: rgb(231, 231, 231);
}

.bg-sm .cli {
    border-top: 1px solid rgba(0, 0, 0, .1);
    background-color: rgb(247, 247, 247);
}

.bg-sm .pa {
    padding: 8px 4px;
}

.bg-sm .ca {
    padding: 8px 4px;

}

h3 {
    margin: 0 !important;
    padding: 10px 0 !important;
}

/*features*/
.bg-feature {
    background-color: white;
    font-size: 13px;
    padding: 0;
}

.bg-feature div {
    padding: 4px;
    margin: 4px;
}

.bg-feature hr {
    margin: 4px 0;
    width: 100%;
}

.bg-feature img {
    width: 100%;
    height: auto;
}

.plic {
    background-color: #cce0dd !important;
}

.alic {
    /*background-color: rgba(219, 230, 214, 0.6) !important;*/
}

.alic ul {
    /*background-color: rgba(255,255,255,.6) !important;*/
}

.curveicon {
    background: url(../images/BGCurveMenuIcon.png) no-repeat 5px 15px;
    background-size: 16px;
}

#leftmenu  a {
    padding-left: 24px !important;
}

.collidersicon {
    background: url(../images/ColliderPack.png) no-repeat 5px 12px;
    background-size: 16px;
}

.bg-desc {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    text-align: center;
    font-size: 16px;
    padding-bottom: 10px;
    color: #757575;
}

.v122 {
    padding-left: 42px;
    background: url(../images/v122.png) no-repeat left;
    min-height: 32px;
}

.v12 {
    padding-left: 42px;
    background: url(../images/v12.png) no-repeat left;
    min-height: 32px;
}

.v11 {
    padding-left: 42px;
    background: url(../images/v11.png) no-repeat left;
    min-height: 32px;
}

.v10 {
    padding-left: 42px;
    background: url(../images/v10.png) no-repeat left;
    min-height: 32px;
}

.colliders {
    padding-left: 42px;
    background: url(../images/ColliderPack.png) no-repeat left;
    min-height: 32px;
}

/*Custom*/

#content {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

code {
    background-color: rgba(0, 0, 0, .06);
    border-radius: 3px;
    /*font-size: 85%;*/
}


code::before, code::after {
    letter-spacing: -.2em;
    content: "\00a0";
}

.contentTable{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}
.contentTable td,.contentTable th{
    border: 1px solid black;
    padding: 4px;
}
.contentTable p {
    margin: 0;
}
/*code sample*/
.cs{
    background-color: rgba(0, 0, 0, .06);
    margin: 0 0 10px;
    font-size: 12px;
}

.bg-image{
    margin-top: 8px;
    margin-bottom: 8px;
}
.bg-image img{
    border: 4px solid #00bfa5;
    /*margin: 4px 10px;*/
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.moreinfo{
    border: #0b0b0b dashed 1px;
    background-color: rgb(233, 241, 241);
    font-size: small;
    padding-left: 15px;
    padding-right: 5px;
}
.moreinfo ul{
    font-size: small;
}
