body {
    background-color: #f5f5f5;
    margin: 0;
}

/* Disable ugly boxes around images in IE10 */
a img{
    border: 0px;
}

::-moz-selection {
    background-color: #6ab344;
    color: #fff;
}

::selection {
    background-color: #6ab344;
    color: #fff;
}


a{
    color: #0087cb;
}

.bg-header-a {
    color: #37474f;
    font-size: 24px;
    text-decoration: none;
}

/*
.bg-header-a img{
    width: 295px;
    height: 64px;
}
*/

.bg-header {
    overflow: visible;
    background-color: #51777b;
}

.bg-header .material-icons {
    color: #767777 !important;
}

.bg-header .mdl-layout__drawer-button {
    background: transparent;
    color: #767777;
}

.bg-header .mdl-navigation__link {
    font-weight: 500;
    font-size: 14px;
    font-family: 'Roboto','Helvetica','Arial',sans-serif;
}

.bg-navigation-bag {
    /* Simple hack to make the overflow happen to the left instead... */
    direction: rtl;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    width: 500px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.bg-menu-mobile
{
    display: none;
    order: 3;
}
.bg-menusub-mobile
{
    display: none;
}


.bg-footer-email {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.bg-link {
    text-decoration: none;
    color: #8bc34a !important;
}

.bg-link:hover {
    color: #aae3cc !important;
}

.bg-link .material-icons {
    position: relative;
    top: -1px;
    vertical-align: middle;
}

.bg-footer {
    background-color: #fafafa;
    position: relative;
}

.bg-navigation{
    /* ... and now make sure the content is actually LTR */
    direction: ltr;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 800px;
}
.bg-navigation a, .bg-love {
    text-wrap: none;
    display: inline-block;
    height: 60px;
    max-height: 68px;
    line-height: 68px;
    border-bottom: 4px solid transparent;
    /*background-color: transparent !important;*/
    /*background-image: url(../images/heart.png);*/
    /*background-repeat: no-repeat;*/
}

.bg-navigation .mdl-navigation__link:hover{
    border-bottom: 4px solid #aae3cc;
}

.bg-navigation_link_active {
    border-bottom: 4px solid #afebee !important;
}

.breadcrumb {
    list-style: none;
    overflow: hidden;
    font: 18px Helvetica, Arial, Sans-Serif;
}
.breadcrumb li {
    float: left;
}
.breadcrumb li a {
    color: white;
    text-decoration: none;
    padding: 10px 0 10px 65px;
    background: brown;                   /* fallback color */
    background: hsla(34,85%,35%,1);
    position: relative;
    display: block;
    float: left;
}

.importantNote{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    border: 1px dotted #ff84d8;
    background-color: pink;
    text-align: center;
    padding: 2px;
}

/**** Mobile layout ****/
@media (max-width: 700px) {
    .bg-navigation-bag {
        display: none;
    }

    /* WebViews in iOS 9 break the "~" operator, and WebViews in OS X 10.10 break
       consecutive "+" operators in some cases. Therefore, we need to use both
       here to cover all the bases. */
    .android.android-search-box.is-focused ~ .android-mobile-title,
    .android-search-box.is-focused + .android-navigation-container + .android-mobile-title {
        opacity: 0;
    }

    .android-footer .mdl-mega-footer--bottom-section {
        display: none;
    }

    .bg-menu-mobile
    {
        display: inline !important;
    }
    .bg-menusub-mobile
    {
        display: inline !important;
    }
}

.contentTable{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}
.contentTable th{
    background-color: #68979c;
    color: white;
}
.contentTable td,.contentTable th{
    border: 1px solid black;
    padding: 4px;
}
.contentTable p {
    margin: 0;
}

.bg-sm .pa,  .bg-sm .ca {
    padding: 2px 1px;
    font-weight: 400 !important;
    font-size: 15px !important;
}

