.bg-main {
 /*   margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
 */
    margin: 0 10px;
    padding: 0 10px 10px 10px;
}

.bg-main-title {
    width: 100%;
    text-align: center;
}

.bg-main-contacts {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.bg-main-contacts_grid {
    padding: 0;
}

.bg-main-contacts_grid .mdl-cell {
    margin: 0;
}

.bg-gallery img {
    width: 230px;
    height: 180px;
    border: 4px solid #00bfa5;
    margin: 4px 10px;
}

.bg-main-status {
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #8b4ac3;
    font-weight: bold !important;
}

.bg-main-contact_form {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid #00bfa5;
}

.bg-img-indev{
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
    height: auto;
}

.bg-table, .bg-table td {
    border: 1px dotted #ffc0cb;
    background-color: white;
}
.bg-table td{
    text-align: center;
}
.bg-table th {
    border: 1px dotted #ff84d8;
    background-color: #ffc0cb;
}
.redText {
    color: #000000;
    background-color: pink;
    border: 1px dotted #0b0b0b;
    padding-left: 4px;
    padding-right: 4px;
}
.redFont {
    color: #c2185b;
    font-weight: bold
}
