#set pageCss=css/page.css
#set GA=UA-76367732-3
#set section=BGCurveDecorator
#set description=BG Curve Decorator is a procedural geometry generation tool for Unity game engine



        <div class="bg-main">
            <div class="bg-main-title">
                <h3>BG Curve Decorator</h3>
            </div>
            <div class="bg-main-contacts">
                <div class="bg-main-status">
                    Status: Suspended (upd. 22.08.2016)
                </div>
                <br/>
                <div class="bg-main-status">
                    <img class="bg-img-indev" src="../images/CrazyOptimized.gif">
                </div>
            </div>
            <hr>
            <div>
                <h4>What is it</h4>
            </div>
            <div>
                Procedural Geometry Toolkit for Unity 5.3
                <br>
            </div>
            <hr>
        </div>

