#set page=BGDatabase
#set pageCss=css/page.css
#set GA=UA-76367732-7
#set section=BGDatabase
#set metadescription=BG Database is a in-game data management system for Unity3D game engine

<div class="bg-main-contacts">
    <div class="bg-main-contacts_grid mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone bg-desc">
            Fast, InMemory, pure c# (without SQL), Extendable Database for your Unity 3D in-game data with export/import to Excel and
            Google Sheets, which works like Unity does by reverting runtime changes
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            Version:
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            1.6.x (<a href="ChangeLog">change log</a>)
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            Unity Asset Store:
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            <a href="http://u3d.as/16JW">http://u3d.as/16JW</a>
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            Unity Forums:
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            <a href="https://forum.unity.com/threads/bg-database-inmemory-database-excel-google-sheets-syncing-codegen-save-load-support.529740/">Support thread</a>
        </div>
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <div class="bg-image">
                <a href="#path images/BGDatabase/Main1.png"><img style="width: 376px" src="#path images/BGDatabase/Main1.png"></a>
            </div>
        </div>
    </div>
</div>

<h4>Features:</h4>
<ol>
    <li>Fast, In Memory, pure C# ( without SQL) database fully integrated into Unity 3D</li>
    <li>
        Selective import/export from/to
        <a href="ThirdParty/Excel">Excel/OpenOffice</a> and
        <a href="ThirdParty/GoogleSheets">Google Sheets</a>
        (some <a href="ExportImport">restrictions apply</a>)
    </li>
    <li>Integration with visual scripting tools:
        <a href="ThirdParty/Bolt">Unity Visual Scripting (Bolt)</a>,
        <a href="ThirdParty/Playmaker">Playmaker</a>,
        <a href="ThirdParty/FlowCanvas">Flow Canvas</a>,
        <a href="ThirdParty/NodeCanvas">Node Canvas</a>,
        <a href="ThirdParty/BehaviorDesigner">Behavior Designer</a>,
        <a href="ThirdParty/UNode">UNode</a>,
        <a href="ThirdParty/GameCreator">Game Creator</a>.
    </li>
    <li>Powerful <a href="CodeGeneration">Code Generation</a></li>
    <li>Selective <a href="Addons/SaveLoad">Save/Load</a> during game session</li>
    <li>Over <a href="SupportedFields">50 field types</a>, including relations and nested tables.
        <br> Support for loading Unity assets from Resources, AssetBundles and <a href="Downloads/RuntimeAddressables">Addressables system</a></li>
    <li>Hook up any GameObject to table row by adding a component</li>
    <li>Runtime <a href="Downloads/RuntimeEditor">data editor</a></li>
    <li>Ability to create your own <a href="Misc#customFields">custom field.</a></li>
    <li><a href="MergeTool">Merge tool</a> for reviewing and selectively applying the differences between 2 databases</li>
    <li><a href="Addons/LiveUpdate">Live update</a> from Google sheets</li>
    <li>Support for modding with <a href="Addons/Modding">Modding addon</a></li>
    <li>Auto-import data from Excel file in Editor and at runtime (<a href="Downloads/RuntimeExcelMonitor">details</a>)</li>
    <li>No runtime dependencies, dll size ~300Kb (0.3Mb).</li>
    <li><a href="Downloads">Downloadable</a> plug-ins and example projects</li>
    <li><a href="Addons/LazyLoad">Lazy</a> loading</li>
    <li>Flexible <a href="Misc">event system</a></li>
    <li>Multithreading is supported with multithreading addon. Some restrictions apply. Read more <a href="Addons/Multithreading">here</a>.</li>
    <li>BGDatabase is a client-side database, which runs inside Unity only. <span class="redText">It can not be used in any server environment</span></li>
</ol>

<h4>Learning resources:</h4>
<ol>
    <li><a href="GUIOverview">GUI overview</a></li>
    <li><a href="GUITips">GUI tips and tricks</a></li>
    <li><a href="HowToUse">How to use</a></li>
    <li><a href="CodeExamples">Code examples</a></li>
    <li><a href="Downloads/Example3DBasic">Basic 3D example project</a> with text manual</li>
    <li><a href="Downloads/Example2DBasic">Basic 2D example project</a> with video tutorial</li>
    <li><a href="Downloads/ExampleInventory">Advanced example project</a> (Inventory system)</li>
    <li><a href="API">API</a></li>
</ol>

<h4>News:</h4>
<ul>
    <li>06/2020 <a href="../Blog/BGDatabase-v1-5-9-What-is-new">BGDatabase v.1.5.9  What is new?</a></li>
    <li>03/2020 <a href="../Blog/BGDatabase-v1-5-6-What-is-new">BGDatabase v.1.5.6  What is new?</a></li>
</ul>

<br/>
<br/>

