#set page=BGDatabase
#set pageCss=css/page.css
#set GA=UA-76367732-7
#set section=BGDatabase
#set metadescription=BG Database is a in-game data management system for Unity3D game engine

<div class="bg-main-contacts">
    <div class="bg-main-contacts_grid mdl-grid">
<!--        <div class="mdl-cell mdl-cell&#45;&#45;12-col mdl-cell&#45;&#45;8-col-tablet mdl-cell&#45;&#45;4-col-phone bg-desc">
            Fast, InMemory, pure c# (without SQL), Extendable Database for your Unity 3D in-game data with export/import to Excel and
            Google Sheets, which works like Unity does by reverting runtime changes
        </div>-->
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            Version:
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            1.8.x (<a href="ChangeLog">change log</a>)
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            Unity Asset Store:
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            <a href="http://u3d.as/16JW">http://u3d.as/16JW</a>
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            Unity Forums:
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            <a href="https://forum.unity.com/threads/bg-database-inmemory-database-excel-google-sheets-syncing-codegen-save-load-support.529740/">Support thread</a>
        </div>
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <div class="bg-image">
                <a href="#path images/BGDatabase/Main1.png"><img style="width: 376px" src="#path images/BGDatabase/Main1.png"></a>
            </div>
        </div>
    </div>
</div>

<h4>Description:</h4>
<p>
    Data manager for Unity. Excel-like GUI. Relational database design. Runtime changes are auto-reverted just like Unity components values.
</p>

<h4>Features:</h4>
<ol>
    <li>Fast, In Memory, pure C# ( without SQL) database fully integrated into Unity 3D</li>
    <li>
        Selective import/export from/to
        <a href="ThirdParty/Excel">Excel/OpenOffice</a> and
        <a href="ThirdParty/GoogleSheets">Google Sheets</a>
        (some <a href="ExportImport">restrictions apply</a>)
    </li>
    <li>Integration with visual scripting tools:
        <a href="ThirdParty/Bolt">Unity Visual Scripting (Bolt)</a>,
        <a href="ThirdParty/Playmaker">Playmaker</a>,
        <a href="ThirdParty/FlowCanvas">Flow Canvas</a>,
        <a href="ThirdParty/NodeCanvas">Node Canvas</a>,
        <a href="ThirdParty/BehaviorDesigner">Behavior Designer</a>,
        <a href="ThirdParty/UNode">UNode</a>,
        <a href="ThirdParty/GameCreator">Game Creator</a>.
    </li>
    <li>Powerful <a href="CodeGeneration">Code Generation</a></li>
    <li>Selective <a href="Addons/SaveLoad">Save/Load</a> during game session</li>
    <li>Around <a href="SupportedFields">100 field types</a>, including relations and nested tables.
        <br> Support for loading Unity assets from Resources, AssetBundles and <a href="Downloads/RuntimeAddressables">Addressables system</a></li>
    <li><a href="DataBinding">Data binders</a> with <a href="Downloads/RuntimeUIToolkit">UI Toolkit</a> support</li>
    <li>
        <a href="GraphEditor">Graph editor</a> for <a href="SupportedFields#calculated">calculated and action fields</a>
        and <a href="DataBinding#calculated#graphBinder">graph binders</a>
    </li>
    <li>Hook up any GameObject to table row by adding a special component or reference the row with a field</li>
    <li>Runtime <a href="Downloads/RuntimeEditor">data editor</a></li>
    <li>Ability to create your own <a href="Misc/CustomFields">custom field.</a></li>
    <li><a href="MergeTool/2Way">2-way</a> and <a href="MergeTool/3Way">3-way</a> merge tools for multi-user environment with <a href="MergeTool/PlasticSCM">Plastic SCM integration</a></li>
    <li><a href="Addons/LiveUpdate">Live update</a> from Google sheets</li>
    <li>Support for modding with <a href="Addons/Modding">Modding addon</a></li>
    <li>Auto-import data from Excel file in Editor and at runtime (<a href="Downloads/RuntimeExcelMonitor">details</a>)</li>
    <li>No runtime dependencies, DLL file size around 1Mb.</li>
    <li><a href="Downloads">Downloadable</a> plug-ins and example projects</li>
    <li>Flexible <a href="Misc">event system</a></li>
    <li>Multithreading is partially supported with multithreading addon. Some restrictions apply. Read more <a href="Addons/Multithreading">here</a>.</li>
</ol>

<h4>Restrictions and limitations:</h4>
<ol>
    <li>BGDatabase is a client-side database, which runs inside Unity only. <span class="redText">It can not be used in any server environment</span></li>
    <li>Database data is loaded fully into memory, so at some point the database size can become too big.
        For example, if database has 10 tables and each table has 50 000 rows and 10 int fields, it takes around 26Mb on hard drive and starts getting too big.
        <a href="Addons/Partition">Partitioning addon</a> can mitigate this problem- but it's not a generic solution
    </li>
</ol>

<h4>Learning resources:</h4>
<ol>
    <li><a href="GUIOverview">GUI overview</a></li>
    <li><a href="GUITips">GUI tips and tricks</a></li>
    <li><a href="HowToUse">How to use</a></li>
    <li><a href="CodeExamples">Code examples</a></li>
    <li><a href="Downloads/Example3DBasic">Basic 3D example project</a> with text manual</li>
    <li><a href="Downloads/Example2DBasic">Basic 2D example project</a> with video tutorial</li>
    <li><a href="Downloads/ExampleInventory">Advanced example project</a> (Inventory system)</li>
    <li><a href="API">API</a></li>
</ol>

<h4>News:</h4>
<ul>
    <li>08/2022 <a href="../Blog/BGDatabase-v1-7-9-New-navigation-system">BGDatabase v.1.7.9  New navigation system</a></li>
    <li>05/2022 <a href="../Blog/BGDatabase-v1-7-5-Views-and-viewrelational-fields">BGDatabase v.1.7.5  Views and view relations</a></li>
    <li>12/2021 <a href="../Blog/BGDatabase-v1-7-1-Many-tables-relational-fields">BGDatabase v.1.7.1  Many tables relational fields</a></li>
    <li>06/2020 <a href="../Blog/BGDatabase-v1-5-9-What-is-new">BGDatabase v.1.5.9  What is new?</a></li>
    <li>03/2020 <a href="../Blog/BGDatabase-v1-5-6-What-is-new">BGDatabase v.1.5.6  What is new?</a></li>
</ul>

<br/>
<br/>

