#set page=BGDatabase
#set pageCss=css/page.css
#set GA=UA-76367732-7
#set section=BGDatabase
#set metadescription=BG Game Database is a in-game data management system for Unity3D game engine

<div class="bg-main-contacts">
    <div class="bg-main-contacts_grid mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone bg-desc">
            Fast, InMemory, pure c# (without SQL), Extendable Database for your Unity 3D in-game data with export/import to Excel and
            Google Sheets
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            Version:
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            Beta
        </div>
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <div class="importantNote" style="">
                Please, enroll to our beta program by email:<br/>
                <script language="JavaScript">
                    writeEmail("support", "bansheegz.com")
                </script>
                <br/>We will provide you with a free copy, if you decide to use it
            </div>
        </div>
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <div class="bg-image">
                <a href="#path images/BGDatabase/Main1.png"><img style="width: 400px" src="#path images/BGDatabase/Main1.png"></a>
            </div>
        </div>
    </div>
</div>

<h4>Features</h4>
<ol>
    <li>Fast, In Memory, pure C# ( without SQL) database fully integrated into Unity 3D</li>
    <li>Selective import/export from/to <a href="ThirdParty/Excel">Excel</a> and <a href="ThirdParty/GoogleSheets">Google Sheets</a></li>
    <li>Selective <a href="Addons/SaveLoad">Save/Load</a> during game session</li>
    <li><a href="Addons/LazyLoad">Lazy</a> loading</li>
    <li>Powerful <a href="CodeGeneration">Code Generation</a></li>
    <li><a href="ThirdParty/Playmaker">Playmaker</a> support</li>
    <li>Hook up any GameObject to table row by adding a component</li>
    <li>Over <a href="SupportedFields">40 field types</a> are supported, including relations and nested table.</li>
    <li>Ability to create your own field.</li>
    <li>Runtime (playmode) changes saving.</li>
    <li><a href="Addons/LiveUpdate">Live update</a> from Google sheets</li>
</ol>


