#set pageCss=css/page.css
#set GA=UA-76367732-7
#set section=BGDatabase
#set metadescription=BG Database is InMemory, No SQL, Extendable Database for Unity3D Game Engine with Excel and GoogleSheets support.

<link rel="stylesheet" href="#path css/bgdatabase.css">
<link rel="stylesheet" href="#path css/magnific-popup.css">
<script src="#path js/jquery.magnific-popup.min.js"></script>

<script>
    $(document).ready(function () {
        $('.bg-image').magnificPopup({
            delegate: 'a',
            type: 'image',
//            gallery:{enabled:true},
            closeOnContentClick: true
        });
    });
</script>

<!--======================================================       BG Database Header               -->


<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--hide-phone bg-sm  mdl-shadow--3dp">
        <ul>
            <li class="pli curveicon #if page=BGDatabase plic #endif">
                <a class="pa" href="#path BGDatabase">BG Database Home</a>
                <ul>
                    <li class="cli #if page='Setup' plic #endif">
                        <a class="ca" href="#path BGDatabase/Setup">Setup</a>
                    </li>
                    <li class="cli #if page='How to use' plic #endif">
                        <a class="ca" href="#path BGDatabase/HowToUse">How to use</a>
                    </li>
                    <li class="cli #if page='Example breakdown' plic #endif">
                        <a class="ca" href="#path BGDatabase/ExampleBreakdown">Example Breakdown</a>
                    </li>
                    <li class="cli #if page='Supported Fields' plic #endif">
                        <a class="ca" href="#path BGDatabase/SupportedFields">Supported Fields</a>
                    </li>
                    <li class="cli #if page='Export Import' plic #endif">
                        <a class="ca" href="#path BGDatabase/ExportImport">Export Import</a>
                    </li>
                </ul>
            </li>
            <li class="pli #if page='Code Generation' plic #endif">
                <a class="pa " href="#path BGDatabase/CodeGeneration">Code Generation</a>
                <ul>
                    <li class="cli #if page='Code Generation (Extension classes)' plic #endif">
                        <a class="ca" href="#path BGDatabase/CodeGeneration/ExtensionClasses">Extension Classes</a>
                    </li>
                    <li class="cli #if page='Code Generation (MonoBehaviour classes)' plic #endif">
                        <a class="ca" href="#path BGDatabase/CodeGeneration/MonoBehaviourClasses">MonoBehavior Classes</a>
                    </li>
                    <li class="cli #if page='Code Generation (Dna classes)' plic #endif">
                        <a class="ca" href="#path BGDatabase/CodeGeneration/DnaClasses">Dna Classes</a>
                    </li>
                </ul>
            </li>
            <li class="pli #if page='Third-Party Integration' plic #endif">
                <a class="pa " href="#path BGDatabase/ThirdParty">Third-Party Integration</a>
                <ul>
                    <li class="cli #if page='Excel' plic #endif">
                        <a class="ca" href="#path BGDatabase/ThirdParty/Excel">Excel</a>
                    </li>
                    <li class="cli #if page='Google Sheets' plic #endif">
                        <a class="ca" href="#path BGDatabase/ThirdParty/GoogleSheets">Google Sheets</a>
                    </li>
                    <li class="cli #if page='Playmaker' plic #endif">
                        <a class="ca" href="#path BGDatabase/ThirdParty/Playmaker">Playmaker</a>
                    </li>
                </ul>
            </li>
            <li class="pli #if page='Addons' plic #endif">
                <a class="pa " href="#path BGDatabase/Addons">Addons</a>
                <ul>
                    <li class="cli #if page='Save Load' plic #endif">
                        <a class="ca" href="#path BGDatabase/Addons/SaveLoad">Save Load</a>
                    </li>
                    <li class="cli #if page='Code Generation Addon' plic #endif">
                        <a class="ca" href="#path BGDatabase/Addons/CodeGeneration">Code Generation</a>
                    </li>
                    <li class="cli #if page='Lazy Load' plic #endif">
                        <a class="ca" href="#path BGDatabase/Addons/LazyLoad">Lazy Load</a>
                    </li>
                    <li class="cli #if page='Live Update' plic #endif">
                        <a class="ca" href="#path BGDatabase/Addons/LiveUpdate">Live Update</a>
                    </li>
                </ul>
            </li>
            <li class="pli #if page='API' plic #endif">
                <a class="pa " href="#path BGDatabase/API">API</a>
                <ul>
                    <li class="cli #if page='BGRepo API' plic #endif">
                        <a class="ca" href="#path BGDatabase/API/BGRepo">BGRepo</a>
                    </li>
                    <li class="cli #if page='BGMetaEntity API' plic #endif">
                        <a class="ca" href="#path BGDatabase/API/BGMetaEntity">BGMetaEntity</a>
                    </li>
                    <li class="cli #if page='BGEntity API' plic #endif">
                        <a class="ca" href="#path BGDatabase/API/BGEntity">BGEntity</a>
                    </li>
                    <li class="cli #if page='BGField API' plic #endif">
                        <a class="ca" href="#path BGDatabase/API/BGField">BGField</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="mdl-cell--hide-desktop mdl-cell--hide-tablet mdl-cell--4-col-phone">
        <a class="pa" href="#path BGDatabase">BG BGDatabase Home</a>
        <a class="pa " href="#path BGDatabase/UserGuide">User Guide</a>
    </div>
    <div class="mdl-cell mdl-cell--9-col mdl-cell--6-col-tablet mdl-cell--3-col-phone">
        <div class="bg-main mdl-shadow--3dp">
            <div class="bg-main-title">
                <h3>#get page </h3>
            </div>

            <!--======================================================        BG Database Content              -->
            <div id="content">
            #get _content
            </div>

            <!--======================================================       BG Database Footer               -->
        </div>

    </div>
</div>

