#set page=Videos


<div>
    <h4>BG Database v.1.0 Trailer</h4>
</div>
<div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/o50dxjpxzO0" frameborder="0" allowfullscreen></iframe>
</div>

<div>
    <h4>BG Database v.1.0 Tutorial (2D game prototype)</h4>
</div>
<div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/tnZCOLAmCAE" frameborder="0" allowfullscreen></iframe>
</div>
<p>
    You can download Unity3D package <a href="../Downloads/Example2DBasic">here</a>
</p>


<h4>BG Database mini tutorials: Setup</h4>
<iframe src="https://player.vimeo.com/video/599578507?title=0&amp;byline=0&amp;portrait=0&amp;speed=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;h=83972cb70e" width="560" height="315" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="BGDatabase mini tutorial: Setup"></iframe>

<h4>BG Database mini tutorials: GUI overview</h4>
<iframe src="https://player.vimeo.com/video/599721904?title=0&amp;byline=0&amp;portrait=0&amp;speed=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;h=cb8c2dccdf" width="560" height="315" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="BGDatabase mini tutorial: GUI overview"></iframe>

<h4>BG Database mini tutorials: GUI tips and tricks</h4>
<iframe src="https://player.vimeo.com/video/599823744?title=0&amp;byline=0&amp;portrait=0&amp;speed=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;h=78f3e774ec" width="560" height="315" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="BGDatabase mini tutorial: GUI tips and tricks"></iframe>

<h4>More videos will be added soon (upd. 8 Sep. 2021)</h4>