#set page=Multithreading

<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=cs&amp;skin=desert"></script>

This page is work in progress.........................

<h4>Current state of multithreading support</h4>
<ol>
	<li>Multithreading is not currently supported.
		Database is not thread-safe.
		It's meant to be called from main thread only
	</li>
	<li>We are looking for opportunities to add multithreading and integration at some level with Unity's Jobs and ECS</li>
</ol>

<h4>How to use database with Unity's ECS and Jobs</h4>
<ol>
	<li>Make sure you call database only from main thread (e.g. from MonoBehaviour classes)</li>
	<li>Create Unity ECS entities out of database information from MonoBehaviour class</li>
	<li>If you need some of these Unity ECS entities to be persistent, (e.g. they needs to be saved/loaded),
		store them back to database the moment they needs to be persisted, e.g, when the game needs to be saved
		(see example below)
	</li>
	<li>
		If by some reason you need to call database from multithreaded environment, use the class below.
		Make sure you call at sparingly, at some relatively rare condition, otherwise it can become a bottleneck.
	</li>
</ol>

