#set pageCss=css/root.css
#set GA=UA-76367732-1
#set section=Blog
#set metadescription=BansheeGz is Games and Unity assets Developer.
#set _skipTemplate=true

<link rel="stylesheet" href="css/slider-pro.min.css"/>
<script src="js/jquery.sliderPro.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#my-slider').sliderPro({
            width: 700,
            height: 439,
            arrows: true,
            buttons: true,
//            fade: true,
            autoplayDelay: 3000,
//            fadeDuration:700
        });
    });
</script>
<style>
    #blog div{
        padding: 12px 0;
    }
</style>

<div style="width: 100%">
    <div style="width: 70%;margin: 0 auto">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <div class="bg-main mdl-shadow--3dp">
                <div id="blog" style="padding: 12px;">
                    <div class="bg-main-title">
                        <h3>Blog</h3>
                    </div>

                    <div>
                        05/2021 <a href="BGDatabase-v1-7-5-Views-and-viewrelational-fields">BGDatabase v.1.7.5  Views and view relational fields</a>
                    </div>
                    <div>
                        12/2021 <a href="BGDatabase-v1-7-1-Many-tables-relational-fields">BGDatabase v.1.7.1  Many tables relational fields</a>
                    </div>
                    <div>
                        07/2020 <a href="BGDatabase-is-on-sale-07-2020">BGDatabase is on sale 50% off</a>
                    </div>
                    <div>
                        06/2020 <a href="BGDatabase-v1-5-9-What-is-new">BGDatabase v.1.5.9  What is new?</a>
                    </div>
                    <div>
                        03/2020 <a href="BGDatabase-v1-5-6-What-is-new">BGDatabase v.1.5.6  What is new?</a>
                    </div>
                    <div>
                        11/2019 <a href="BGDatabase-GoogleSheetsV4">BGDatabase v.1.5 switched to Google Sheets API version 4</a>
                    </div>
                    <div>
                        08/2018 <a href="BGDatabase-v1-2-What-is-new">BGDatabase v1.2 What is new?</a>
                    </div>
                    <div>
                        11/2016 <a href="BGCurve-v1-2-What-is-new">BGCurve v1.2 What is new?</a>
                    </div>
                    <div>
                        09/2016 <a href="BGCurve-v1-1-What-is-new">BGCurve v1.1 What is new?</a>
                    </div>

                    <!--======================================================        BG Curve Content              -->

                    <!--======================================================       BG Curve Footer               -->
                </div>
            </div>

        </div>
    </div>
</div>
