<div style="width: 100%">
    <div style="width: 70%;margin: 0 auto">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <div class="bg-main mdl-shadow--3dp">
                <div id="blog" style="padding: 12px;">
                    <a href="../">Back to blog</a>
                    <div class="bg-main-title">
                        <h4>#get title</h4>
                    </div>
                    <div style="padding-bottom: 12px;">#get date</div>

                    #get _content
                </div>
            </div>

        </div>
    </div>
</div>
