#set pageCss=css/page.css
#set GA=UA-76367732-4
#set section=About
#set metadescription=About Banshee GameZ (Banshee Gz)


<div class="bg-main">
    <!--======================================== About BansheeGz =======================================-->
    <div class="bg-main-title">
        <h3>About BansheeGz</h3>
    </div>
    <hr>
    <div class="bg-main-title">
        <h4>BansheeGz is</h4>
        <table class="bg-table" width="30%" style="margin: 0 auto" cellpadding="5" cellspacing="0">
            <tr>
                <th>N</th>
                <th>Activity</th>
            </tr>
            <tr>
                <td>1</td>
                <td>AI (Artificial Intelligence) Researcher.</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Games and Unity3D assets Developer.</td>
            </tr>
            <tr>
                <td colspan="2"><a href="#resume">Do you want to work with us?</a></td>
            </tr>
        </table>
    </div>
    <hr>
    <!--======================================== Contractors =======================================-->
    <!--======================================== RESUME =======================================-->
    <hr/>
    <h4 id="resume">CV or Resume:</h4>
    <table class="bg-table" width="100%" cellpadding="5" cellspacing="0">
        <tr>
            <th colspan="2" style="padding: 10px 0; color: red">
                Do you want to work with us?
            </th>
        </tr>
        <tr>
            <td>
                Send your CV or Resume to
                <script language="JavaScript">
                    writeEmail("resume", "bansheegz.com")
                </script>
            </td>
            <td>
                English or Russian language only
            </td>
        </tr>
    </table>
    <hr>
</div>


