#set pageCss=css/page.css
#set GA=UA-76367732-4
#set section=Streaming
#set metadescription=Join BansheeGz's streams from Games and Real life, LIVE and in Recording.

<style>
    #icons div {
        width: 128px;
        height: 32px;
        text-align: center;
    }
    .stream-details{
        font-family: "Roboto","Helvetica","Arial",sans-serif;
        font-size: 12px;
    }
    #bg-game-streaming .url{
        font-family: "Roboto","Helvetica","Arial",sans-serif;
        font-size: 24px;
        font-weight: bold;
    }
</style>

<h4>LIVE Real Life Streams</h4>
<img src="../images/under_construction_hammerC.gif">
<hr/>

<h4>LIVE Games Streams (Soon):</h4>
<table id="bg-game-streaming" class="bg-table" width="100%" cellpadding="5" cellspacing="0">
    <tr>
        <th width="15%">
            Game
        </th>
        <th  width="10%">
            Streamer
        </th>
        <th  width="10%">
            Language
        </th>
        <th  width="10%">
            LIVE
        </th>
        <th width="15%">
            URL
        </th>
        <th width="40%">
            Details
        </th>
    </tr>
    <tr>
        <td>
            <a href="https://en.wikipedia.org/wiki/The_Elder_Scrolls_V:_Skyrim">TES5 Skyrim</a>
        </td>
        <td>
            <a href="../About/index.html#DeliriumTrip">DeliriumTrip</a>
        </td>
        <td>
            English
        </td>
        <td>
            Yes
        </td>
        <td>
            <a class="url" style="color: #8a2be2;" href="https://www.twitch.tv/deliriumtrip" target="_blank">
                TWITCH
            </a>
        </td>
        <td>
            <div class="stream-details">
                Legendary, Wood Elf, Archer, Aela as wife [ modded as <a href="https://www.facebook.com/aprilgloriacosplay/">April Gloria</a> ], No Cheats, No Mods
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <a href="https://en.wikipedia.org/wiki/The_Elder_Scrolls_V:_Skyrim">TES5 Skyrim</a>
        </td>
        <td>
            <a href="../About/index.html#DeliriumTrip">DeliriumTrip</a>
        </td>
        <td>
            English
        </td>
        <td>
            Yes
        </td>
        <td>
            Youtube (URL is N/A yet)
        </td>
        <td>
            <div class="stream-details">
                Legendary, Wood Elf, Archer, Aela as wife [ modded as <a href="https://www.facebook.com/aprilgloriacosplay/">April Gloria</a> ], No Cheats, No Mods
            </div>
        </td>

    </tr>
    <tr>
        <td>
            <a href="https://en.wikipedia.org/wiki/The_Elder_Scrolls_V:_Skyrim">TES5 Skyrim</a>
        </td>
        <td>
            <a href="../About/index.html#DeliriumTrip">DeliriumTrip</a>
        </td>
        <td>
            English
        </td>
        <td>
            Yes
        </td>
        <td>
            <a class="url" style="color: #0a2ae2;" href="https://beam.pro/deliriumtrip" target="_blank">
                BEAM.PRO
            </a>
        </td>
        <td>
            <div class="stream-details">
                Legendary, Wood Elf, Archer, Aela as wife [ modded as <a href="https://www.facebook.com/aprilgloriacosplay/">April Gloria</a> ], No Cheats, No Mods
            </div>
        </td>

    </tr>
    <tr>
        <td>
            <a href="https://en.wikipedia.org/wiki/The_Elder_Scrolls_V:_Skyrim">TES5 Skyrim</a>
        </td>
        <td>
            <a href="../About/index.html#DeliriumTrip">DeliriumTrip</a>
        </td>
        <td>
            English
        </td>
        <td>
            Yes
        </td>
        <td>
            <a class="url" style="color: #808080" href="http://www.hitbox.tv/deliriumtrip" target="_blank">
                HITBOX.TV
            </a>
        </td>
        <td>
            <div class="stream-details">
                Legendary, Wood Elf, Archer, Aela as wife [ modded as <a href="https://www.facebook.com/aprilgloriacosplay/">April Gloria</a> ], No Cheats, No Mods
            </div>
        </td>

    </tr>
</table>
