#set page=MergeTool

<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=cs&amp;skin=desert"></script>

<h4>Description</h4>

<p>
    Merge tool let you overview and selectively apply changes from one database to another.
</p>

<h4>How to use</h4>
<ul>
    <li>Select Merge tool tab</li>
    <li>Chose both databases. For simplicity sake, you always apply changes from database #2 to database #1</li>
    <li>Review the changes. In detailed view you can see every single change</li>
    <li>Apply the changes you want to apply and save database # 1</li>
</ul>

<div class="bg-image">
    <a href="#path images/BGDatabase/MergeTool1.png"><img style="width: 400px" src="#path images/BGDatabase/MergeTool1.png"></a>
</div>

<div class="bg-image">
    <a href="#path images/BGDatabase/MergeTool2.png"><img style="width: 400px" src="#path images/BGDatabase/MergeTool2.png"></a>
</div>


