#set page=MergeTool

<h4>Description</h4>

<p>
    Merge tool let you overview and selectively apply changes from one database to another.
</p>

<h4>How to use</h4>
<ul>
    <li>Select Merge tool tab</li>
    <li>Choose both databases. For simplicity sake, you always apply changes from database #2 to database #1</li>
    <li>Review the changes. In detailed view you can see every single change</li>
    <li>Apply the changes you want to apply and save database # 1</li>
</ul>

<div class="bg-image">
    <a href="#path images/BGDatabase/MergeTool1.png"><img style="width: 400px" src="#path images/BGDatabase/MergeTool1.png"></a>
</div>

<div class="bg-image">
    <a href="#path images/BGDatabase/MergeTool2.png"><img style="width: 400px" src="#path images/BGDatabase/MergeTool2.png"></a>
</div>

<h4>Using MergeTool in multi-user environment</h4>
<p>
    If you have more than one developer, who can edit database values in your project, you can use MergeTool to resolve conflicts.
</p>
<p>
    Let's say you changed the database and want to commit the changes to your source control system (Git/Perforce/etc.),
    however you see that database file was already changed by somebody else.
    To resolve the conflict in this case, do the following:
</p>

<ul>
    <li>Copy your local database to some folder outside of your project</li>
    <li>Resolve the conflict by replacing your local database with the file from source control system</li>
    <li>Open MergeTool and for database#2 field uncheck "Use saved default database" and select previously saved file from Step 1</li>
    <li>Review your changes and apply them</li>
    <li>Please, note, in some cases, you need to discuss the changes with your colleague to avoid erasing his changes (this could happen if you changed the same row and field).
        Alternatively, you can use Merge Tool to review the changes your colleague made.
    </li>
</ul>
<p>
    Also, another option for multi-user environment setup is to use <a href="../ThirdParty/GoogleSheets">Google Sheets</a> spreadsheet with lock sheet as primary source of data.
</p>