#set page=Drafts


<h4>Validation</h4>

<p>
    Data validation allows to set the rules to validate data.
    Validation works in Unity Editor only and has no effect at runtime.
    To turn on validation, press on "Validation off" button at the top left of BGDatabase window.
</p>

<h4>Validation types</h4>
<ol>
    <li><a href="#data">Database data validation</a></li>
    <li><a href="#scene">Scene objects validation</a> (Binders and BGEntityGo components)</li>
</ol>

<h4 id="data">Database data validation</h4>
<table class="contentTable">
    <tr>
        <th>
            Validation rule
        </th>
        <th>
            Description
        </th>
    </tr>
    <tr>
        <td>Entity name is unique</td>
        <td>If entity has a name, it should be unique</td>
    </tr>
    <tr>
        <td>Entity name is empty</td>
        <td>Entities should have no name (names can be cleared under Configuration tab)</td>
    </tr>
    <tr>
        <td>Entity is singleton</td>
        <td>Only one single entity should exist</td>
    </tr>
    <tr>
        <td>Field is required</td>
        <td>Field should have some value. Only class-based fields are affected, cause struct-based fields always have a value</td>
    </tr>
</table>
<p>
    To review validation log, hover over red E icons as shown on the screenshot below.
    E icon is shown only if at least one error exists.
</p>
<div class="bg-image">
    <a href="#path images/BGDatabase/Validation1.png"><img style="width: 400px" src="#path images/BGDatabase/Validation1.png"></a>
</div>

<h4  id="scene">Scene objects validation</h4>
todo