#set page=Features

<div>
    <ul class="mdl-list">
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content v122">
                Tested on IOS, Android, WebGl, Net Core
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content v12">
                Two types of approximation 1) Uniform 2) Adaptive
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content v12">
            Animation support
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content v12">
            Custom fields for points
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content v12">
            Point store options: 1) Inlined, 2) as Components, 3) as Game Objects
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content v12">
                <!--<i class="material-icons mdl-list__item-icon">info_outline</i>-->
            Snapping (to terrain etc.)
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content v11">
            Base math for Bezier splines (get Total Distance, get Position by distance,
            get Tangent by distance, get Position and Distance by Closest point to a spline)
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content v11">
            2D mode
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content v11">
                <a href="../Cc">Components (no scripting required)</a>
            </span>

        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content v11">
            Rectangular selection for points in SceneView
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content v11">
            Context menu in SceneView for 1) points 2) points selection
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content v11">
            New points have preview in SceneView before adding
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content v10">
            A lot of Editor settings
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content v10">
            Save/Load settings
            </span>
        </li>
    </ul>
</div>
<h4>Roadmap</h4>
<p>
    Currently no features in development.
</p>
