#set pageCss=css/root.css
#set GA=UA-76367732-1
#set section=Root
#set metadescription=BansheeGz is Games and Unity assets Developer.

<style>
    .bg-love {
        padding-bottom: 0 !important;
        font-family: "Helvetica", "Arial", sans-serif;
        color: #757575 !important;
        font-weight: 700 !important;
        font-size: 14px !important;
        padding: 0 10%;
        text-align: center;
        width: 80%;
    }

    .bg-love:hover {
        border-bottom: 4px solid #8bc34a;
    }

    .bg-reason {
        font-family: "Helvetica", "Arial", sans-serif;
        font-size: 10px;
        text-align: center;
        width: 100%;
    }

    .bg-kiss {
        background-image: url(images/heartC.png) !important;
        background-size: 48px 48px;
        background-repeat: no-repeat;
    }

</style>

<link rel="stylesheet" href="css/slider-pro.min.css"/>
<script src="js/jquery.sliderPro.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#my-slider').sliderPro({
            width: 700,
            height: 439,
            arrows: true,
            buttons: true,
//            fade: true,
            autoplayDelay:3000,
//            fadeDuration:700
        });
    });
</script>

<div style="margin-top: 10px;">
    <div class="slider-pro" id="my-slider">
        <div class="sp-slides">
            <!-- Slide 1 -->
            <div class="sp-slide">
                <img class="sp-image" src="images/Slide1.jpg"/>
                <p class="sp-caption"><a href="./BGCurve/BGSplineColliders">BG Spline Colliders</a> is procedural colliders for Unity3D</p>
            </div>

            <!-- Slide 2 -->
            <div class="sp-slide">
                <p>Lorem ipsum dolor sit amet</p>
                <img class="sp-image" src="images/Slide2.jpg"/>
                <p class="sp-caption"><a href="./BGCurve">BG Curve</a> is free Bezier Spline Editor for Unity3D</p>
            </div>

        </div>
    </div>
</div>
