#set pageCss=css/root.css
#set GA=UA-76367732-1
#set section=Root
#set description=BansheeGz is a games and Unity assets development team.



    <div class="bg-products">
        <div class="bg-products-bag mdl-grid">
            <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                <div class="mdl-card__title">
                    <h4 class="mdl-card__title-text">BG Curve</h4>
                </div>
                <hr>
                <div class="mdl-card__media">
                    <img src="images/BGCurveOptimize.gif">
                </div>
                <div class="mdl-card__supporting-text">
                    <span class="mdl-typography--font-light mdl-typography--subhead">Bezier curve editor for Unity 5.3 (free)</span>
                </div>
                <div class="mdl-card__actions">
                    <a class="bg-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="BGCurve">
                        More info
                        <i class="material-icons">chevron_right</i>
                    </a>
                </div>
            </div>

            <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                <div class="mdl-card__title">
                    <h4 class="mdl-card__title-text">BG Curve Decorator</h4>
                </div>
                <hr>
                <div class="mdl-card__supporting-text">
                    <span class="mdl-typography--font-light mdl-typography--subhead">Procedural Geometry Toolkit for Unity 5.3</span>
                </div>
                <div class="mdl-card__media">
                    <img class="bg-img-indev" src="images/CrazyOptimized.gif">
                </div>
                <div class="mdl-card__supporting-text">
                    <span class="mdl-typography--font-light mdl-typography--subhead bg-main-status-root">Status: Suspended (upd. 22.08.2016)</span>
                </div>
            </div>
        </div>
    </div>