#set pageCss=css/root.css
#set GA=UA-76367732-1
#set section=Root
#set metadescription=BansheeGz is a games and Unity assets development team. We also stream games on Twitch and Youtube.

<style>
    .bg-love {
        padding-bottom: 0 !important;
        font-family: "Helvetica", "Arial", sans-serif;
        color: #757575 !important;
        font-weight: 700 !important;
        font-size: 14px !important;
        padding: 0 10%;
        text-align: center;
        width: 80%;
    }

    .bg-love:hover {
        border-bottom: 4px solid #8bc34a;
    }

    .bg-reason {
        font-family: "Helvetica", "Arial", sans-serif;
        font-size: 10px;
        text-align: center;
        width: 100%;
    }

    .bg-kiss{
        background-image: url(images/SealedByAKissC.png)!important;
        background-size: 48px 48px;
        background-repeat: no-repeat;
    }

</style>

<div class="bg-products">
    <div class="bg-products-bag mdl-grid">
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
            <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">Also:</h4>
            </div>
            <hr>
            <div class="bg-border">
                <a class="mdl-navigation__link bg-love bg-kiss" href="https://en.wikipedia.org/wiki/Technological_singularity"
                   style="background-position: 21%;"  target="_blank" >WE_______ARTIFICIAL_INTELLIGENCE</a>
            </div>
            <div class="bg-border">
                <a class="mdl-navigation__link bg-love bg-kiss" href="https://www.nvidia.com"
                   style="background-position: 43%;"  target="_blank" >WE_______GAMERS</a>
                <div class="bg-reason">For bringing AI dream to life</div>
            </div>
        </div>

        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
            <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">Also:</h4>
            </div>
            <hr>
            <div class="bg-border">
                <a class="mdl-navigation__link bg-love  bg-kiss" href="https://en.wikipedia.org/wiki/Voodoo_programming"
                   style="background-position: 23%;"  target="_blank" >WE_______VODOO_PROGRAMMING</a>
            </div>
            <div class="bg-border">
                <a class="mdl-navigation__link bg-love  bg-kiss" href="https://www.jetbrains.com/"
                   style="background-position: 39%;"  target="_blank" >WE_______JET_BRAINS</a>
                <div class="bg-reason">For making the Best IDEs in the World</div>
            </div>
        </div>
    </div>
</div>