#set page=Addons

Addons are special classes that extends database functionality
<ol>
    <li>
        <a href="SaveLoad">SaveLoad</a>
        - Defines settings for saving and loading database state.
        You can define which tables and fields you wish to be saved.
    </li>
    <li>
        <a href="CodeGeneration">CodeGeneration</a>
        - Code generation greatly simplify database access
    </li>
    <li>
        <a href="LazyLoad">LazyLoad</a>
        - Enable this addon to enable lazy loading of the database.
        This can be very helpful during development to avoid loading full database each time.
    </li>
    <li>
        <a href="LiveUpdate">LiveUpdate</a>
        - Allows to update Database from players devices
    </li>
    <li>
        <a href="Multithreading">Multithreading</a>
        - Multithreading addon creates multi-threaded environment
    </li>
    <li>
        <a href="Localization">Localization</a>
        - Localization is paid addon, which support text/assets localizing
    </li>
</ol>
