#set page=Downloads

<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=cs&amp;skin=desert"></script>

<p>
    Free downloads for BGDatabase package.
</p>
<table class="contentTable">
    <tr>
        <th>#</th>
        <th>Preview</th>
        <th>Type</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>1</td>
        <td><a href="BGDatabaseLite"><img class="previewDownloadImage" src="#path images/BGDatabase/download6.gif"></img></a></td>
        <td>Lite package</td>
        <td><a href="BGDatabaseLite">BGDatabase Lite: free lite package with basic functionality</a></td>
    </tr>
    <tr>
        <td>2</td>
        <td><a href="Example3DBasic"><img class="previewDownloadImage" src="#path images/BGDatabase/download5.gif"></img></a></td>
        <td>Example</td>
        <td><a href="Example3DBasic">Very basic 3D example</a></td>
    </tr>
    <tr>
        <td>3</td>
        <td><a href="Example2DBasic"><img class="previewDownloadImage" src="#path images/BGDatabase/download1.gif"></img></a></td>
        <td>Example</td>
        <td><a href="Example2DBasic">2D variant of our basic 3D example</a></td>
    </tr>
    <tr>
        <td>4</td>
        <td><a href="ExampleInventory"><img class="previewDownloadImage" src="#path images/BGDatabase/download2.gif"></img></a></td>
        <td>Example</td>
        <td><a href="ExampleInventory">Inventory system, built with BGDatabase (advanced example)</a> </td>
    </tr>
    <tr>
        <td>5</td>
        <td><a href="ExampleLocalization"><img class="previewDownloadImage" src="#path images/BGDatabase/download7.gif"></img></a></td>
        <td>Example</td>
        <td><a href="ExampleLocalization">Example for localization addon</a></td>
    </tr>
    <tr>
        <td>6</td>
        <td><a href="EditorExcelMonitor"><img class="previewDownloadImage" src="#path images/BGDatabase/download3.gif"></img></a></td>
        <td>Editor tool</td>
        <td><a href="EditorExcelMonitor">Excel file monitor for Editor</a></td>
    </tr>
    <tr>
        <td>7</td>
        <td><a href="RuntimeExcelMonitor"><img class="previewDownloadImage" src="#path images/BGDatabase/download4.gif"></img></a></td>
        <td>Runtime extension</td>
        <td><a href="RuntimeExcelMonitor">Excel file monitor for Runtime (PC / Mac / Linux only)</a></td>
    </tr>
    <tr>
        <td>8</td>
        <td><a href="RuntimeSaveLoad"><img class="previewDownloadImage" src="#path images/BGDatabase/download8.png"></img></a></td>
        <td>Runtime extension</td>
        <td><a href="RuntimeSaveLoad">Save/Load custom actions for Playmaker and Bolt (using SaveLoad addon)</a></td>
    </tr>
    <tr>
        <td>9</td>
        <td><a href="RuntimeAddressablesPlaymaker"><img class="previewDownloadImage" src="#path images/BGDatabase/download9.png"></img></a></td>
        <td>Runtime extension</td>
        <td><a href="RuntimeAddressablesPlaymaker">Custom action for Playmaker and Addressables system</a> </td>
    </tr>
    <tr>
        <td>10</td>
        <td><a href="RuntimeAddressables"><img class="previewDownloadImage" src="#path images/BGDatabase/download14.png"></img></a></td>
        <td>Runtime extension</td>
        <td><a href="RuntimeAddressables">Support for Unity's Addressables system</a></td>
    </tr>
    <tr>
        <td>11</td>
        <td><a href="ExampleAddressables"><img class="previewDownloadImage" src="#path images/BGDatabase/download12.png"></img></a></td>
        <td>Example</td>
        <td><a href="ExampleAddressables">Addressables Quick start: example project for Addressables system</a></td>
    </tr>
    <tr>
        <td>12</td>
        <td><a href="CustomFields"><img class="previewDownloadImage" src="#path images/BGDatabase/download10.png"></img></a></td>
        <td>Custom fields</td>
        <td><a href="CustomFields">AnimationCurve field for Unity >= 2018</a></td>
    </tr>
</table>
