#set page=Downloads

<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=cs&amp;skin=desert"></script>


<style>
    .ver {
        font-size: small;
        white-space: nowrap;
    }

    .centerTemp {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>

<p>
    Free downloads for BGDatabase package.
</p>
<table class="contentTable">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Type</th>
        <th>Version</th>
        <th>Description</th>
        <th>Download</th>
    </tr>

    <tr>
        <td>1</td>
        <td><a href="#2dExample">2D example</a></td>
        <td>Example</td>
        <td class="ver">1.0-12/12/2018</td>
        <td>2D variant of our 3D game prototype</td>
        <td><a href="bgdatabase1.0_2D_game_prototype.unitypackage">link</a></td>
    </tr>
    <tr>
        <td>2</td>
        <td><a href="#inventory">Inventory example</a></td>
        <td>Example</td>
        <td class="ver">1.0-12/12/2018</td>
        <td>Inventory system, built with BGDatabase</td>
        <td><a href="bgdatabase1.0_inventory.unitypackage">link</a></td>
    </tr>
    <tr>
        <td>3</td>
        <td><a href="#excelEditor">Excel file monitor for Editor</a></td>
        <td>Editor tool</td>
        <td class="ver">1.0-22/07/2019</td>
        <td>Editor monitor for excel file</td>
        <td><a href="BansheeGzExcelEditor.unitypackage">link</a></td>
    </tr>
    <tr>
        <td>4</td>
        <td><a href="#excelRuntime">Excel file monitor for Runtime (PC/Mac/Linux only)</a></td>
        <td>Runtime extension</td>
        <td class="ver">1.0-22/07/2019</td>
        <td>Runtime monitor for excel file</td>
        <td><a href="BansheeGzExcelRuntime.unitypackage">link</a></td>
    </tr>
    <tr>
        <td>5</td>
        <td><a href="#saveLoad">Save/Load actions for Playmaker/Bolt</a></td>
        <td>Runtime extension</td>
        <td class="ver">1.0-05/08/2019</td>
        <td>Save/Load actions for <a href="../ThirdParty/Playmaker">Playmaker</a>/<a href="../ThirdParty/Bolt">Bolt</a></td>
        <td>
            <a href="BGDatabaseSaveLoadPlaymaker.unitypackage">Playmaker</a> |
            <a href="BGDatabaseSaveLoadBoltV1.unitypackage">Bolt v1</a> |
            <a href="BGDatabaseSaveLoadBoltV2.unitypackage">Bolt v2</a>
        </td>
    </tr>
    <tr>
        <td>6</td>
        <td><a href="#addressables">Addressables system support</a></td>
        <td>Runtime extension</td>
        <td class="ver">1.0-01/09/2019</td>
        <td>Support for Unity's <a href="https://docs.unity3d.com/Packages/com.unity.addressables@1.1/manual/AddressableAssetsGettingStarted.html">addressables</a> system</td>
        <td><a href="BGDatabaseAddressables.unitypackage">link</a></td>
    </tr>
</table>

<div id="2dExample">
    <h4>1. 2D example</h4>
    <p>
        2D variant of our <a href="../ExampleBreakdown">3D game prototype</a>, shipped with the package (level=beginner).
    </p>

    <p>
        Video tutorial for this 2D example is available <a href="../Videos">here</a>
    </p>
    <img src="../../images/BGDatabase/download1.gif">
    <div>
        <b>How to run:</b>
        <ol>
            <li>Create an empty project</li>
            <li>Import BGDatabase asset</li>
            <li>Import downloaded example project</li>
            <li>Run example scene (under Game/Scene)</li>
        </ol>
    </div>
</div>

<div id="inventory">
    <h4>2. Inventory system</h4>
    <p>
        Inventory system, built with BGDatabase (level=advanced).
    </p>
    <img src="../../images/BGDatabase/download2.gif">
    <div>
        <b>How to run:</b>
        <ol>
            <li>Create an empty project</li>
            <li>Import BGDatabase asset</li>
            <li>Import downloaded example project</li>
            <li>Run example scene (under Game/Scene)</li>
        </ol>
    </div>
</div>

<div id="excelEditor">
    <h4>3. Excel file monitor for Editor</h4>
    <div>
        <b>Features:</b>
        <ol>
            <li>Monitor and auto import Excel file in Unity Editor</li>
        </ol>
    </div>
    <img src="../../images/BGDatabase/download3.gif">
    <div>
        <b>Setup:</b>
        <ol>
            <li>Import BGDatabase package and create your own database as described <a href="http://www.bansheegz.com/BGDatabase/Setup/">here</a></li>
            <li>Import BansheeGzExcelEditor package</li>
            <li>Export required data to Excel file as described <a href="http://www.bansheegz.com/BGDatabase/ThirdParty/Excel/">here</a></li>
            <li>Open up Window->BansheeGzExcelTools window</li>
            <li>Set "File" parameter to excel file path</li>
            <li>Turn "On" parameter on.</li>
            <li>Open exported excel file, change some data and save the file (Ctrl+s)</li>
            <li>Data will be imported to BGDatabase.</li>
        </ol>
    </div>
</div>

<div id="excelRuntime">
    <h4>4. Excel file monitor for Runtime</h4>
    <div>
        <b>Features:</b>
        <ol>
            <li>Update database data at runtime (in builds) with data from Excel file (PC/Mac/Linux only)</li>
            <li>Monitor excel file and auto-import the data if file changes (PC/Mac/Linux only)</li>
        </ol>
    </div>
    <img src="../../images/BGDatabase/download4.gif">
    <div>
        <b>Setup:</b>
        <ol>
            <li>Import BGDatabase package and create your own database as described <a href="http://www.bansheegz.com/BGDatabase/Setup/">here</a></li>
            <li>Move (not copy!) Assets\BansheeGz\BGDatabase\Editor\Libs\NPOI folder to Assets\Libs (or to any other folder, which is not under Editor folder)</li>
            <li>Import BansheeGzExcelRuntime package</li>
            <li>Add Assets\BansheeGzExcelRuntime\BGExcelImportGo.cs to your scene</li>
            <li>Export required data to Excel as described <a href="http://www.bansheegz.com/BGDatabase/ThirdParty/Excel/">here</a></li>
            <li>Run your scene</li>
            <li>Click to "Excel>>" button to access settings</li>
            <li>Set "File" parameter to previously exported excel file location</li>
            <li>Optionally set "monitoring" to true to auto monitor the file</li>
            <li>Optionally set "importOnStart" to run import on scene load</li>
            <li>Optionally press "Save Settings" to save the settings</li>
            <li>Open excel file, change the data and save the file (Ctrl+s)</li>
            <li>BGDatabase data should be updated. All binders in the scene will be executed after that.</li>
        </ol>
    </div>
    <div>
        <b>Example:</b>
        <p>
            Example scene is available in Assets\BansheeGzExcelRuntime\Example\ folder.
            It works with default database, shipped with BGDatabase package.
            This example shows, how to update Player.gold field with excel at runtime.
        </p>
    </div>
    <div>
        <b>Example setup and run:</b>
        <ol>
            <li>Create empty project</li>
            <li>Import BGDatabase package</li>
            <li>Move (not copy!) Assets\BansheeGz\BGDatabase\Editor\Libs\NPOI folder to Assets\Libs (or to any other folder, which is not under Editor folder).
                Select all dlls under Assets\Libs\NPOI, and in the inspector toggle "Standalone" on and click "Apply"
            </li>
            <li>Import BansheeGzExcelRuntime package</li>
            <li>Open Assets\BansheeGzExcelRuntime\Example\BGDatabaseExcelRuntimeExample.unity scene</li>
            <li>Run the scene</li>
            <li>Click on "Excel>>" button, and set "File" parameter to full testData.xls file path. (file is located here: Assets\BansheeGzExcelRuntime\Example\testData.xls,
                but the parameter should be set to full path, for example: <i>c:\MyProject\Assets\BansheeGzExcelRuntime\Example\testData.xls</i>
            </li>
            <li>Click on "Save Settings" button</li>
            <li>Now open testData.xls file in Excel/OpenOffice/LibreOffice, change Player.gold value, and Save the file (Ctrl+s)</li>
            <li>Value in the database and text on the screen will be changed</li>
        </ol>
    </div>
</div>

<div id="saveLoad">
    <h4>5. Save/Load actions for Playmaker/Bolt</h4>
    <p>
        Custom actions for Playmaker and Bolt to support <a href="../Addons/SaveLoad">SaveLoad addon</a>.
        Actions allow you to save/load game to/from file(s), located in the <a href="https://docs.unity3d.com/ScriptReference/Application-persistentDataPath.html">Unity's persistent folder</a>.
    </p>
    <div>
        Following actions are available:
        <ol>
            <li>SaveGame: save a game to a file.</li>
            <li>LoadGame: load a game from a file.</li>
            <li>ListSaves: load all file names to string array (without path and extension)</li>
            <li>DeleteSave: delete saved file.</li>
        </ol>
    </div>
    <div>
        Additional information:
        <ol>
            <li>All files have ".sav" extension.</li>
            <li>SaveGame/LoadGame/DeleteSave have optional <i>fileName</i> parameter (default is "game").
                <i>fileName</i> parameter format is a file name without path and extension.
            </li>
            <li>All actions have "debug" parameter- if it's turned on, information about files is printed to Unity console.</li>
        </ol>
    </div>
</div>
<div id="addressables">
    <h4>6. Support for Unity's addressables system</h4>
    <h6>Setup: </h6>
    <ol>
        <li>Use Unity version &gt; 2018.3</li>
        <li>Install Unity's addressables package via package manager</li>
        <li>Install latest BGDatabase</li>
        <li>Download and install latest <a href="BGDatabaseAddressables.unitypackage">BGDatabase.Addressables</a> package</li>
        <li>If you installed our beta package with experimental addressables support, which was bundled with our asset, please,
            delete the following folders: <i>Assets\BansheeGz\BGDatabase\Pins</i> and <i>Assets\BansheeGz\BGDatabase\Editor\Pins</i></li>
        <li>Create your own database as described <a href="../Setup">here</a></li>
        <li>Create a table with <a href="../SupportedFields#unityassets">Unity assets</a> fields and set loader=Addressables or loader=AddressablesByGuid via gear icon</li>
    </ol>
    <div class="bg-image">
        <a href="#path images/BGDatabase/Addressables1.png"><img style="width: 400px" src="#path images/BGDatabase/Addressables1.png"></a>
    </div>


    <h6>Loaders type: </h6>
    <ol>
        <li>Addressable: Pros: Address is stored as database value in human readable form. Cons: If address is changed after it was assign to database field, you need to reassign database field value again</li>
        <li>AddressableByGuid: Pros: you can change address without breaking connection to the asset. Cons: Asset Guid is stored as value in database instead of readable address</li>
    </ol>


    <h6>Restriction (preloading): </h6>
    <p>
        Before reading values from database, you need to preload required values, otherwise values will not be resolved successfully (null will be returned).
        You have full control over which values you want to preload: you can use database values or Addressables system to decide which values to preload.
        The script below preload all values from all rows/fields, you can modify it to preload only required part of database.
    </p>
    <pre class="prettyprint">
       //---------- PRELOAD SCRIPT: this code is tested against 1.10 version
       // This script preload all values from database. You can modify it to preload only required part.
        IList&lt;object&gt; addresses = new List&lt;object&gt;();
        //iterate all tables
        BGRepo.I.ForEachMeta(meta =&gt;
        {
            //find all fields with addressables loader
            List&lt;BGStorable&lt;string&gt;&gt; fieldsWithLoaders = null;
            meta.ForEachField(field =&gt;
            {
                // if not Unity asset field- skip it
                if (!(field is BGAssetLoaderA.WithLoaderI) || !(field is BGStorable&lt;string&gt;)) return;

                var fieldWithLoader = (BGAssetLoaderA.WithLoaderI) field;

                // if not a field with addressables loader- skip it
                if (!(fieldWithLoader.AssetLoader is BGAssetLoaderAddressables)) return;

                fieldsWithLoaders = fieldsWithLoaders ?? new List&lt;BGStorable&lt;string&gt;&gt;();
                fieldsWithLoaders.Add((BGStorable&lt;string&gt;) field);
            });

            if (fieldsWithLoaders == null) return;

            //iterate all entities(rows)
            meta.ForEachEntity(entity =&gt;
            {
                //iterate all fields with addressable asset
                for (var i = 0; i &lt; fieldsWithLoaders.Count; i++)
                {
                    var address = fieldsWithLoaders[i].GetStoredValue(entity.Index);
                    //if it has some value- add it to addresses.
                    if (!string.IsNullOrEmpty(address)) addresses.Add(address);
                }
            });

        });

        //remove duplicates
        addresses=addresses.Distinct().ToList();

        //load all assets using their addresses
        var asyncOperation = Addressables.LoadAssets&lt;Object&gt;(addresses, null, Addressables.MergeMode.Union);
        asyncOperation.Completed += operation =&gt;
        {
            //all assets are ready to use
        };

        </pre>

</div>