#set page=Downloads
#set _skipTemplate=true

<style>
    .contentTable tr td h4{
        margin: 0;
        padding: 10px 0 10px 5px;
        background-image: url("#path images/BGDatabase/downloads-background.jpg");
    }
    .contentTable td[colspan]{
        padding: 0;
    }
</style>

<p>
    Free downloads for BGDatabase package.
</p>

<table class="contentTable">
    <tr>
        <td colspan="3">
            <h4>Lite package</h4>
        </td>
    </tr>
<!--
    <tr>
        <th>#</th>
        <th>Preview</th>
        <th>Description</th>
    </tr>
-->
    <tr>
        <td>1</td>
        <td><a href="BGDatabaseLite"><img class="previewDownloadImage" src="#path images/BGDatabase/download6.gif"></img></a></td>
        <td><a href="BGDatabaseLite">BGDatabase Lite: free lite package with basic functionality</a></td>
    </tr>
    <tr>
        <td colspan="3">
            <h4>Examples</h4>
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td><a href="Example3DBasic"><img class="previewDownloadImage" src="#path images/BGDatabase/download5.gif"></img></a></td>
        <td><a href="Example3DBasic">Very basic 3D example</a></td>
    </tr>
    <tr>
        <td>3</td>
        <td><a href="Example2DBasic"><img class="previewDownloadImage" src="#path images/BGDatabase/download1.gif"></img></a></td>
        <td><a href="Example2DBasic">2D variant of our basic 3D example</a></td>
    </tr>
    <tr>
        <td>4</td>
        <td><a href="ExampleInventory"><img class="previewDownloadImage" src="#path images/BGDatabase/download2.gif"></img></a></td>
        <td><a href="ExampleInventory">Inventory system, built with BGDatabase (advanced example)</a> </td>
    </tr>
    <tr>
        <td>5</td>
        <td><a href="ExampleLocalization"><img class="previewDownloadImage" src="#path images/BGDatabase/download7.gif"></img></a></td>
        <td><a href="ExampleLocalization">Example for localization addon</a></td>
    </tr>
    <tr>
        <td>6</td>
        <td><a href="ExampleAddressables"><img class="previewDownloadImage" src="#path images/BGDatabase/download12.png"></img></a></td>
        <td><a href="ExampleAddressables">Addressables Quick start: example project for Addressables system</a></td>
    </tr>
    <tr>
        <td colspan="3">
            <h4>Editor tools</h4>
        </td>
    </tr>
    <tr>
        <td>7</td>
        <td><a href="EditorExcel"><img class="previewDownloadImage" src="#path images/BGDatabase/download29.png"></img></a></td>
        <td><a href="EditorExcel">Excel integration for Editor</a></td>
    </tr>
    <tr>
        <td>8</td>
        <td><a href="EditorGoogleSheets"><img class="previewDownloadImage" src="#path images/BGDatabase/download30.png"></img></a></td>
        <td><a href="EditorGoogleSheets">GoogleSheets integration for Editor</a></td>
    </tr>
    <tr>
        <td>9</td>
        <td><a href="EditorExcelMonitor"><img class="previewDownloadImage" src="#path images/BGDatabase/download3.gif"></img></a></td>
        <td><a href="EditorExcelMonitor">Excel file monitor for Editor</a></td>
    </tr>
    <tr>
        <td>10</td>
        <td><a href="EditorAmazonTranslate"><img class="previewDownloadImage" src="#path images/BGDatabase/download31.png"></img></a></td>
        <td><a href="EditorAmazonTranslate">Amazon Translation plugin for BGLocalization</a></td>
    </tr>
    <tr>
        <td colspan="3">
            <h4>Runtime extensions</h4>
        </td>
    </tr>
    <tr>
        <td>11</td>
        <td><a href="RuntimeGoogleSheets"><img class="previewDownloadImage" src="#path images/BGDatabase/download18.png"></img></a></td>
        <td><a href="RuntimeGoogleSheets">GoogleSheets export/import for runtime (in beta currently)</a></td>
    </tr>
    <tr>
        <td>12</td>
        <td><a href="RuntimeExcelMonitor"><img class="previewDownloadImage" src="#path images/BGDatabase/download4.gif"></img></a></td>
        <td><a href="RuntimeExcelMonitor">Excel file monitor for Runtime (PC / Mac / Linux only)</a></td>
    </tr>
    <tr>
        <td>13</td>
        <td><a href="RuntimeAddressables"><img class="previewDownloadImage" src="#path images/BGDatabase/download14.png"></img></a></td>
        <td><a href="RuntimeAddressables">Support for Unity's Addressables system</a></td>
    </tr>
    <tr>
        <td>14</td>
        <td><a href="RuntimeEditor"><img class="previewDownloadImage" src="#path images/BGDatabase/download38.png"></img></a></td>
        <td><a href="RuntimeEditor">Database runtime editor</a></td>
    </tr>
    <tr>
        <td colspan="3">
            <h4>Playmaker</h4>
        </td>
    </tr>
    <tr>
        <td>15</td>
        <td><a href="RuntimeAddressablesPlaymaker"><img class="previewDownloadImage" src="#path images/BGDatabase/download9.png"></img></a></td>
        <td><a href="RuntimeAddressablesPlaymaker">Custom action for Playmaker and Addressables system</a> </td>
    </tr>
    <tr>
        <td>16</td>
        <td><a href="RuntimeSaveLoadPlaymaker"><img class="previewDownloadImage" src="#path images/BGDatabase/download8.png"></img></a></td>
        <td><a href="RuntimeSaveLoadPlaymaker">Save/Load custom action for Playmaker to support SaveLoad addon</a></td>
    </tr>

    <tr>
        <td colspan="3">
            <h4>Unity Visual Scripting (ex-Bolt)</h4>
        </td>
    </tr>
    <tr>
        <td>17</td>
        <td><a href="RuntimeAddressablesBolt"><img class="previewDownloadImage" src="#path images/BGDatabase/download15.png"></img></a></td>
        <td><a href="RuntimeAddressablesBolt">Custom units for Visual Scripting (Bolt) to load assets from Addressables system</a> </td>
    </tr>
    <tr>
        <td>18</td>
        <td><a href="RuntimeSaveLoadBolt"><img class="previewDownloadImage" src="#path images/BGDatabase/download16.png"></img></a></td>
        <td><a href="RuntimeSaveLoadBolt">Save/Load custom unit for Visual Scripting (Bolt) to support SaveLoad addon</a></td>
    </tr>
    <tr>
        <td>19</td>
        <td><a href="RuntimeBoltGenericUnits"><img class="previewDownloadImage" src="#path images/BGDatabase/download41.png"></img></a></td>
        <td><a href="RuntimeBoltGenericUnits">Generic database access units for Visual Scripting (Bolt)</a></td>
    </tr>

    <tr>
        <td colspan="3">
            <h4>Flow Canvas</h4>
        </td>
    </tr>
    <tr>
        <td>20</td>
        <td><a href="RuntimeSaveLoadFlowCanvas"><img class="previewDownloadImage" src="#path images/BGDatabase/download44.png"></a></td>
        <td><a href="RuntimeSaveLoadFlowCanvas">Save/load addon integration package for Flow Canvas</a></td>
    </tr>

    <tr>
        <td colspan="3">
            <h4>Game Creator</h4>
        </td>
    </tr>
    <tr>
        <td>21</td>
        <td><a href="GameCreator"><img class="previewDownloadImage" src="#path images/BGDatabase/download43.png"></a></td>
        <td><a href="GameCreator">Integration plug-in for Game Creator</a></td>
    </tr>

    <tr>
        <td colspan="3">
            <h4>Misc</h4>
        </td>
    </tr>
    <tr>
        <td>22</td>
        <td><a href="CustomFields"><img class="previewDownloadImage" src="#path images/BGDatabase/download10.png"></img></a></td>
        <td><a href="CustomFields">Custom fields</a></td>
    </tr>
    <tr>
        <td>23</td>
        <td><a href="Uncategorized"><img class="previewDownloadImage" src="#path images/BGDatabase/download42.png"></img></a></td>
        <td><a href="Uncategorized">Uncategorized content</a></td>
    </tr>
</table>
