#set title=BGDatabase v.1.7.9  New navigation system
#set date=08/2022

<link rel="stylesheet" href="#path css/bgdatabase.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/rainbow.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>


<h4>Introducing new navigation system</h4>
<p>
    New navigation system consists of:
</p>
<ol>
    <li>Back/forward navigation buttons</li>
    <li>Right-click navigation</li>
</ol>

<h4>Back/forward navigation buttons</h4>
<div class="middleAlign">
    <img src="#path images/Blog/Blog25.gif">
</div>

<h4>Right-click navigation</h4>

<h6>Relations navigation</h6>
<div class="middleAlign">
    <img src="#path images/Blog/Blog26.gif">
</div>

<h6>Data binders Inspector navigation</h6>
<div class="middleAlign">
    <img src="#path images/Blog/Blog27.gif">
</div>

<h6>MonoBehaviour Inspector navigation</h6>
<div class="middleAlign">
    <img src="#path images/Blog/Blog29.gif">
</div>

<h4>Back/forward navigation setting</h4>
"Ignore navigation history if current entity is not set" parameter allows to ignore switching between different tables without selecting a row.
When the row is selected it's highlighted with different color.
If this row is not selected- then selecting a table will be ignored and will not be included into navigation history.
<div class="bg-image">
    <a href="#path images/Blog/Blog28.png"><img style="width: 400px" src="#path images/Blog/Blog28.png"></a>
</div>

<h4>What if I do not like new navigation?</h4>
<p>
    Navigation system can be disabled
</p>
<div class="bg-image">
    <a href="#path images/Blog/Blog24.png"><img style="width: 400px" src="#path images/Blog/Blog24.png"></a>
</div>
