#set page=How to use

<h4>General information</h4>
Database consists of 4 main parts:
<ol>
    <li>Table (meta)</li>
    <li>Table field</li>
    <li>Table row (entity)</li>
    <li>Database addon</li>
</ol>
Every table, field and entity has unique id (based on Guid generation) and name (table and field has unique name, 32 char max)
<div class="bg-image">
    <a href="#path images/BGDatabase/HoToUse1.png"><img style="width: 400px" src="#path images/BGDatabase/HoToUse1.png"></a>
</div>

<h4>How it works?</h4>
<p>
    Database works just like Unity does- it reverts all runtime changes.
    So it basically represent the world at the beginning of the game.
    You can save/load runtime changes with <a href="../Addons/SaveLoad">save/load add-on</a>.
</p>


<h4>Use Export/import</h4>
<p>
    You can edit database data in external tools (Excel/GoogleSheets).
    Use json export/import to create database backup.
</p>

<div class="flexdiv">
    <span>Read more about <a href="../ExportImport">Export/import</a></span>
</div>

<h4>Data binders</h4>
<p>
    Data binder components let you inject values from database to Unity's components (including your own ones, inherited from MonoBehaviour).
</p>
<div class="flexdiv">
    <span>Read more about <a href="../DataBinding">data binders</a></span>
</div>

<h4>Accessing the database at runtime</h4>
<ol>
    <li>With C# code using basic API (not recommended, use #2 instead)</li>
    <li>With C# code using generated classes (highly recommended over basic API)</li>
    <li>By adding BGEntityGo component to any GameObject and choosing table and row. (not recommended, use #4 instead)</li>
    <li>Instead of using BGEntityGo component, you can use generated components. (highly recommended over using BGEntityGo)</li>
    <li>By using generated actions for <a href="../ThirdParty/Playmaker">Playmaker</a> and  <a href="../ThirdParty/Bolt">Bolt</a></li>
</ol>
<p>
    Let's take a closer look at these methods.
</p>

<h6>1) Accessing the database using basic API (not recommended)</h6>
<p>
    Here is minimalistic example about how you can access database without code generation:
</p>
<pre class="nomargin"><code class="language-csharp">
 //get reference to database
var repo = BGRepo.I;
//get reference to table(called meta) MyTable by name
var meta = repo["MyTable"];
//get entity by id
var entity = meta[new BGId("some-id-here")];
//get int field value
var fieldValue = entity.Get&lt;int&gt;("myField");
//set int field value
entity.Set("myField", fieldValue + 1);
</code></pre>

<div class="flexdiv">
    <ol>
        <li>Read more about <a href="../API">basic C# API</a></li>
        <li>View <a href="../CodeExamples">code examples</a></li>
    </ol>
</div>

<h6>2) Accessing the database using generated classes (recommended)</h6>
<p>
    You can remove all boilerplate code by using generated classes.
    Here is the same example but written with help of generated classes.
</p>
<pre class="nomargin"><code class="language-csharp">
    //the same example with code generation
var entity = BGE_MyTable.GetEntity(new BGId("some-id-here"));
entity.myField = entity.myField + 1;
</code></pre>
<p>
    As you can see, using generated classes removes all boilerplate code and also adds compile time check
    in case the database structure is changed.
    E.g. for example, if you remove field myField or change it's name and regenerate the classes-
    you'll get compile-time errors, that myField property is not found.
</p>
<p>
    So using generated classes is highly recommended.
</p>
<div class="bg-image">
    <a href="#path images/BGDatabase/HoToUse2.png"><img style="width: 400px" src="#path images/BGDatabase/HoToUse2.png"></a>
</div>

<div class="flexdiv">
    <span>Read more about <a href="../CodeGeneration/ExtensionClasses">Code Generation</a> for extension classes</span>
</div>

<h6>3) Accessing database by adding BGEntityGo component (not recommended)</h6>
<p>
    You can easily hook up any GameObject to a database row by adding BGEntityGo component to it.
    Just add the component, select table (meta) and then select a row (entity)
    After that all fields will be immediately available for reading and writing.
</p>
<div class="bg-image">
    <a href="#path images/BGDatabase/HoToUse3.png"><img style="width: 400px" src="#path images/BGDatabase/HoToUse3.png"></a>
</div>

<p>
    However in this scenario you'll have to use basic API, which has a lot of boilerplate code.
</p>
<p>
    So, instead of this method, we highly recommend to use method 4, described below.
</p>

<h6>4) Instead of using BGEntityGo component, use generated classes (recommended)</h6>
<p>
    Apart from CodeGeneration, described in method 2, there is another type of CodeGeneration, which generates classes,
    inherited from Unity's MonoBehaviour class. These classes can be added to Unity's GameObject, just like BGEntityGo component,
    but all of them have additional properties for each table field, so you can use them instead of basic API.
    We highly recommend to use this method instead of method 3.
</p>
<div class="bg-image">
    <a href="#path images/BGDatabase/HoToUse4.png"><img style="width: 400px" src="#path images/BGDatabase/HoToUse4.png"></a>
</div>

<div class="flexdiv">
    <span>Read more about <a href="../CodeGeneration/MonoBehaviourClasses">Code Generation</a> for MonoBehaviour classes</span>
</div>
