#set title=BG Database v1.5.9: What is new?
#set date=06/2020

<h4>Table of content</h4>
<div>
    <ol>
        <li><a href="#rowHeightResize">Row height resizing</a></li>
        <li><a href="#draNDrop">Drag'n'drop improvements for asset fields</a></li>
        <li><a href="#copyPaste">New CopyPaste mode</a></li>
        <li><a href="#tableListCustomization">Table list customization</a></li>
        <li><a href="#encryption">Data encryption support</a></li>
        <li><a href="#keys">Custom keys to access row(s) quickly</a></li>
        <li><a href="#validation">Validation system redone</a></li>
    </ol>
</div>

<h4 id="rowHeightResize">1) Row height resizing</h4>
<div class="middleAlign">
    <img src="#path images/Blog/Blog10.gif"/>
</div>

<h4 id="draNDrop">2) Drag'n'drop improvements for asset fields</h4>
<div>Drag asset preview to cell button to copy value</div>
<div class="middleAlign">
    <img src="#path images/Blog/Blog11.gif"/>
</div>
<div>Drag asset preview to scene to instantiate an asset</div>
<div class="middleAlign">
    <img src="#path images/Blog/Blog12.gif"/>
</div>


<h4 id="copyPaste">3) New CopyPaste mode</h4>
<p>
    Turn on CopyPaste mode, hover over a cell, press Ctrl+C to copy, Ctrl+P to paste, Ctrl+X to cut cell value.
    CopyPaste mode is auto-disabled when any control receives focus. Hold Ctrl to highlight source/target cells.
</p>
<div class="middleAlign">
    <img src="#path images/Blog/Blog13.gif"/>
</div>

<h4 id="tableListCustomization">4) Table list customization</h4>
<p>Create custom table list view. Each view can have custom tables order, hidden tables, separators</p>
<div class="middleAlign">
    <img src="#path images/Blog/Blog15.gif"/>
</div>

<h4 id="encryption">5) Data encryption support</h4>
<p>Read more about data encryption <a href="../../BGDatabase/Addons/Settings#encryption">here</a></p>

<h4 id="keys">6) Custom Keys to access row(s) quickly</h4>
<p>Read more about keys <a href="../../BGDatabase/Misc#keys">here</a></p>
<div class="bg-image">
    <a href="#path images/Blog/Blog14.png"><img style="width: 400px" src="#path images/Blog/Blog14.png"></a>
</div>

<h4 id="validation">7) Validation system redone</h4>
<p>Read more about validation <a href="../../BGDatabase/Misc#validation">here</a></p>
<div class="bg-image">
    <a href="#path images/BGDatabase/Validation1.png"><img style="width: 400px" src="#path images/BGDatabase/Validation1.png"></a>
</div>