#set page=Export Import
#set _skipTemplate=true

<h4>Description</h4>
<p>The guides, related to data importing and exporting</p>

<h4>Common concept guides</h4>
<table class="contentTable">
    <tr>
        <th>Applies to</th>
        <th>Description and link</th>
    </tr>
    <tr>
        <td>All</td>
        <td><a href="Common">Jobs and data sources: how export/import system works</a></td>
    </tr>
    <tr>
        <td>All except JSON</td>
        <td><a href="MergeSettings">Merge settings, how to select which tables/fields should be included into data exchange</a></td>
    </tr>
    <tr>
        <td>Excel/GoogleSheets</td>
        <td><a href="ExcelAndGoogleSheets">Common concepts and advanced settings for Excel and Google Sheets</a></td>
    </tr>
    <tr>
        <td>Excel/GoogleSheets</td>
        <td><a href="DataStructureExtractionWizard">Data structure extraction wizard, the tool for transferring tables/fields from Excel and Google Sheets</a></td>
    </tr>
</table>

<h4>Product/format guides</h4>
<ol>
    <li><a href="../ThirdParty/GoogleSheets">Google Sheets</a></li>
    <li><a href="../ThirdParty/Excel">Excel</a></li>
    <li><a href="./Json">JSON</a></li>
    <li><a href="./Csv">CSV</a></li>
    <li><a href="./ScriptableObjects">Scriptable objects</a></li>
</ol>


