#set page=Export Import

<h4>What can I do with export/import?</h4>
<ol>
    <li>Export/import data to/from GoogleSheets or Excel in Unity Editor (during game development)</li>
    <li>Export/import data from/to Excel file at runtime (from builds, PC/Mac/Linux only) with
        <a href="../Downloads/RuntimeExcelMonitor">this plugin</a>.
        Optional excel file monitor, which auto-import data on file change, is also available.</li>
    <li>Excel file monitor, which auto-import excel data in Unity Editor, can be downloaded <a href="../Downloads/EditorExcelMonitor">here</a></li>
    <li>Update database data on players devices at runtime from GoogleSheets with <a href="../Addons/LiveUpdate">LiveUpdate</a> plugin</li>
    <li><span style="color: red">Currently there is no way to write to GoogleSheets at runtime from players devices </span>(<a href="#why">Why not?</a>)</li>
    <li>Backup/restore database in json format in Editor</li>
</ol>


<h4>Description</h4>
<p>
    You can edit database data in external tools, such as Excel/Open Office/Libre Office or Google Sheets.
</p>
<p>
    BG Database supports export/import to/from Excel files (xls and xlsx), Google Sheets and json (backup only).
</p>
<p>
    Full import/export works in Editor only, but you can update database data on players devices from GoogleSheets
    with <a href="../Addons/LiveUpdate">LiveUpdate addon</a>.
    No way to update GoogleSheets data from players devices yet.
</p>

<p>
    Use json export/import to create full database backup.
</p>

<p>
    This article describes common procedure and ideas, common for both Excel and Google Sheets.
    (click to view additional guides for <a href="../ThirdParty/Excel">Excel/OpenOffice</a> and <a href="../ThirdParty/GoogleSheets">GoogleSheets</a></i>)
</p>

<h4>General idea</h4>
Here is the illustration about how BGDatabase data is mapped to spreadsheets.
<div class="bg-image">
    <a href="#path images/BGDatabase/ExportImport1.png"><img style="width: 400px"
                                                             src="#path images/BGDatabase/ExportImport1.png"></a>
</div>

<h4>Setup guide for export/import</h4>
<ol>
    <li>Create a datasource for Excel/GoogleSheets</li>
    <li>Create a job</li>
    <li>[Optional] Choose tables/fields you want to export/import</li>
    <li>Export/import</li>
</ol>
<p>
    <i>Click for detailed guides for <a href="../ThirdParty/Excel">Excel</a> and <a href="../ThirdParty/GoogleSheets">GoogleSheets</a></i>
</p>
<p>
    Export does not require any additional steps, but if you want to import data from external datasource for the first time,
    you need to ensure the data has a proper layout (as described in "General idea" section),
    e.g. your sheets has the same name as your database tables and the first row has field names.
</p>
<div class="bg-image">
    <a href="#path images/BGDatabase/ExportImport6.png"><img style="width: 400px" src="#path images/BGDatabase/ExportImport6.png"></a>
</div>

<p>
    [Optionally] Also, if you want to create a link between your external data rows and database rows, you need to add _id column to your data
    and ensure a job's "Update ids on import" parameter is toggled on.
</p>
<div class="bg-image">
    <a href="#path images/BGDatabase/ExportImport7.png"><img style="width: 400px" src="#path images/BGDatabase/ExportImport7.png"></a>
</div>

<h4 id="mergeSettings">Using merge settings</h4>
<p>
    You have full control over which data you want to synchronize: you can add, delete, update and you can choose which
    fields you wish to update.
</p>
<p>
    Here is how it works:
    Every synchronization has a source and a destination.
    If you are exporting data from BDDatabase to, let's say, Excel file- the source is BGDatabase and a destination- is
    Excel file.
    Here is how data is classified during syncing:
</p>
<div class="bg-image">
    <a href="#path images/BGDatabase/ExportImport2.png"><img style="width: 400px"
                                                             src="#path images/BGDatabase/ExportImport2.png"></a>
</div>
<p>
    So, there are 3 types of rows during syncing:
</p>
<ol>
    <li>Matching rows : they exists in the Source and in the Destination. Can be updated and you can choose which fields
        to update.
    </li>
    <li>Missing rows : they exists only in the Source. Can be added to Destination.</li>
    <li>Orphaned rows : they exists only in the Destination. Can be removed from Destination.</li>
</ol>
<p>
    Let's look at merge settings and find out how we can define actions to take during syncing
</p>
<div class="bg-image">
    <a href="#path images/BGDatabase/ExportImport3.png"><img style="width: 400px"
                                                             src="#path images/BGDatabase/ExportImport3.png"></a>
</div>

<h4>Names mapping config</h4>
<p>
    By default naming convention is used to map sheets to tables and columns to fields.
    It can be overridden with names mapping config, which allows to use any names for sheets and columns and map them to tables/fields.
    Names mapping config is available for every data source and is used while importing/exporting from Unity Editor
</p>
<div class="bg-image">
    <a href="#path images/BGDatabase/ExportImport8.png"><img style="width: 400px"
                                                             src="#path images/BGDatabase/ExportImport8.png"></a>
</div>

<h4>Additional parameters</h4>
<table  class="contentTable">
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>Update Ids on import</td>
        <td>
            If you are adding new rows in external tools, leave _id column empty and enable this parameter.
            Id values from database will be transferred to _id column when you import new rows.
        </td>
    </tr>
    <tr>
        <td>Transfer rows order</td>
        <td>
            Rows order from the source will be transferred to the destination. Import/export and Excel/GoogleSheets are all supported.
        </td>
    </tr>
</table>


<h4 id="firstTime">Running Export/Import for the first time</h4>
<p>
    To be able to sync with BGDatabase, you need a corresponding structure created in Excel/GoogleSheets,
    e.g. you need sheets, named after your tables names and header columns, named after you field names (as described above in "General idea" section).
</p>
<p>
    You can easily create this structure by exporting your data to the empty spreadsheet/xls file
</p>
<ul>
    <li>Make sure to target empty spreadsheet/xls file</li>
    <li>Make sure to include all tables/fields you want to export in the settings. Included tables/fields will be highlighted in green</li>
    <li>Make sure all tables you want to include have "Add missing rows" toggle turned on.(cause all the rows will be "missing rows" when you export to empty spreadsheet)</li>
    <li>Export data once- all required structure will be created for you</li>
</ul>



<h4 id="rowlevel">Row-level control for merge settings</h4>
<p>Merge settings let you configure which table/fields you want to add/delete/update, but it does not give you the opportunity to define which rows you want to add/delete/update</p>
<p>For row-level control, you can implement C# controller class, which can cancel any operation if some condition is met. This is how:</p>
<ul>
    <li>Create your own C# class with unique name, set this class name to "Controller Type" field of merge settings (using the full name with namespace).</li>
    <li>Implement any number of interfaces (namespace is <code>BansheeGz.BGDatabase</code>, interfaces defined inside class <code>BGMergeSettingsEntity</code>),
        listed below to receive callback method invocations. Return true from this methods to cancel operation</li>
</ul>
<table  class="contentTable">
    <tr>
        <th width="20%">Interface type</th>
        <th width="40%">method(s) to implement</th>
        <th width="40%">description</th>
    </tr>
    <tr>
        <td>IMergeReceiver</td>
        <td>
            <code>public bool OnBeforeMerge(BGRepo from, BGRepo to)</code>
            <br>
            <code>public void OnAfterMerge(BGRepo @from, BGRepo to)</code>
        </td>
        <td>
            Callbacks to be called before after merging. Return true from OnBeforeMerge to cancel merging
        </td>
    </tr>
    <tr>
        <td>IRemoveOrphanedReceiver</td>
        <td>
            <code>public bool OnBeforeDelete(BGEntity toEntity)</code>
        </td>
        <td>
            Callbacks to be called before deleting the row. Return true to cancel removal.
        </td>
    </tr>
    <tr>
        <td>IAddMissingReceiver</td>
        <td>
            <code>public bool OnBeforeAdd(BGEntity fromEntity)</code>
        </td>
        <td>
            Callbacks to be called before adding the row. Return true to cancel adding.
        </td>
    </tr>
    <tr>
        <td>IUpdateMatchingReceiver</td>
        <td>
            <code>public bool OnBeforeUpdate(BGEntity @from, BGEntity to)</code>
        </td>
        <td>
            Callbacks to be called before updating the row. Return true to cancel updating.
        </td>
    </tr>
    <tr>
        <td>IUpdateMatchingFieldReceiver</td>
        <td>
            <code>public bool OnBeforeFieldUpdate(BGField fromField, BGField toField, BGEntity @from, BGEntity to)</code>
        </td>
        <td>
            Callbacks to be called before updating the row' field. The same as <code>IUpdateMatchingReceiver</code>,
            but it's called on per field basis. <code>IUpdateMatchingReceiver</code> is called before this callback,
            and if <code>IUpdateMatchingReceiver</code> return true, this callback will never be invoked (cause updating entity will be cancelled by <code>IUpdateMatchingReceiver</code>)
        </td>
    </tr>
</table>
<p>
    You can find an example of such controller class on <a href="../Addons/SaveLoad#rowlevelexample">Save/Load</a> addon page.
</p>

<h4>Default field value string format</h4>
<p>
    We use Acute (Back quote) symbol <code>`</code> to separate tokens of single value, for example Vector3.zero is
    <code>0`0`0</code>
</p>
<p>
    We use Vertical bar (Pipe) symbol <code>|</code> to separate values of the list, for example List&lt;bool&gt; is
    <code>0|1|0</code>
</p>
<div class="bg-image">
    <a href="#path images/BGDatabase/ExportImport4.png"><img style="width: 400px"
                                                             src="#path images/BGDatabase/ExportImport4.png"></a>
</div>


<h4>Custom field value string format</h4>
<p>
    Most of the fields support custom string format (except for Unity assets and relations).
    You can create your own class, implementing BGStringFormatter&lt;T&gt; interface (T is a field value type) and assign it under "M" menu as a custom string value formatter
</p>
<p>
    For example, default float converter uses round-trip converter to maintain bit-wise precision, which results in very long values (lot of digits after the dot).
    If you do not want such conversion- use <a href="../Downloads/FloatToStringConverter.txt">this custom converter</a> to keep float values short
</p>

<h4>Adding rows in external tools</h4>
<p>
    Each row has it's own id- 22 symbols string.
    It's computer-generated value, based on Guid generation.
</p>
<p>
    While creating rows in external tool, you can leave it blank, and it will be updated during importing procedure
    (make sure you toggled "Update Ids on Import" on)
</p>
<div class="bg-image">
    <a href="#path images/BGDatabase/ExportImport5.png"><img style="width: 400px"
                                                             src="#path images/BGDatabase/ExportImport5.png"></a>
</div>

<h4>Creating database backup in json format</h4>
<p>
    Exporting data to json allows you to create a full database backup in human readable form as json file.
    With json you can not choose which data you want to be exported/imported, full data including database structure will
    be included.
</p>
<p>
    You can use this backup later to fully restore the database (including structure)
</p>

<h4>Tables naming restriction</h4>
<p>
    If you plan to use Excel/GoogleSheets, avoid giving your tables similar names with only difference in lower/upper letter(s) (like "test" "Test", "tESt" etc.).
    It will work fine with BGDatabase, however both Excel and GoogleSheets consider such names to be equal, and it will result in errors when you try to export the data.
</p>

<h4 id="why">Why you do not provide an option to update GoogleSheets data from player devices?</h4>
<p>
    TLDR: Our export procedure is not meant to be executed simultaneously by multiple clients.
    If your app/game is running on a single device, use <a href="../Downloads/RuntimeGoogleSheets">this plug-in</a>
</p>
<p>
    DETAILED EXPLANATION: To update data we need to read and analyse it first to determine which cells need to be updated and also optionally resize the sheet.
    Reading, analysing and updating data are not atomic operation. 
    If somebody else update the data during reading/analysis- writing data may result in data corruption/errors.
</p>
</ol>
<p>
    This problem can be solved with a proxy server, but it also means there is no need for direct access to GoogleSheets.
</p>
<p>
    If you are still looking for a way to write data to GoogleSheets from players devices:
</p>
<ol>
    <li>If all you need is to add data to spreadsheet, you can use <a href="https://www.google.com/forms/about/">Google Forms</a>,
        <a href="https://support.google.com/docs/answer/2917686?hl=en">linked to a spreadsheet</a>
        and <a href="https://stackoverflow.com/questions/18073971/http-post-to-a-google-form">HTTP POST</a> to add data to spreadsheet.
        Also, read our mini tutorial, how to use  Google Forms to update GoogleSheets
        <a href="https://forum.unity.com/threads/bg-database-inmemory-database-excel-google-sheets-syncing-codegen-save-load-support.529740/page-4#post-6143082">here</a>
    </li>
    <li>If you need more sophisticated control <a href="https://developers.google.com/sheets/api/">GoogleSheets dotnet API library v4</a> is probably the best starting point.</li>
</ol>



<h4>What's next?</h4>
Read product specific guides next
<ol>
    <li><a href="../ThirdParty/Excel">Excel/Open Office</a></li>
    <li><a href="../ThirdParty/GoogleSheets">Google Sheets</a></li>
</ol>
