#set pageCss=css/root.css
#set GA=UA-76367732-1
#set section=Unity3D
#set metadescription=Gallery of BansheeGz's Unity3D related assets.


<div class="bg-products">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__title">
            <h4 class="mdl-card__title-text">BG Database</h4>
        </div>
        <hr style="margin-top: 0">
        <div class="mdl-card__media">
            <img style="width: 700px" src="../images/BGDatabase/Main2.png">
        </div>
        <div class="mdl-card__supporting-text">
            <span class="mdl-typography--font-light mdl-typography--subhead">Fast, In Memory, No SQL Database with Excel and GoogleSheets support for Unity 3D 2017.</span>
        </div>
        <div class="mdl-card__actions">
            <a class="bg-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="../BGDatabase">
                More info
                <i class="material-icons">chevron_right</i>
            </a>
            <a class="bg-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="../BGDatabase">
                Enroll to our Beta Program
                <i class="material-icons">chevron_right</i>
            </a>
        </div>
    </div>



    <div class="bg-products-bag mdl-grid">
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
            <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">BG Curve</h4>
            </div>
            <hr style="margin-top: 0">
            <div class="mdl-card__media">
                <img src="../images/DemoGifBGCurve.gif">
            </div>
            <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">Bezier curve editor for Unity 5.3 (free)</span>
            </div>
            <div class="mdl-card__actions">
                <a class="bg-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="../BGCurve">
                    More info
                    <i class="material-icons">chevron_right</i>
                </a>
            </div>
        </div>

        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
            <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">BG Spline Colliders</h4>
            </div>
            <hr style="margin-top: 0">
            <div class="mdl-card__media">
                <img src="../images/DemoGifBGSplineColliders.gif">
            </div>
            <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">Procedural Bezier spline colliders for Unity 5.3</span>
            </div>
            <div class="mdl-card__actions">
                <a class="bg-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="../BGCurve/BGSplineColliders">
                    More info
                    <i class="material-icons">chevron_right</i>
                </a>
            </div>
        </div>

    </div>
</div>