#set pageCss=css/page.css
#set GA=UA-76367732-3
#set section=BGProceduralKit
#set metadescription=BG Procedural Kit is a procedural geometry generation tool for Unity game engine

<link rel="stylesheet" href="#path css/bgcurve.css">

<link rel="stylesheet" href="#path css/bgcurve.css">

<div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
    <div class="bg-main mdl-shadow--3dp" style="margin-top: 20px;min-height: 400px;">
        <div class="bg-main-title">
            <h3>BG Procedural Kit</h3>
        </div>

        <div class="bg-main-contacts">
            <div class="bg-main-contacts_grid mdl-grid">
                <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone bg-desc">
                    Procedural geometry generation tool for Unity 5.3
                </div>
                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                    Version:
                </div>
                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                    PreAlpha
                </div>
                <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                    <img class="bg-img-indev" src="../images/InDev.png">
                </div>

            </div>
        </div>
    </div>
</div>