#set page=Code Generation

<h4>Description</h4>
<p>
    Code Generation is the key element for simplifying access to the database.
    Code Generation is the process of producing C# source files using database structure/content as the source data.
</p>
<p>
    Here is the full list of code generation types:
</p>

<ol>
    <li><a href="ExtensionClasses">Extension classes</a> (highly recommended)- classes (produced by CodeGen addon
        generator)
        to be used inside database instead of generic BGEntity class for a database row (GUI is under Addons->CodeGen)
    </li>
    <li><a href="MonoBehaviourClasses">MonoBehaviour Classes</a> - classes, which can be attached to GameObject
        (extended from MonoBehaviour)
        and pointing to a row (GUI is under Settings->CodeGen: MonoBehavior code generation)
    </li>
    <li>Reference classes (optionally produced by CodeGen addon)- classes which can be used to reference database row
        from your own C# scripts
        (alternative to MonoBehaviour generated classes, GUI is under Addons->CodeGen)
    </li>
    <li><a href="../ExportImport/ScriptableObjects">Scriptable objects classes</a> - classes for ScriptableObject assets
        (GUI is under Export/Import->Data sources->{a data source for scriptable objects})
    </li>
    <li><a href="../ThirdParty/Playmaker">Playmaker actions</a> - actions for Playmaker (GUI is under Settings->CodeGen:
        Playmaker)
    </li>
    <li><a href="../ThirdParty/Bolt">Unity Visual Scripting (ex-Bolt) units</a> - units for Unity Visual Scripting/Bolt
        (GUI is under Settings->CodeGen: Unity Visual Scripting)
    </li>
    <li><a href="../ThirdParty/FlowCanvas">Flow Canvas nodes</a> - nodes to be used with Flow Canvas asset (GUI is under
        Settings->CodeGen: Flow Canvas)
    </li>
    <!--    <li><a href="DnaClasses">Dna Classes</a> (should be avoided)</li>-->
    <li><a href="../ThirdParty/Behavior">Unity Behavior</a> - nodes to be used with Unity Behavior package (GUI is under
        Settings->CodeGen: Unity Behavior)
    </li>
</ol>

