#set page=Misc

<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=cs&amp;skin=desert"></script>

<h4>Events</h4>

<p>
    Events let use listen to database changes, like changing the field or entity, adding or removing entities.
</p>

<h4>How to use?</h4>

<p>
    Add your listeners, like this
</p>
<pre class="prettyprint">
    private void AddListeners()
    {
        var events = BGRepo.I.Events;

        //listen to particular entity (row)
        events.AddEntityUpdatedListener(new BGId("some-entity-id"), EntityUpdated);
        events.AddEntityDeletedListener(new BGId("some-entity-id"), EntityDeleted);

        //listen to all entities (rows)
        events.AddAnyEntityAddedListener(new BGId("some-meta-id"), SomeEntityAdded);
        events.AddAnyEntityDeletedListener(new BGId("some-meta-id"), SomeEntityDeleted);
        events.AddAnyEntityUpdatedListener(new BGId("some-meta-id"), SomeEntityUpdated);

        //listen to some field change
        events.AddFieldListener(new BGId("some-field-id"), FieldChanged);
    }

    //------------------------------------------------
    //            Field changed
    //------------------------------------------------
    private void FieldChanged(object sender, BGEventArgsField e)
    {
        Debug.Log("The Field is changed " + e.Entity.Name);
    }

    //------------------------------------------------
    //             any entity (row)
    //------------------------------------------------
    private void SomeEntityUpdated(object sender, BGEventArgsAnyEntityUpdated e)
    {
        Debug.Log("Some Entity Updated " + e.Entity.Name);
    }

    private void SomeEntityDeleted(object sender, BGEventArgsAnyEntity e)
    {
        Debug.Log("Some Entity Deleted " + e.Entity.Id);
    }

    private void SomeEntityAdded(object sender, BGEventArgsAnyEntity e)
    {
        //note, fields are not available here
        Debug.Log("Some Entity Added " + e.Entity.Id);
    }

    //------------------------------------------------
    //             particular entity (row)
    //------------------------------------------------
    private void EntityDeleted(object sender, BGEventArgsEntity e)
    {
        Debug.Log("The Entity Deleted " + e.Entity.Id);
    }

    private void EntityUpdated(object sender, BGEventArgsEntityUpdated e)
    {
        Debug.Log("The Entity Updated " + e.Entity.Name);
    }
</pre>

<p>
    Do not forget to remove listeners, as soon as they are not needed.
    For example in you MonoBehaviour classes, use OnDestroy method to remove listeners.
</p>
<p>
    Use corresponding events.RemoveXXX method to remove a listener.
</p>

<h4 id="commandline">Command Line</h4>
<p>
    Command line utility (Settings->Command line) let you run DDL-like commands with simplified syntax.
</p>
<p>
    Syntax is (use empty line to separate commands):
</p>
<pre>
    COMMAND [Options]
    [Additional options]
</pre>
<p>
    Available commands:
</p>
<ol>
    <li>CREATE TABLE [TableName]<br>
        [FieldName] [FieldType]
    </li>
    <li>ALTER TABLE [TableName]<br>
        ADD [FieldName] [FieldType]<br>
        DROP [FieldName]
    </li>
    <li>DROP TABLE [TableName]</li>
</ol>
<p>
    Example:
</p>
<pre>
    CREATE TABLE MyTable
    MyField1 int
    MyField2 bool

    ALTER TABLE MyTable
    ADD MyField3 int
    DROP MyField1

    DROP TABLE MyTable
</pre>