#set title=BG Database v1.2: What is new?
#set date=08/2018

<ol>
    <li>
        New fields: Nullable structs, namely int?,long?,float?,double?,bool?,Vector2?,Vector3?,Vector4?,Quaternion?,Color?
    </li>
    <li>
        New binder: Batch binder (BGDataBinderBatchGo). Bind multiple fields/properties from different GameObjects with single batch binder Component.
    </li>
    <li>
        New method: BGMetaEntity.GetEntity(string entityName). Get the row by its name
    </li>
    <li>
        New feature: Code Generator can generate static properties for accessing entities directly,if there are less than 1024 entities in the table and each of it has unique name.
        So, for example to access weapon type Short Sword, you could use WeaponType.ShortSword. (WeaponType is the name of the table and "Short Sword" - is the name of the row)
    </li>
    <li>
        Multiple microoptimizations
    </li>
    <li>
        GoogleSheets integration is improved
    </li>
    <li>
        Very rare bug with GoogleSheets id column values: please, make a clean export to make sure you are not affected.
    </li>
</ol>
