#set page=GUI tips and tricks

<h4>Video guide</h4>
<div class="vimeo-c">
    <iframe src="https://player.vimeo.com/video/599823744?title=0&amp;byline=0&amp;portrait=0&amp;speed=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;h=78f3e774ec" width="560" height="315" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="BGDatabase mini tutorial: GUI tips and tricks"></iframe>
</div>

<p>
    Adjust column widths and rows height ↓
</p>
<div class="bg-image">
    <img src="#path images/BGDatabase/pt1.gif">
</div>

<p id="pinColumns">
    Pin up to 8 columns  ↓
</p>
<div class="bg-image">
    <img src="#path images/BGDatabase/pt10.gif">
</div>


<p id="copypaste">
    Use copy/paste mode to copy/paste/clear values quickly (Ctrl+c/Ctrl+v/Ctrl+x) ↓
</p>
<div class="bg-image">
    <img src="#path images/BGDatabase/pt3.gif">
</div>

<p>
    Hide columns temporarily ↓
</p>
<div class="bg-image">
    <img src="#path images/BGDatabase/pt4.gif">
</div>

<p>
    Export/import data with one click ↓
</p>
<div class="bg-image">
    <img src="#path images/BGDatabase/pt5.gif">
</div>

<p>
    Use "Batch update" to update values for multiple selected rows ↓
</p>
<div class="bg-image">
    <img src="#path images/BGDatabase/pt6.gif">
</div>

<p>
    Use simple text filter to filter out rows quickly ↓
</p>
<div class="bg-image">
    <img src="#path images/BGDatabase/pt7.gif">
</div>

<p>
    Use advanced tree filter to filter rows with multiple conditions ↓
</p>
<div class="bg-image">
    <img src="#path images/BGDatabase/pt8.gif">
</div>

<p>
    Drag id column to assign an entity to row reference components/classes ↓
</p>
<div class="bg-image">
    <img src="#path images/BGDatabase/pt9.gif">
</div>

<p>
    Use <a href="../Misc/Colorization">cells colorization</a> for better visual feedback ↓
</p>
<div class="bg-image">
    <img src="#path images/BGDatabase/Colorization1.png">
</div>

<p>
    Switch between light/dark theme ↓
</p>
<div class="bg-image">
    <img src="#path images/BGDatabase/pt2.gif">
</div>

<p>
    [New in v.1.9.1] Search through all database rows and easily navigate to the result rows ↓
</p>
<div class="bg-image">
    <img src="#path images/Blog/Blog30.png">
</div>



<div class="flexdiv">
    <div>
        What to read next:
        <ol>
            <li><a href="../GUIOverview">GUI overview</a></li>
            <li><a href="../HowToUse">How to use</a></li>
        </ol>
    </div>
</div>