#set page=BG Spline Colliders
#set GA=UA-76367732-5

<div class="bg-main-contacts">
    <div class="bg-main-contacts_grid mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone bg-desc">
            Colliders pack for BGCurve
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            Version:
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            1.0
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            Unity Asset Store:
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            Under Review
        </div>
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/d1b9tCfSLk8" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
<hr>

<div>
    <h4>Description</h4>
</div>
<div class="mdl-grid bg-feature mdl-shadow--2dp">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        Colliders pack consists of 3 components, which generate colliders along Bezier spline.
    </div>
</div>

<div>
    <h4><a href="../Cc/BGCcCollider3DBox">BGCcCollider3DBox</a></h4>
</div>
<div class="mdl-grid bg-feature mdl-shadow--2dp">
    Generate BoxCollider for 3D spline
</div>

<div>
    <h4><a href="../Cc/BGCcCollider2DBox">BGCcCollider2DBox</a></h4>
</div>
<div class="mdl-grid bg-feature mdl-shadow--2dp">
    Generate 2D BoxCollider for 2D spline
</div>

<div>
    <h4><a href="../Cc/BGCcCollider2DEdge">BGCcCollider2DEdge</a></h4>
</div>
<div class="mdl-grid bg-feature mdl-shadow--2dp">
    Generate points for 2D EdgeCollider for 2D spline
</div>

<br/>
<br/>
