#set page=BGLocalization
#set pageCss=css/page.css
#set GA=UA-76367732-8
#set section=BGLocalization
#set metadescription=BG Localization is an addon for BG Database, enabling fields localization.

<div class="bg-main-contacts">
    <div class="bg-main-contacts_grid mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone bg-desc">
            Localization support for BG Database
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            Version:
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            1.3
        </div>
        <div class="mdl-cell mdl-cell&#45;&#45;6-col mdl-cell&#45;&#45;4-col-tablet mdl-cell&#45;&#45;2-col-phone">
            Unity Asset Store:
        </div>
        <div class="mdl-cell mdl-cell&#45;&#45;6-col mdl-cell&#45;&#45;4-col-tablet mdl-cell&#45;&#45;2-col-phone">
            <a href="https://www.assetstore.unity3d.com/#!/content/114740">Click here</a>
        </div>
        <div class="mdl-cell mdl-cell&#45;&#45;6-col mdl-cell&#45;&#45;4-col-tablet mdl-cell&#45;&#45;2-col-phone">
            Addon price:
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            10.0 USD
        </div>
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone bg-desc">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/XqtT8Y_qZQk" frameborder="0" allowfullscreen></iframe>
        </div>

        <!--
                <div class="mdl-cell mdl-cell&#45;&#45;12-col mdl-cell&#45;&#45;8-col-tablet mdl-cell&#45;&#45;4-col-phone">
                    <div class="bg-image">
                        <a href="#path images/BGDatabase/Main1.png"><img style="width: 400px" src="#path images/BGDatabase/Main1.png"></a>
                    </div>
                </div>
        -->
    </div>
</div>

<h4>Features</h4>
<ol>
    <li>Free copy of <a href="../BGDatabase">BG Database</a> as it's built on top of BG Database (all BGDatabase features, like Excel/Google Sheets export and import, are available)</li>
    <li>Localize string/text or any Unity Asset (assets should be placed under Resources or in asset bundle)</li>
    <li>Target any component, any field or property (reflection is used)</li>
    <li>
        Machine Translation is available:
        1) <a href="https://aws.amazon.com/translate/">Amazon Translate</a>- builtin,
        2) <a href="https://translate.yandex.com/">Yandex Translate</a>- builtin,
        3) <a href="https://www.ibm.com/watson/services/language-translator/">IBM Watson Translate</a> (some restrictions apply),
        4) <a href="https://translate.google.com/">Google Translate</a> (via Google Sheets only)</li>
</ol>

<h4>Roadmap</h4>
<p>
    For features under development, please, see <a href="../BGDatabase">BGDatabase</a> page.
</p>


