#set page=BGCurve

<div class="bg-main-contacts">
    <div class="bg-main-contacts_grid mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone bg-desc">
            Bezier curve editor for Unity 5.3
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            Version:
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            1.1
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            Unity Asset Store (free) (v.1.02):
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            <a href="https://u3d.as/qn4" target="_blank">u3d.as/qn4</a>
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            Github (v.1.1):
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            <a href="https://goo.gl/l305A0">goo.gl/l305A0</a>
        </div>
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <img class="bg-img-indev" src="../images/BGCurveOptimize.gif">
        </div>
    </div>
</div>
<hr>


<div>
    <h4>Quick Demo and Tutorial</h4>
</div>
<div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/8WW7nYb2Rnw" frameborder="0"
            allowfullscreen></iframe>
</div>
<div>
    <h4>Features</h4>
</div>
<div>
    <ul>
        <li>Single Game Object (no additional objects for points)</li>
        <li>Base math for Bezier curves (get Total Distance, get Position by distance,
            get Tangent by distance, get Position and Distance by Closest point to a curve)
        </li>
        <li>2D mode</li>
        <li>Components (no scripting required)</li>
        <li>Rectangular selection for points</li>
        <li>Context menu for points and selections in SceneView</li>
        <li>New points has preview in Scene View before adding</li>
        <li>A lot of Editor settings</li>
        <li>Save/Load settings</li>
    </ul>
</div>
<div>
    <h4>Screenshots</h4>
</div>
<div class="bg-gallery">
    <a href="#path images/Screen1.png"><img src="#path images/Screen1Thumb.png"></a>
    <a href="#path images/Screen2.png"><img src="#path images/Screen2Thumb.png"></a>
</div>

<br/>
<br/>
<br/>
