#set page=BGCurve
#set GA=UA-76367732-2
#set section=BGCurve

<div class="bg-main-contacts">
    <div class="bg-main-contacts_grid mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone bg-desc">
            Free Bezier spline editor for Unity 5.3
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            Version:
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            1.2.5
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            Unity Asset Store:
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            <a href="https://u3d.as/qn4" target="_blank">u3d.as/qn4</a>
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            Github:
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            <a href="https://goo.gl/l305A0">goo.gl/l305A0</a>
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            Unity Forums:
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            <a href="https://forum.unity.com/threads/bgcurve-free-bezier-spline-editor-support-thread-official.456983/">Support Thread</a>
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            Tested on:
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            IOS, Android, WebGl, Net Core
        </div>
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <img class="bg-img-indev" src="../images/Curve.png">
        </div>
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <img class="bg-img-indev" src="../images/DemoGifBGCurve.gif">
        </div>
    </div>
</div>
<hr>

<br/>
<br/>
<br/>
<br/>
