#set pageCss=css/page.css
#set GA=UA-76367732-2
#set section=BGCurve
#set metadescription=BG Curve is a free Bezier spline editor for Unity3D Game Engine

<link rel="stylesheet" href="#path css/bgcurve.css">
<link rel="stylesheet" href="#path css/magnific-popup.css">
<script src="#path js/jquery.magnific-popup.min.js"></script>

<script>
    $(document).ready(function () {
        $('.bg-gallery').magnificPopup({
            delegate: 'a',
            type: 'image',
//            gallery:{enabled:true},
            closeOnContentClick: true
        });
    });
</script>

<!--======================================================       BG Curve Header               -->


<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--hide-phone bg-sm  mdl-shadow--3dp">
        <ul>
            <li class="pli curveicon #if page=BGCurve plic #endif">
                <a class="pa" href="#path BGCurve">BG Curve Home</a>
                <ul>
                    <li class="cli #if page='Features' plic #endif">
                        <a class="ca" href="#path BGCurve/Features">Features</a>
                    </li>
                    <li class="cli #if page='Videos' plic #endif">
                        <a class="ca" href="#path BGCurve/Videos">Videos</a>
                    </li>
                    <li class="cli #if page='Screenshots' plic #endif">
                        <a class="ca" href="#path BGCurve/Screenshots">Screenshots</a>
                    </li>
                </ul>
            </li>
            <li class="pli collidersicon #if page='BG Spline Colliders' plic #endif" >
                <a class="pa" style="padding-left: 24px !important;" href="#path BGCurve/BGSplineColliders">BG Spline Colliders</a>
            </li>
            <li class="pli #if page='User Guide' plic #endif">
                <a class="pa " href="#path BGCurve/UserGuide">User Guide</a>
                <ul>
                    <li class="cli #if page='Manipulating Points' plic #endif">
                        <a class="ca" href="#path BGCurve/UserGuide/Points">Manipulating Points</a>
                    </li>
                    <li class="cli #if page='Spline Properties' plic #endif">
                        <a class="ca" href="#path BGCurve/UserGuide/Spline">Spline Properties</a>
                    </li>
                    <li class="cli #if page='Spline Settings' plic #endif">
                        <a class="ca" href="#path BGCurve/UserGuide/Settings">Spline Settings</a>
                    </li>
                </ul>
            </li>
            <li class="pli #if page='Developer Guide' plic #endif">
                <a class="pa" href="#path BGCurve/DeveloperGuide">Developer Guide</a>
                <ul>
                    <li class="cli #if page='Coordinate Spaces' plic #endif">
                        <a class="ca" href="#path BGCurve/DeveloperGuide/Coordinates">Coordinates</a>
                    </li>
                    <li class="cli #if page='Math' plic #endif">
                        <a class="ca" href="#path BGCurve/DeveloperGuide/Math">Math</a>
                    </li>
                    <li class="cli #if page='Examples' plic #endif">
                        <a class="ca" href="#path BGCurve/DeveloperGuide/Examples">Examples</a>
                    </li>
                    <li class="cli #if page='Overview' plic #endif">
                        <a class="ca" href="#path BGCurve/DeveloperGuide/Overview">Overview</a>
                    </li>
                </ul>
            </li>
            <li class="pli #if page='Curve Components' plic #endif #if _path=_contains(BGCurve/Cc/) alic #endif">
                <a class="pa" href="#path BGCurve/Cc">Components</a>
                <ul>
                    <li class="cli #if page='Math [Component]' plic #endif">
                        <a class="ca" href="#path BGCurve/Cc/BGCcMath">Math</a>
                    </li>
                    <li class="cli collidersicon #if page='Collider 3D Box [Component]' plic #endif">
                        <a class="ca" href="#path BGCurve/Cc/BGCcCollider3DBox">Collider 3D Box</a>
                    </li>
                    <li class="cli collidersicon #if page='Collider 2D Box [Component]' plic #endif">
                        <a class="ca" href="#path BGCurve/Cc/BGCcCollider2DBox">Collider 2D Box</a>
                    </li>
                    <li class="cli collidersicon #if page='Collider 2D Edge [Component]' plic #endif">
                        <a class="ca" href="#path BGCurve/Cc/BGCcCollider2DEdge">Collider 2D Edge</a>
                    </li>
                    <li class="cli #if page='Line Renderer [Component]' plic #endif">
                        <a class="ca" href="#path BGCurve/Cc/BGCcVisualizationLineRenderer">Line Renderer</a>
                    </li>
                    <li class="cli #if page='Triangulate 2D spline [Component]' plic #endif">
                        <a class="ca" href="#path BGCurve/Cc/BGCcTriangulate2D">Triangulate 2D</a>
                    </li>
                    <li class="cli #if page='Splitter Polyline [Component]' plic #endif">
                        <a class="ca" href="#path BGCurve/Cc/BGCcSplitterPolyline">Polyline Splitter</a>
                    </li>
                    <li class="cli #if page='Sweep2D [Component]' plic #endif">
                        <a class="ca" href="#path BGCurve/Cc/BGCcSweep2D">Sweep 2D</a>
                    </li>
                    <li class="cli #if page='Cursor [Component]' plic #endif">
                        <a class="ca" href="#path BGCurve/Cc/BGCcCursor">Cursor</a>
                    </li>
                    <li class="cli #if page='Translate Object by Cursor [Component]' plic #endif">
                        <a class="ca" href="#path BGCurve/Cc/BGCcCursorObjectTranslate">Move by cursor</a>
                    </li>
                    <li class="cli #if page='Rotate Object By Cursor [Component]' plic #endif">
                        <a class="ca" href="#path BGCurve/Cc/BGCcCursorObjectRotate">Rotate by cursor</a>
                    </li>
                    <li class="cli #if page='Scale Object By Cursor [Component]' plic #endif">
                        <a class="ca" href="#path BGCurve/Cc/BGCcCursorObjectScale">Scale by cursor</a>
                    </li>
                    <li class="cli #if page='Change Cursor Linearly [Component]' plic #endif">
                        <a class="ca" href="#path BGCurve/Cc/BGCcCursorChangeLinear">Lerp cursor</a>
                    </li>
                </ul>
            </li>
            <li class="pli #if page='Versions' plic #endif #if _path=_contains(BGCurve/Version/) alic #endif">
                <a class="pa" href="#path BGCurve/Version">Versions</a>
                <ul>
                    <li class="cli #if page='Version 1.2' plic #endif">
                        <a class="ca" href="#path BGCurve/Version/1.2">Version 1.2</a>
                    </li>
                    <li class="cli #if page='Version 1.1' plic #endif">
                        <a class="ca" href="#path BGCurve/Version/1.1">Version 1.1</a>
                    </li>
                    <li class="cli #if page='Version 1.0' plic #endif">
                        <a class="ca" href="#path BGCurve/Version/1.0">Version 1.0</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="mdl-cell--hide-desktop mdl-cell--hide-tablet mdl-cell--4-col-phone">
        <a class="pa" href="#path BGCurve">BG Curve Home</a>
        <a class="pa " href="#path BGCurve/UserGuide">User Guide</a>
        <a class="pa" href="#path BGCurve/DeveloperGuide">For Programmers</a>
        <a class="pa" href="#path BGCurve/Cc">Components</a>
        <a class="pa" href="#path BGCurve/Version">Versions</a>
    </div>
    <div class="mdl-cell mdl-cell--9-col mdl-cell--6-col-tablet mdl-cell--3-col-phone">
        <div class="bg-main mdl-shadow--3dp">
            <div class="bg-main-title">
                <h3>#get page </h3>
            </div>

            <!--======================================================        BG Curve Content              -->
            #get _content


            <!--======================================================       BG Curve Footer               -->
        </div>

    </div>
</div>

