#set page=BGDatabase Lite

<style>
    .ra {
        text-align: right;
        vertical-align: top;
    }
    .la {
        text-align: right;
        vertical-align: top;
    }
</style>

<h4>Description</h4>
Basic free version of the package with following features:
<ol>
    <li>Creating and editing database (except addons)</li>
    <li>Creating and editing of delta files for <a href="../Addons/Modding">Modding addon</a></li>
</ol>

<h4>End-user license agreement</h4>
<ol>
    <li>"BGDatabase Lite" package is free for non-commercial use only</li>
    <li>If you own BGDatabase package you can include "BGDatabase Lite" package in your game SDK to support modding</li>
</ol>

<h4>Downloads</h4>
<table class="contentTable dTable">
    <tr>
        <th>
            Release date
        </th>
        <th>
            Download
        </th>
        <th>Log (for BGDatabase asset, some features may be missing)</th>
    </tr>
    <tr>
        <td class="ra">March 3, 2020</td>
        <td  class="ra">
            <a href="BGDatabaseLite1.5.6.unitypackage">version 1.5.6</a>
        </td>
        <td>
            <ol>
                <li>Batch update</li>
                <li>Sprite field upgrade (now accept single/multiple sprites and sprites from SpriteAtlas)</li>
                <li>New enum and enumList fields</li>
                <li>New fields for Gradient and AnimationCurve</li>
                <li>New DataSource types for importing data from GoogleSheets and LiveUpdate add-on</li>
                <li>UI/UX changes to make UI compatible with newly added UnityEditor Skin (2019.3)</li>
                <li>UnityObject field now can be limited to accept asset of specified types only</li>
            </ol>
            read more <a href="../../Blog/BGDatabase-v1-5-6-What-is-new">here</a>
        </td>
    </tr>
    <tr>
        <td class="ra">Feb 6, 2020</td>
        <td  class="ra">
            <a href="BGDatabaseLite1.5.5.unitypackage">version 1.5.5</a>
        </td>
        <td>Initial release to support <a href="../Addons/Modding">Modding addon</a></td>
    </tr>
</table>
<ul>
