#set page=BGDatabase Lite

<style>
    .ra {
        text-align: right;
    }
    .la {
        text-align: right;
    }
</style>

<h4>Description</h4>
Basic free version of the package with following features:
<ol>
    <li>Creating and editing database (except addons)</li>
    <li>Creating and editing of delta files for <a href="../Addons/Modding">Modding addon</a></li>
</ol>

<h4>End-user license agreement</h4>
<ol>
    <li>"BGDatabase Lite" package is free for non-commercial use only</li>
    <li>If you own BGDatabase package you can include "BGDatabase Lite" package in your game SDK to support modding</li>
</ol>

<h4>Downloads</h4>
<table class="contentTable dTable">
    <tr>
        <th>
            Release date
        </th>
        <th>
            Download
        </th>
        <th>Log</th>
    </tr>
    <tr>
        <td class="ra">2/6/2020</td>
        <td  class="ra">
            <a href="BGDatabaseLite1.5.5.unitypackage">version 1.5.5</a>
        </td>
        <td>Initial release to support <a href="../Addons/Modding">Modding addon</a></td>
    </tr>
</table>