#set page=BGDatabase Lite

<h4>Description</h4>
Basic free version of the package with following features:
<ol>
    <li>Creating and editing database (except addons)</li>
    <li>Creating and editing of delta files for <a href="../Addons/Modding">Modding addon</a></li>
</ol>

<h4>End-user license agreement</h4>
<ol>
    <li>"BGDatabase Lite" package is free for non-commercial use only</li>
    <li>If you own BGDatabase package you can include "BGDatabase Lite" package in your game SDK to support modding</li>
</ol>

<h4>Downloads</h4>
<table class="contentTable">
    <tr>
        <th width="40">
            Version
        </th>
        <th width="30">
            Release date
        </th>
        <th width="30">
            Download
        </th>
    </tr>
    <tr>
        <td>1.5.5</td>
        <td>2/6/2020</td>
        <td>
            <a href="BGDatabaseLite1.5.5.unitypackage">link</a>
        </td>
    </tr>
</table>