#set title=BG Curve v1.2: What is new?
#set date=11/2016

<ol>
    <li>
        Custom fields for points
    </li>
    <li>
        Animation support
    </li>
    <li>
        Snapping (to terrain etc.)
    </li>
    <li>
        New components (Scale and Triangulate)
    </li>
    <li>
        Components (ChangeCursor and Rotate) are upgraded to support custom points fields
    </li>
    <li>
        New approximation type (Adaptive)
    </li>
    <li>
        Base math switched to the fastest algorithm available for approximation (~25% faster)
    </li>
    <li>
        Points store options (inlined, component, gameobjects)
    </li>
    <li>
        Vertex snapping (V key) for points configurable handles (in Scene View)
    </li>
</ol>
