#set page=Change log


<a href="../"><< Back</a>
<table class="contentTable dTable">
    <tr>
        <th>
            Release date
        </th>
        <th>
            Version
        </th>
        <th>Log</th>
    </tr>
    <tr>
        <td class="ra">Apr 30, 2023</td>
        <td class="ra">
            1.8.0
        </td>
        <td>
            <ol>
                <li>ADDED Diagram addon for reviewing database structure as a graph</li>
                <li>ADDED Cell reference class is added (BGCellReference)</li>
                <li>ADDED an option to override button text for field values with button-based GUI</li>
                <li>ADDED additional optional configs to SaveLoad add-on</li>
                <li>CHANGED Tested with Unity 2023 Beta</li>
                <li>CHANGED After SaveLoad addon reloads database, all deprecated rows are marked as deleted</li>
                <li>CHANGED Minimum Unity version changed (2019 LTS->2020 LTS)</li>
                <li>FIXED sprite assets preview icons flicker if sprite is loaded from sprite atlas</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="ra">Jan 10, 2023</td>
        <td class="ra">
            1.7.12
        </td>
        <td>
            <ol>
                <li>ADDED programmable fields (calculated fields alternative, calculation is implemented with C# code)</li>
                <li>ADDED component to load the database and optionally initialize internal keys/indexes ("BansheeGz->BGDatabasePreloaderGo")</li>
                <li>ADDED pagination for list values</li>
                <li>CHANGED GUI improvements</li>
                <li>CHANGED new user-friendly format for settings file</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="ra">Nov 12, 2022</td>
        <td class="ra">
            1.7.11
        </td>
        <td>
            <ol>
                <li>ADDED the option to use int/string fields as rows ID for relational fields while import/export to Excel/GoogleSheets
                    (Excel plugin => 1.10, GoogleSheets plugin =>1.7 )</li>
                <li>ADDED plugins can be imported directly from Unity Editor</li>
                <li>CHANGED improved performance for Excel import/export jobs (Excel plugin => 1.10) </li>
                <li>CHANGED when rows mapping config with int/string field as ID is used, rows with empty/duplicate ID values are not exported anymore
                    (Excel plugin => 1.10,  GoogleSheets plugin =>1.7) </li>
                <li>CHANGED popup dialog after import/export job is replaced with button animation</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="ra">Sep 14, 2022</td>
        <td class="ra">
            1.7.10
        </td>
        <td>
            <ol>
                <li>ADDED the option to save popup windows positions (Settings->Preferences->Save popup positions)</li>
                <li>CHANGED improved navigation for nested tables</li>
                <li>FIXED reloading database and adding a row result in exception if keys/indexes are used</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="ra">Aug 26, 2022</td>
        <td class="ra">
            1.7.9
        </td>
        <td>
            <ol>
                <li>ADDED new navigation system (back/forward buttons, right-click navigation). Read our blog post for more details</li>
                <li>ADDED option to see all rows in nested table</li>
                <li>CHANGED batch add/update/delete menu moved under "tools" button to reduce the number of buttons in the toolbar</li>
                <li>FIXED "duplicate row" tool in Editor GUI places a row in incorrect order</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="ra">Aug 03, 2022</td>
        <td class="ra">
            1.7.8
        </td>
        <td>
            <ol>
                <li>ADDED fields reordering tool (under M menu button)</li>
                <li>ADDED setters for UnityVisualScripting and FlowCanvas for view relational fields</li>
                <li>CHANGED LiveUpdate mode optimization for batch binder</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="ra">Jun 20, 2022</td>
        <td class="ra">
            1.7.7
        </td>
        <td>
            <ol>
                <li>ADDED new objectListMultiValueReference field</li>
                <li>ADDED "Asset to Row" utility support for Addressables loader</li>
                <li>ADDED new Unity VisualScripting and FlowCanvas units/nodes are generated for each view</li>
                <li>FIXED a view can not be deleted</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="ra">May 29, 2022</td>
        <td class="ra">
            1.7.6
        </td>
        <td>
            <ol>
                <li>ADDED "Settings->Enumeration" tool for changing enum types names</li>
                <li>CHANGED Google Oauth 2.0 authentication flow changed from oob to URL redirect,
                    cause oob flow is <a href="https://developers.googleblog.com/2022/02/making-oauth-flows-safer.html">deprecated</a>.
                    Google Sheets <a href="../Downloads/EditorGoogleSheets">plugin</a> is also updated to support new flow
                </li>
                <li>CHANGED improved data binders editor GUI</li>
                <li>FIXED MonoBehaviour classes code generator generate wrong enum types is "Use addon classes" parameter is turned off</li>
                <li>FIXED NullReferenceException is thrown in FindEntities generated methods if a table has no rows</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="ra">May 1, 2022</td>
        <td class="ra">
            1.7.5
        </td>
        <td>
            <ol>
                <li>ADDED views and view relational fields (read our blog post for more details)</li>
                <li>ADDED more comments to sources code of BGDatabase assembly</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="ra">Apr 1, 2022</td>
        <td class="ra">
            1.7.4
        </td>
        <td>
            <ol>
                <li>ADDED new tabbed view component for better UI/UX</li>
                <li>ADDED table/field "readonly" user-defined bool field, affecting generated classes</li>
                <li>ADDED table/field comments are now added to generated code</li>
                <li>ADDED HTTP parameters/headers for LiveUpdate addon with Graph editor support</li>
                <li>ADDED a plugin for readonly database usage from multi-threaded environment</li>
                <li>CHANGED generated code optimization to reduce the size of generated code</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="ra">Feb 8, 2022</td>
        <td class="ra">
            1.7.3
        </td>
        <td>
            <ol>
                <li>ADDED single-column indexes for Log(n) range scans </li>
                <li>ADDED read-only mode for code generators to skip all properties/methods altering database state</li>
                <li>ADDED optional loaded assets cache (BGAssetsCache.Enabled=true; to enable)</li>
                <li>CHANGED events system is redone</li>
                <li>CHANGED keys implementation is redone</li>
                <li>CHANGED enums with [Flags] attribute has special GUI, allowing to select multiple constants</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="ra">Jan 11, 2022</td>
        <td class="ra">
            1.7.2
        </td>
        <td>
            <ol>
                <li>CHANGED [IMPORTANT] if a table is marked to have empty "name" field, all values for the "name" field will be erased.
                    This is done to reduce memory footprint
                </li>
                <li>CHANGED generated code performance optimization</li>
                <li>ADDED fields with list of vector2 and vector3 are now supported for Playmaker</li>
                <li>FIXED code generation for Playmaker and FlowCanvas is broken</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="ra">Dec 10, 2021</td>
        <td class="ra">
            1.7.1
        </td>
        <td>
            <ol>
                <li>ADDED multi-table relational fields (single and multiple)- <a href="../../Blog/BGDatabase-v1-7-1-Many-tables-relational-fields">read more</a></li>
                <li>ADDED alternative data loading via Google API for data extraction wizard</li>
                <li>ADDED support for unloading Addressables assets (Addressables plugin needs to be updated)- <a href="../Downloads/RuntimeAddressables#unloading">read more</a></li>
                <li>CHANGED code generator generates more compact, C# 7.1 compliant code</li>
                <li>CHANGED source code upgrade, C# language specifications 3.5 -> 7.1</li>
                <li>CHANGED min NET version 4.5 -> 4.7.1</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="ra">Nov 14, 2021</td>
        <td class="ra">
            1.7.0
        </td>
        <td>
            <ol>
                <li>ADDED calculated fields</li>
                <li>ADDED action field</li>
                <li>ADDED graph binder</li>
                <li>ADDED UI Toolkit data binder (via <a href="../Downloads/RuntimeUIToolkit">plugin</a>)</li>
                <li>CHANGED min Unity version 2018 LTS -> 2019 LTS</li>
                <li>CHANGED min NET version 3.5 -> 4.5</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="ra">Aug 23, 2021</td>
        <td class="ra">
            1.6.10
        </td>
        <td>
            <ol>
                <li>ADDED drag ID column to entity button to assign an entity (affected components: field/batch/row data binders, BGEntityGo/generated MonoBehaviour components, Entity reference components)</li>
                <li>ADDED entity reference components (BGEntityReference inherited classes, optionally generated by CodeGen add-on).</li>
                <li>ADDED popup entity chooser saves the state between sessions optionally</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="ra">June 17, 2021</td>
        <td class="ra">
            1.6.9
        </td>
        <td>
            <ol>
                <li>ADDED: foldable toolbars</li>
                <li>ADDED: pin export/import/open buttons to the top toolbar</li>
                <li>ADDED: buttons to select/deselect all/visible/filtered rows</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="ra">May 26, 2021</td>
        <td class="ra">
            1.6.8
        </td>
        <td>
            <ol>
                <li>ADDED: Integration with <a href="https://assetstore.unity.com/packages/tools/visual-scripting/flowcanvas-33903">Flow Canvas</a></li>
                <li>ADDED: Integration with <a href="https://assetstore.unity.com/packages/tools/visual-scripting/nodecanvas-14914">Node Canvas</a>
                    (via <a href="../Downloads/NodeCanvas">plugin</a>)
                </li>
                <li>ADDED: Integration with <a href="https://assetstore.unity.com/packages/tools/game-toolkits/game-creator-89443">Game Creator</a>
                    (via <a href="../Downloads/GameCreator">plugin</a>)
                </li>
                <li>ADDED: Integration with <a href="https://assetstore.unity.com/packages/tools/visual-scripting/unode-visual-scripting-101176">UNode</a>
                    (via <a href="../Downloads/UNode">plugin</a>)
                </li>
                <li>ADDED: Integration with <a href="https://assetstore.unity.com/packages/tools/visual-scripting/behavior-designer-behavior-trees-for-everyone-15277">Behavior Designer</a>
                    (via <a href="../Downloads/BehaviorDesigner">plugin</a>)
                </li>
                <li>ADDED: Different strategies for rows mapping between database and external tools(Excel/GoogleSheets).
                    Row's index, int/string fields can be used now as rows ID instead of _id column
                </li>
                <li>ADDED: An option to have duplicate values for relationMultiple field</li>
                <li>CHANGED: field creation GUI redesigned</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="ra">Apr 25, 2021</td>
        <td class="ra">
            1.6.7
        </td>
        <td>
            <ol>
                <li>ADDED: Filter presets (templates) are added for quick entities searching</li>
                <li>ADDED: 5 list fields are added to Playmaker (bool, int, float, string, color)</li>
                <li>FIXED: runtime saving gives error if custom database location is used</li>
                <li>FIXED: if domain reload is disabled and database window is closed entering playmode may result in null reference exception</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="ra">Apr 7, 2021</td>
        <td class="ra">
            1.6.6
        </td>
        <td>
            <ol>
                <li>ADDED: Unity Visual Scripting (ex-Bolt) package support</li>
                <li>ADDED: unityObject field supports sub-assets if AssetType is set</li>
                <li>ADDED: asset is selected in Project View if mouse is clicked over asset preview</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="ra">Mar 22, 2021</td>
        <td class="ra">
            1.6.5
        </td>
        <td>
            <ol>
                <li>ADDED: partitioning addon</li>
                <li>ADDED: liveupdate addon supports JSON/CSV files, hosted on webserver</li>
                <li>ADDED: byte and short fields</li>
                <li>ADDED: entering/exiting playmode while a nested table is selected now keeps nested table active</li>
                <li>FIXED: flickering while scrolling with mouse wheel</li>
                <li>FIXED: Binders/EntityGo GUI is bugged if the database window is close and dark theme is selected</li>
                <li>FIXED: layout exception is printed to the console while scrolling horizontally on MacOS</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="ra">Jan 23, 2021</td>
        <td class="ra">
            1.6.4
        </td>
        <td>
            <ol>
                <li>ADDED: dark skin (Settings->Preferences->Skin)</li>
                <li>ADDED: a property to generated classes for traversing relation in reverse direction (naming convention is Related{MetaName}ListUsing{RelationName}Relation)</li>
                <li>CHANGED: CodeGen performance improvements </li>
                <li>FIXED: "Save all" button does not save runtime changes </li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="ra">Dec 06, 2020</td>
        <td class="ra">
            1.6.3
        </td>
        <td>
            <ol>
                <li>ADDED: wizard tool to extract database structure from Excel files/ GoogleSheets spreadsheet</li>
                <li>ADDED: export/import database structure without data to json</li>
                <li>FIXED: BGEntityGo editor throws an exception if database window is closed</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="ra">Oct 28, 2020</td>
        <td class="ra">
            1.6.2
        </td>
        <td>
            <ol>
                <li>CHANGED: simplified settings file management</li>
                <li>ADDED: names mapping config for a data source</li>
                <li>FIXED: Bolt code generator produces uncompilable code under certain conditions</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="ra">Oct 04, 2020</td>
        <td class="ra">
            1.6.1
        </td>
        <td>
            <ol>
                <li>ADDED: support for Configurable Enter Play Mode (Edit->Project settings->Editor->Enter Play mode settings)</li>
                <li>CHANGED: new workflow for scene reference field</li>
                <li>FIXED: duplicate selected rows bug</li>
                <li>FIXED: generated classes constructors access modifier (public->private) </li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="ra">Sep 21, 2020</td>
        <td class="ra">
            1.6
        </td>
        <td>
            <ol>
                <li>CHANGED: min version is Unity 2018 LTS</li>
                <li>CHANGED: Excel and Google Sheets integration code is moved into plugins</li>
                <li>CHANGED: DataSource tab is moved under "Export/Import" tab</li>
                <li>CHANGED: Editor GUI improvements and performance optimization</li>
                <li>ADDED: Plugins tab</li>
                <li>ADDED: Data protection for Modding addon</li>
                <li>ADDED: Options to view all fields while assigning related entity</li>
                <li>ADDED: single relation is supported in data binders</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="ra">August 24, 2020</td>
        <td class="ra">
            1.5.13
        </td>
        <td>
            <ol>
                <li>CHANGED: LiveUpdate addon does not require _id column anymore</li>
                <li>FIXED: assigning sprite value to sprite field causes Unity Editor (v. 2019.4.8) crash on MacOS.
                    Some other Unity Editor versions for MacOS may also be affected.
                    The root cause is Unity Editor returning invalid value (-1)
                    for <a href="https://docs.unity3d.com/ScriptReference/TextureImporter-filterMode.html">TextureImporter.filterMode</a> property
                </li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="ra">August 14, 2020</td>
        <td class="ra">
            1.5.12
        </td>
        <td>
            <ol>
                <li>ADDED: better support for Unity dark theme</li>
                <li>ADDED: a tool for moving/copying rows between tables</li>
                <li>REMOVED: all tests are removed</li>
                <li>REMOVED: all references to UnityEngine.UI assembly are removed</li>
                <li>FIXED: some private properties are missing when includePrivate parameter is used in data binders</li>
                <li>FIXED: sporadic error "BansheeGz.BGDatabase.BGUtilForUi:GetButtonHeight Could not load file or assembly 'UnityEngine.UI" printed to the console on project load</li>
                <li>FIXED: NewEntity () throws IndexOutOfRangeException exception after GetEntity(string) method is called</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="ra">July 24, 2020</td>
        <td class="ra">
            1.5.11
        </td>
        <td>
            <ol>
                <li>ADDED: improved support for Unity 2020</li>
                <li>ADDED: GoogleSheets plugin can now be moved to runtime assembly.
                    This action is required to implement <a href="../Downloads/RuntimeGoogleSheets">GoogleSheets runtime plugin</a>
                </li>
                <li>FIXED: hint methods are added to generated Bolt units to avoid dimmed look (re-generation is required)</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="ra">July 06, 2020</td>
        <td class="ra">
            1.5.10
        </td>
        <td>
            <ol>
                <li>ADDED: generated methods to load assets asynchronously for asset fields with addressables loader</li>
                <li>FIXED: SpriteSheet/Atlas browser was skipping some sprites</li>
                <li>FIXED: GUI layout errors are printed to console after modal dialogs if database window is floating</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="ra">June 07, 2020</td>
        <td class="ra">
            1.5.9
        </td>
        <td>
            <ol>
                <li>Row height resizing</li>
                <li>Drag'n'drop improvements for asset fields</li>
                <li>New CopyPaste mode</li>
                <li>Table list customization</li>
                <li>Encryption support</li>
                <li>Custom Keys to access row(s) quickly</li>
                <li>Validation system redone</li>
            </ol>
            read more <a href="../../Blog/BGDatabase-v1-5-9-What-is-new">here</a>
        </td>
    </tr>
    <tr>
        <td class="ra">May 07, 2020</td>
        <td class="ra">
            1.5.8
        </td>
        <td>
            <ol>
                <li>ADDED: distinct style for cell button if value is not set (relations/assets/lists/hashtable fields are affected)</li>
                <li>ADDED: Option to transfer rows order from source to destination while importing/exporting from/to Excel/GoogleSheets</li>
                <li>ADDED: Relation field now shows a little icon next to a cell button if the related table has a sprite field with a value</li>
                <li>ADDED: Float/int fields now transferred as numeric cells to Excel</li>
                <li>FIXED: Gradient field is not loaded properly if multithreaded loading is used.</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="ra">March 28, 2020</td>
        <td class="ra">
            1.5.7
        </td>
        <td>
            <ol>
                <li>Upgraded min Unity version to 2017.4 LTS to comply to AssetStore official recommendation</li>
                <li>Examples are removed</li>
                <li>New landing page in case there is no database in the project</li>
                <li>ADDED: current row highlighting</li>
                <li>ADDED: optional vertical TAB key movement</li>
                <li>ADDED: sort alphabetically option while chosing a sprite from SpriteAtlas or multiple sprite</li>
                <li>ADDED: NotFoundEvent for generated Playmaker actions</li>
                <li>FIXED: No meta is chosen error in case of export/import to json or export/import with mode=Transfer</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="ra">March 3, 2020</td>
        <td class="ra">
            1.5.6
        </td>
        <td>
            <ol>
                <li>Batch update</li>
                <li>Sprite field upgrade (now accept single/multiple sprites and sprites from SpriteAtlas)</li>
                <li>New enum and enumList fields</li>
                <li>New fields for Gradient and AnimationCurve</li>
                <li>New DataSource types for importing data from GoogleSheets and LiveUpdate add-on</li>
                <li>UI/UX changes to make UI compatible with newly added UnityEditor Skin (2019.3)</li>
                <li>UnityObject field now can be limited to accept asset of specified types only</li>
            </ol>
            read more <a href="../../Blog/BGDatabase-v1-5-6-What-is-new">here</a>
        </td>
    </tr>
    <tr>
        <td class="ra">Feb 6, 2020</td>
        <td class="ra">
            1.5.5
        </td>
        <td>This page is created.</td>
    </tr>
</table>

