#set page=Change log


<a href="../"><< Back</a>
<table class="contentTable dTable">
    <tr>
        <th>
            Release date
        </th>
        <th>
            Version
        </th>
        <th>Log</th>
    </tr>
    <tr>
        <td class="ra">July 06, 2020</td>
        <td class="ra">
            version 1.5.10
        </td>
        <td>
            <ol>
                <li>ADDED: generated methods to load assets asynchronously for asset fields with addressables loader</li>
                <li>FIXED: SpriteSheet/Atlas browser was skipping some sprites</li>
                <li>FIXED: GUI layout errors are printed to console after modal dialogs if database window is floating</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="ra">June 07, 2020</td>
        <td class="ra">
            version 1.5.9
        </td>
        <td>
            <ol>
                <li>Row height resizing</li>
                <li>Drag'n'drop improvements for asset fields</li>
                <li>New CopyPaste mode</li>
                <li>Table list customization</li>
                <li>Encryption support</li>
                <li>Custom Keys to access row(s) quickly</li>
                <li>Validation system redone</li>
            </ol>
            read more <a href="../../Blog/BGDatabase-v1-5-9-What-is-new">here</a>
        </td>
    </tr>
    <tr>
        <td class="ra">May 07, 2020</td>
        <td class="ra">
            version 1.5.8
        </td>
        <td>
            <ol>
                <li>ADDED: distinct style for cell button if value is not set (relations/assets/lists/hashtable fields are affected)</li>
                <li>ADDED: Option to transfer rows order from source to destination while importing/exporting from/to Excel/GoogleSheets</li>
                <li>ADDED: Relation field now shows a little icon next to a cell button if the related table has a sprite field with a value</li>
                <li>ADDED: Float/int fields now transferred as numeric cells to Excel</li>
                <li>FIXED: Gradient field is not loaded properly if multithreaded loading is used.</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="ra">March 28, 2020</td>
        <td class="ra">
            version 1.5.7
        </td>
        <td>
            <ol>
                <li>Upgraded min Unity version to 2017.4 LTS to comply to AssetStore official recommendation</li>
                <li>Examples are removed</li>
                <li>New landing page in case there is no database in the project</li>
                <li>ADDED: current row highlighting</li>
                <li>ADDED: optional vertical TAB key movement</li>
                <li>ADDED: sort alphabetically option while chosing a sprite from SpriteAtlas or multiple sprite</li>
                <li>ADDED: NotFoundEvent for generated Playmaker actions</li>
                <li>FIXED: No meta is chosen error in case of export/import to json or export/import with mode=Transfer</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="ra">March 3, 2020</td>
        <td class="ra">
            version 1.5.6
        </td>
        <td>
            <ol>
                <li>Batch update</li>
                <li>Sprite field upgrade (now accept single/multiple sprites and sprites from SpriteAtlas)</li>
                <li>New enum and enumList fields</li>
                <li>New fields for Gradient and AnimationCurve</li>
                <li>New DataSource types for importing data from GoogleSheets and LiveUpdate add-on</li>
                <li>UI/UX changes to make UI compatible with newly added UnityEditor Skin (2019.3)</li>
                <li>UnityObject field now can be limited to accept asset of specified types only</li>
            </ol>
            read more <a href="../../Blog/BGDatabase-v1-5-6-What-is-new">here</a>
        </td>
    </tr>
    <tr>
        <td class="ra">Feb 6, 2020</td>
        <td class="ra">
            version 1.5.5
        </td>
        <td>This page is created.</td>
    </tr>
</table>

