#set page=Versions
#set _skipTemplate=true

<div class="mdl-grid bg-feature mdl-shadow--2dp">

    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone ">
        11/2016
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone ">
        <a href="../../Blog/BGCurve-v1-2-What-is-new">1.2</a>
    </div>
    <hr>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone ">
        09/2016
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone ">
        <a href="../../Blog/BGCurve-v1-2-What-is-new">1.1</a>
    </div>
    <hr>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone ">
        04/2016
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone ">
        1.0
    </div>
    <hr>
</div>
