
<div>
    <h4>General Information</h4>
</div>
<div class="mdl-grid bg-feature mdl-shadow--2dp">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone ">
        #get description
    </div>
</div>


<div>
    <h4>New features</h4>
</div>
<div class="mdl-grid bg-feature mdl-shadow--2dp">
    #iterate features.txt
    <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone ">
        #get feature
    </div>
    <hr>
    #enditerate
</div>


<div>
    <h4>Backward incompatible changes</h4>
</div>
<div class="mdl-grid bg-feature mdl-shadow--2dp">
    #iterate issues.txt
    <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone ">
        #get issue
    </div>
    <hr>
    #enditerate
</div>