#set pageCss=css/page.css
#set GA=UA-76367732-4
#set section=Support
#set metadescription=Support page for BansheeGz's Assets.

<style>
    .bg-asset {
        font-family: "Roboto","Helvetica","Arial",sans-serif;
        color: #408080;
    }
</style>


        <div class="bg-main">
            <div class="bg-main-title">
                <h3>Support</h3>
            </div>
            <hr>
            <h4>For <a class="bg-asset" href="#path BGCurve" >"BG Curve"</a> Owners, please, use</h4>
            <div>
                <a href="https://github.com/bansheeGz/BGCurve/issues">Github issues</a>
                OR
                <a href="https://forum.unity3d.com/threads/bgcurve-free-bezier-spline-editor-support-thread-official.456983">Unity forums thread [OFFICIAL]</a>
            </div>
            <hr/>
            <h4>For <a class="bg-asset" href="#path BGCurve/BGSplineColliders">"BG Spline Colliders"</a>
                or <a class="bg-asset" href="#path BGDatabase" >"BG Database"</a>
                or <a class="bg-asset" href="#path BGLocalization" >"BG BGLocalization"</a> owners, please, use
            </h4>
            <div class="bg-main-contact_form" style="border-width: 1px;text-align: center">
                Email us:
                <script language="JavaScript">document.write("support" + "@" + "bansheegz.com");</script>
            </div>
            <div style="max-width: 100px;margin-left: auto;margin-right: auto;text-align: center;">
                <h4>OR</h4>
            </div>
            <div>
                <script language="JavaScript">
                    document.write("<form action=\"https://formspree.io/support" + "@" + "bansheegz.com" +"\" method=\"POST\"");
                </script>
                <div class="bg-main-contact_form mdl-grid">
                    <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
                        <label for="email">Email<em>*</em></label>
                    </div>
                    <div class="mdl-cell mdl-cell--9-col mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                        <input type="email" name="_replyto" id="email">
                    </div>
                    <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
                        <label for="body">Text<em>*</em></label>
                    </div>
                    <div class="mdl-cell mdl-cell--9-col mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                        <textarea name="body" id="body"></textarea>
                    </div>
                    <div class="mdl-cell mdl-cell--9-col mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                        &nbsp;
                    </div>
                    <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
                        <input type="submit" value="Send">
                    </div>
                </div>
                </form>
            </div>
            <hr>
        </div>


