#set pageCss=css/page.css
#set GA=UA-76367732-4
#set section=Support
#set metadescription=Support page for BansheeGz's Assets.

<style>
    .bg-asset {
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        color: #408080;
    }
</style>

<div style="width: 100%">
    <div style="width: 70%;margin: 0 auto">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <div class="bg-main mdl-shadow--3dp">
                <div id="blog" style="padding: 12px;">
                    <div class="bg-main-title">
                        <h3>Support</h3>
                    </div>

                    <div style="margin: 0 auto;">
                        <div class="bg-main-contact_form" style="border-width: 1px;text-align: center">
                            Email us:
                            <script language="JavaScript">document.write("support" + "@" + "bansheegz.com");</script>
                        </div>
                        <div style="margin:0 auto;text-align: center;">
                            <h4>or use this form:</h4>
                        </div>
                        <form action="https://formspree.io/support@bansheegz.com" method="POST">
                            <div class="bg-main-contact_form mdl-grid" style="max-width: 500px !important;">
                                <div class="mdl-cell mdl-cell&#45;&#45;3-col mdl-cell&#45;&#45;2-col-tablet mdl-cell&#45;&#45;1-col-phone">
                                    <label for="email" style="width: 100%">Email<em>*</em></label>
                                </div>
                                <div class="mdl-cell mdl-cell&#45;&#45;9-col mdl-cell&#45;&#45;6-col-tablet mdl-cell&#45;&#45;3-col-phone">
                                    <input type="email" name="_replyto" id="email" style="width: 100%">
                                </div>
                                <div class="mdl-cell mdl-cell&#45;&#45;3-col mdl-cell&#45;&#45;2-col-tablet mdl-cell&#45;&#45;1-col-phone">
                                    <label for="body" style="width: 100%">Text<em>*</em></label>
                                </div>
                                <div class="mdl-cell mdl-cell&#45;&#45;9-col mdl-cell&#45;&#45;6-col-tablet mdl-cell&#45;&#45;3-col-phone">
                                    <textarea name="body" id="body" style="width: 100%"></textarea>
                                </div>
                                <div class="mdl-cell mdl-cell&#45;&#45;9-col mdl-cell&#45;&#45;6-col-tablet mdl-cell&#45;&#45;3-col-phone">
                                    &nbsp;
                                </div>
                                <div class="mdl-cell mdl-cell&#45;&#45;3-col mdl-cell&#45;&#45;2-col-tablet mdl-cell&#45;&#45;1-col-phone">
                                    <input type="submit" value="Send" style="width: 100%">
                                </div>
                            </div>
                        </form>
                    </div>

                    <h4>Additional information:</h4>
                    <table class="contentTable">
                        <tr>
                            <th></th>
                            <th>BGDatabase</th>
                            <th>BGLocalization</th>
                            <th>BGCurve</th>
                        </tr>
                        <tr>
                            <td>Response time</td>
                            <td colspan="3" style="text-align: center">within 24 hours</td>
                        </tr>
                        <tr>
                            <td>Asset Store page</td>
                            <td><a href="http://u3d.as/16JW">link</a></td>
                            <td><a href="https://www.assetstore.unity3d.com/#!/content/114740">link</a></td>
                            <td>deprecated<!--<a href="https://u3d.as/qn4" target="_blank">link</a>--></td>
                        </tr>
                        <tr>
                            <td>Unity Discussions thread</td>
                            <td><a href="https://discussions.unity.com/t/bg-database-inmemory-database-excel-google-sheets-syncing-codegen-save-load-support/700422">link</a></td>
                            <td>N/A</td>
                            <td><a href="https://discussions.unity.com/t/bgcurve-free-bezier-spline-editor-support-thread/655788">link</a></td>
                        </tr>
                        <tr>
                            <td>Github</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td><a href="https://goo.gl/l305A0">link</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!--
<div style="width: 100%">
    <div style="width: 70%;margin: 0 auto">
        <div class="mdl-cell mdl-cell&#45;&#45;12-col mdl-cell&#45;&#45;8-col-tablet mdl-cell&#45;&#45;4-col-phone">
            <div class="bg-main mdl-shadow&#45;&#45;3dp">
                <div id="blog" style="padding: 12px;">
                    <div class="bg-main-title">
                        <h3>Support</h3>
                    </div>
                </div>
                <ol>
                    <li>For <a href="#path BGCurve">BG Curve</a> Owners, please, use
                        <a href="https://github.com/bansheeGz/BGCurve/issues">Github issues</a> or
                        <a href="https://forum.unity3d.com/threads/bgcurve-free-bezier-spline-editor-support-thread-official.456983">Unity
                            forums thread [OFFICIAL]</a>
                    </li>
                    <li>
                        For <a href="#path BGCurve/BGSplineColliders">BG Spline Colliders</a>,
                        <a href="#path BGDatabase">BG Database</a>,
                        <a href="#path BGLocalization">BG Localization</a> owners, please,
                    </li>
                </ol>
                <div class="bg-main-contact_form" style="border-width: 1px;text-align: center">
                    Email us:
                    <script language="JavaScript">document.write("support" + "@" + "bansheegz.com");</script>
                </div>
                <div style="max-width: 100px;margin-left: auto;margin-right: auto;text-align: center;">
                    <h4>or</h4>
                </div>
                <div>
                    <form action="https://formspree.io/support@bansheegz.com" method="POST">
                        <div class="bg-main-contact_form mdl-grid" style="max-width: 500px !important;">
                            <div class="mdl-cell mdl-cell&#45;&#45;3-col mdl-cell&#45;&#45;2-col-tablet mdl-cell&#45;&#45;1-col-phone">
                                <label for="email"  style="width: 100%">Email<em>*</em></label>
                            </div>
                            <div class="mdl-cell mdl-cell&#45;&#45;9-col mdl-cell&#45;&#45;6-col-tablet mdl-cell&#45;&#45;3-col-phone">
                                <input type="email" name="_replyto" id="email" style="width: 100%">
                            </div>
                            <div class="mdl-cell mdl-cell&#45;&#45;3-col mdl-cell&#45;&#45;2-col-tablet mdl-cell&#45;&#45;1-col-phone">
                                <label for="body"  style="width: 100%">Text<em>*</em></label>
                            </div>
                            <div class="mdl-cell mdl-cell&#45;&#45;9-col mdl-cell&#45;&#45;6-col-tablet mdl-cell&#45;&#45;3-col-phone">
                                <textarea name="body" id="body"  style="width: 100%"></textarea>
                            </div>
                            <div class="mdl-cell mdl-cell&#45;&#45;9-col mdl-cell&#45;&#45;6-col-tablet mdl-cell&#45;&#45;3-col-phone">
                                &nbsp;
                            </div>
                            <div class="mdl-cell mdl-cell&#45;&#45;3-col mdl-cell&#45;&#45;2-col-tablet mdl-cell&#45;&#45;1-col-phone">
                                <input type="submit" value="Send" style="width: 100%">
                            </div>
                        </div>
                    </form>
                </div>
                <div style="min-height: 12px"></div>
            </div>
        </div>
    </div>
</div>

-->
