#set section=GamesStreaming

<div class="bg-products">
    <div class="bg-products-bag mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--6-col-phone mdl-card mdl-shadow--3dp">
            <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">Join us! (LIVE Streams)</h4>
            </div>
            <hr>
            <table width="100%">
                <tr>
                    <th><a class="mdl-navigation__link" href="https://www.twitch.tv/deliriumtrip" target="_blank">TWITCH.TV</a></th>
                    <th><a class="mdl-navigation__link" href="https://www.youtube.com/channel/UCLJdcbPI2rlQnLKhTR67DUQ/live" target="_blank">YOUTUBE</a></th>
                    <th><a class="mdl-navigation__link" href="https://beam.pro/deliriumtrip" target="_blank">BEAM.PRO</a></th>
                    <th><a class="mdl-navigation__link" href="http://www.hitbox.tv/deliriumtrip" target="_blank">HITBOX.TV</a></th>
                </tr>
            </table>
        </div>
    </div>
</div>