#set page=Supported Fields

<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=cs&amp;skin=desert"></script>


<h4>Fields overview</h4>
<div class="bg-image">
    <a href="#path images/BGDatabase/FieldsReview.png"><img style="width: 400px" src="#path images/BGDatabase/FieldsReview.png"></a>
</div>

<h4>Fields table</h4>
<p>
    This is all fields types, BGDatabase currently supports. Note, you can create your own field if you need to.
</p>
<table class="contentTable">
    <tr>
        <th>
            Field Group
        </th>
        <th>
            Field Name(type)
        </th>
    </tr>
    <tr>
        <td>Primitives</td>
        <td>
            <p>int</p>
            <p>long</p>
            <p>float</p>
            <p>double</p>
            <p>bool</p>
            <p>Guid</p>
            <p>string</p>
            <p>text</p>
        </td>
    </tr>
    <tr>
        <td>Primitive nullable</td>
        <td>
            <p>int?</p>
            <p>long?</p>
            <p>float?</p>
            <p>double?</p>
            <p>bool?</p>
            <p>Guid?</p>
        </td>
    </tr>
    <tr>
        <td>Unity Primitives</td>
        <td>
            <p>Vector2</p>
            <p>Vector3</p>
            <p>Vector4</p>
            <p>Quaternion</p>
            <p>Rect</p>
            <p>Bounds</p>
            <p>Color</p>
            <p>Ray</p>
            <p>Ray2d</p>
            <p>KeyCode</p>
        </td>
    </tr>
    <tr>
        <td>Unity Primitive nullable</td>
        <td>
            <p>Vector2?</p>
            <p>Vector3?</p>
            <p>Vector4?</p>
            <p>Quaternion?</p>
            <p>Color?</p>
        </td>
    </tr>
    <tr>
        <td>Unity Assets <a href="#unityassets">#3</a></td>
        <td>
            <p>Texture</p>
            <p>Texture2d</p>
            <p>Sprite</p>
            <p>Material</p>
            <p>Prefab</p>
            <p>Font</p>
            <p>AudioClip</p>
            <p>UnityObject (Any Unity Asset)</p>
        </td>
    </tr>
    <tr>
        <td>List of Primitives</td>
        <td>
            <p>list of bool (List&lt;bool&gt;)</p>
            <p>list of double (List&lt;double&gt;)</p>
            <p>list of float (List&lt;float&gt;)</p>
            <p>list of Guid (List&lt;Guid&gt;)</p>
            <p>list of int (List&lt;int&gt;)</p>
            <p>list of long (List&lt;long&gt;)</p>
            <p>list of string (List&lt;string&gt;)</p>
        </td>
    </tr>
    <tr>
        <td>List of Unity Primitives</td>
        <td>
            <p>list of Vector2s (List&lt;Vector2&gt;)</p>
            <p>list of Vector3s (List&lt;Vector3&gt;)</p>
            <p>list of Vector4s (List&lt;Vector4&gt;)</p>
            <p>list of Quaternions (List&lt;Quaternion&gt;)</p>
            <p>list of Colors (List&lt;Color&gt;)</p>
        </td>
    </tr>
    <tr>
        <td>Relations</td>
        <td>
            <p>single (BGEntity)</p>
            <p>multiple (List&lt;BGEntity&gt;)</p>
            <p>nested (List&lt;BGEntity&gt;) <a href="#nested">#1</a></p>
        </td>
    </tr>
    <tr>
        <td>Unity Scene <a href="#unityscene">#2</a></td>
        <td>
            <p>ref to entityGo (BGEntityGo)</p>
            <p>ref to list of entityGos (List&lt;BGEntityGo&gt;)</p>
            <p>ref to UnityObject (BGWithId)</p>
            <p>ref to list of UnityObjects (List&lt;BGWithId&gt;)</p>
        </td>
    </tr>
</table>


<h4 id="nested">Nested Field (#1)</h4>
<p>
    Nested field is a special field, which creates a whole new meta (table), which has many-to-one relation to owner meta.
    It means, you can create a linked list with any fields that are supported by BGDatabase.
    It is a readonly field (to change it's value- delete or add nested Entities).
    To create a nested Entity use special method, which accept the owner of nested entity <code>BGMetaNested.NewEntity(BGEntity owner)</code>.
    BGMetaNested is a class for nested tables (to be used instead of generic BGMetaRow)
</p>
<div class="bg-image">
    <a href="#path images/BGDatabase/SupportedFields1.png"><img style="width: 400px" src="#path images/BGDatabase/SupportedFields1.png"></a>
</div>

<h4 id="unityscene">Unity Scene Fields (#2)</h4>
<p>
    There are 2 ways to reference GameObject in the scene
</p>
<ol>
    <li>if this object has BGEntityGo component attached. BGEntityGo is used to reference a row from a database and you can use it's id to get reference to GameObject</li>
    <li>if this object has BGWithId component attached. BGWithId is simple component with generated id, you can use this id to get reference to GameObject</li>
</ol>
<p>
    Both methods use UnityObject.FindComponentOfType method and super slow.
</p>

<h4 id="unityassets">Unity Asset Fields (#3)</h4>
<p>
    All these fields are read only.
    You can reference any Unity asset (UnityObject can be used to reference any asset).
    This reference will be resolved by a path.
    It means all unity asset fields store the path to an asset.
    There are 3 ways this path can be properly resolved:
</p>
<ol>
    <li>
        Asset should be stored under Resources folder. This is very simple way to reference an asset.
        All you have to do is to place your asset under Resources folder
    </li>
    <li>
        Asset should be included in the asset bundle. This is super complicated way.
        To be properly resolved, asset bundle, the asset belongs to, should be properly loaded at the moment we try to query this field, otherwise null will be returned.
        Note, we do not manage asset bundles in any way.
        Also, asset bundles should be built before assets from this bundle can be properly resolved when working with BGDatabase in Editor.
    </li>
    <li>
        Use newly introduced Unity's <a href="https://forum.unity.com/threads/addressables-are-here.536304/">Addressables</a>
        package (which is not ready yet, still in preview).
        We have added experimental support for this package (built and tested against 0.3.5-preview version).
        Just like with asset bundles, you need to preload assets to be able to properly resolve them,
        but unlike asset bundles, you do not have to build addressables to resolve them while working with BGDatabase in Editor.
        <p>
            To preload the assets, please use the following code (replace Test with actual meta name and SomeUnityField with actual field name):
        </p>
        <pre class="prettyprint">
        var addresses = new List&lt;object&gt;();
        var meta = BGRepo.I["Test"];
        var addressableField = (BGStorable&lt;string&gt;) meta.GetField("SomeUnityField");
        meta.ForEachEntity(entity =>
        {
            var address = addressableField.GetStoredValue(entity.Index);
            if (!string.IsNullOrEmpty(address)) addresses.Add(address);
        });
        //add other fields here if needed

        //load
        Addressables.LoadAssets&lt;Object&gt;(addresses, null).Completed += operation =>
        {
            //all assets are ready to be used here
            //print("Addressable value=" + meta[0].Get&lt;Texture&gt;("SomeUnityField"));
        };

        </pre>
    </li>
</ol>
