#set page=Supported Fields

<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=cs&amp;skin=desert"></script>


<h4>Fields overview</h4>
<div class="bg-image">
    <a href="#path images/BGDatabase/FieldsReview.png"><img style="width: 400px"
                                                            src="#path images/BGDatabase/FieldsReview.png"></a>
</div>

<h4>Fields table</h4>
<p>
    This is all fields types, BGDatabase currently supports. Note, you can create your own field if you need to.
</p>
<table class="contentTable">
    <tr>
        <th>
            Field Group
        </th>
        <th>
            Field Type (Comments)
        </th>
    </tr>
    <tr>
        <td>Primitives</td>
        <td>
            <p>int</p>
            <p>long</p>
            <p>float</p>
            <p>double</p>
            <p>bool</p>
            <p>guid</p>
            <p>string</p>
            <p>text</p>
        </td>
    </tr>
    <tr>
        <td>Primitive nullable</td>
        <td>
            <p>int?</p>
            <p>long?</p>
            <p>float?</p>
            <p>double?</p>
            <p>bool?</p>
            <p>guid?</p>
        </td>
    </tr>
    <tr>
        <td>Unity Primitives</td>
        <td>
            <p>vector2</p>
            <p>vector3</p>
            <p>vector4</p>
            <p>quaternion</p>
            <p>rect</p>
            <p>bounds</p>
            <p>color</p>
            <p>ray</p>
            <p>ray2d</p>
            <p>keyCode</p>
        </td>
    </tr>
    <tr>
        <td>Unity Primitive nullable</td>
        <td>
            <p>vector2?</p>
            <p>vector3?</p>
            <p>vector4?</p>
            <p>quaternion?</p>
            <p>color?</p>
        </td>
    </tr>
    <tr>
        <td>Unity Assets <a href="#unityassets">#3</a></td>
        <td>
            <p>unityTexture (value type is Texture)</p>
            <p>unityTexture2d (value type is Texture2D)</p>
            <p>unitySprite (value type is Sprite)</p>
            <p>unityMaterial (value type is Material)</p>
            <p>unityPrefab (value type is GameObject)</p>
            <p>unityFont (value type is Font)</p>
            <p>unityAudioClip (value type is AudioClip )</p>
            <p>unityObject (Any Unity Asset, value type is UnityEngine.Object)</p>
        </td>
    </tr>
    <tr>
        <td>List of Primitives</td>
        <td>
            <p>listBool (bool list, e.g. List&lt;bool&gt;)</p>
            <p>listDouble (double list, e.g. List&lt;double&gt;)</p>
            <p>listFloat (float list, e.g. List&lt;float&gt;)</p>
            <p>listGuid (Guid list, e.g. List&lt;Guid&gt;)</p>
            <p>listInt (int list, e.g. List&lt;int&gt;)</p>
            <p>listLong (long list, e.g. List&lt;long&gt;)</p>
            <p>listString (string list, e.g. List&lt;string&gt;)</p>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>List of Unity Primitives</td>
        <td>
            <p>listVector2 (Vector2 list, e.g. List&lt;Vector2&gt;)</p>
            <p>listVector3 (Vector3 list, e.g. List&lt;Vector3&gt;)</p>
            <p>listVector4 (Vector4 list, e.g. List&lt;Vector4&gt;)</p>
            <p>listQuaternion (Quaternion list, e.g. List&lt;Quaternion&gt;)</p>
            <p>listColor (Color list, e.g. List&lt;Color&gt;)</p>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>Relations</td>
        <td>
            <p>relationSingle (value type is BGEntity)</p>
            <p>relationMultiple (value type is List&lt;BGEntity&gt;)</p>
            <p>nested (value type is List&lt;BGEntity&gt;) <a href="#nested">#1</a></p>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>Unity Scene <a href="#unityscene">#2</a></td>
        <td>
            <p>entityReference (reference to entityGo, value type is BGEntityGo)</p>
            <p>entityListReference (reference to list of entityGos, value type is List&lt;BGEntityGo&gt;)</p>
            <p>objectReference (reference to UnityObject, value type is BGWithId)</p>
            <p>objectListReference (reference to a list of UnityObjects, value type is List&lt;BGWithId&gt;)</p>
        </td>
        <td></td>
    </tr>
</table>


<h4 id="nested">Nested Field (#1)</h4>
<p>
    Nested field is a special field, which creates a whole new meta (table), which has many-to-one relation to owner
    meta.
    It means, you can create a linked list with any fields that are supported by BGDatabase.
    It is a readonly field (to change it's value- delete or add nested Entities).
    To create a nested Entity use special method, which accept the owner of nested entity <code>BGMetaNested.NewEntity(BGEntity
    owner)</code>.
    BGMetaNested is a class for nested tables (to be used instead of generic BGMetaRow)
</p>
<div class="bg-image">
    <a href="#path images/BGDatabase/SupportedFields1.png"><img style="width: 400px"
                                                                src="#path images/BGDatabase/SupportedFields1.png"></a>
</div>

<h4 id="unityscene">Unity Scene Fields (#2)</h4>
<p>
    There are 2 ways to reference GameObject in the scene
</p>
<ol>
    <li>if this object has BGEntityGo component attached. BGEntityGo is used to reference a row from a database and you
        can use it's id to get reference to GameObject
    </li>
    <li>if this object has BGWithId component attached. BGWithId is simple component with generated id, you can use this
        id to get reference to GameObject
    </li>
</ol>
<p>
    Both methods use UnityObject.FindComponentOfType method and super slow.
</p>

<h4 id="unityassets">Unity Asset Fields (#3)</h4>
<p>
    All these fields are read only.
    You can reference any Unity asset (UnityObject can be used to reference any asset).
    This reference will be resolved by a path.
    It means all unity asset fields store the path to an asset.
    There are 3 ways this path can be properly resolved:
</p>
<ol>
    <li>
        Asset should be stored under Resources folder. This is very simple way to reference an asset.
        All you have to do is to place your asset under Resources folder
    </li>
    <li>
        Asset should be included in the asset bundle. This is super complicated way.
        To be properly resolved, asset bundle, the asset belongs to, should be properly loaded at the moment we try to
        query this field, otherwise null will be returned.
        Note, we do not manage asset bundles in any way.
        Also, asset bundles should be built before assets from this bundle can be properly resolved when working with
        BGDatabase in Editor.
    </li>
    <li>
        <p>
            Use newly introduced Unity's <a href="https://forum.unity.com/threads/addressables-are-here.536304/">Addressables</a>
            package (which is not ready yet, still in preview).
            We have added experimental support for this package (built and tested against 0.3.5-preview version).
            Just like with asset bundles, you need to preload assets to be able to properly resolve them,
            but unlike asset bundles, you do not have to build addressables to resolve them while working with
            BGDatabase in Editor.
        </p>
        <div>
            To add support for addressables:
            <ol>
                <li>Install Unity's addressables package</li>
                <li>Unpackage Assets\BansheeGz\BGDatabase\Pins\Addressables\BGDatabase.Addressables.unitypackage</li>
                <li>Unpackage Assets\BansheeGz\BGDatabase\Editor\Pins\Addressables\BGDatabaseEditor.Addressables.unitypackage</li>
            </ol>
        </div>
        <p>
            To preload the assets, please use the following code (replace Test with actual meta name and SomeUnityField
            with actual field name):
        </p>
        <pre class="prettyprint">
       //---------- this code is tested against 0.3.5-preview version
        //find addresses to load
        IList&lt;object&gt; addresses = new List&lt;object&gt;();
        BGRepo.I.ForEachMeta(meta =&gt;
        {
            //find all fields with addressables loader
            List&lt;BGStorable&lt;string&gt;&gt; fieldsWithLoaders = null;
            meta.ForEachField(field =&gt;
            {
                if (!(field is BGAssetLoaderA.WithLoaderI) || !(field is BGStorable&lt;string&gt;)) return;

                var fieldWithLoader = (BGAssetLoaderA.WithLoaderI) field;

                if (!(fieldWithLoader.AssetLoader is BGAssetLoaderAddressables)) return;

                fieldsWithLoaders = fieldsWithLoaders ?? new List&lt;BGStorable&lt;string&gt;&gt;();
                fieldsWithLoaders.Add((BGStorable&lt;string&gt;) field);
            });

            if (fieldsWithLoaders == null) return;

            //find all entities with some value
            meta.ForEachEntity(entity =&gt;
            {
                for (var i = 0; i &lt; fieldsWithLoaders.Count; i++)
                {
                    var address = fieldsWithLoaders[i].GetStoredValue(entity.Index);
                    if (!string.IsNullOrEmpty(address)) addresses.Add(address);
                }
            });

        });
        
        //remove duplicates
        addresses=addresses.Distinct().ToList();

        //load
        var asyncOperation = Addressables.LoadAssets&lt;Object&gt;(addresses, null, Addressables.MergeMode.Union);
        asyncOperation.Completed += operation =&gt;
        {
            //all assets are ready to use
        };

        </pre>
    </li>
</ol>
