#set page=GUI Overview

<h4>General information</h4>
<div class="bg-image">
    <a href="#path images/BGDatabase/Interface1.png"><img style="width: 400px" src="#path images/BGDatabase/Interface1.png"></a>
</div>


<h4>Database tab</h4>
<p>
    Edit your data here
</p>
<div class="bg-image">
    <a href="#path images/BGDatabase/Interface2.png"><img style="width: 400px" src="#path images/BGDatabase/Interface2.png"></a>
</div>

<h4>Configuration tab</h4>
<p>
    Manage your database structure here (tables/fields)
</p>
<div class="bg-image">
    <a href="#path images/BGDatabase/Interface3.png"><img style="width: 400px" src="#path images/BGDatabase/Interface3.png"></a>
</div>


<h4>Merge tool</h4>
<p>
    Merge data between 2 different databases. More information is <a href="../MergeTool">here</a>
</p>
<div class="bg-image">
    <a href="#path images/BGDatabase/Interface4.png"><img style="width: 400px" src="#path images/BGDatabase/Interface4.png"></a>
</div>

<h4>Export/Import tab</h4>
<p>
    Export/import your data to Excel/GoogleSheets. More information is <a href="../ExportImport">here</a>
</p>
<div class="bg-image">
    <a href="#path images/BGDatabase/Interface5.png"><img style="width: 400px" src="#path images/BGDatabase/Interface5.png"></a>
</div>


<h4>Addons tab</h4>
<p>
    Addons extend database functionality. See the list of available addons <a href="../Addons">here</a>
</p>
<div class="bg-image">
    <a href="#path images/BGDatabase/Interface6.png"><img style="width: 400px" src="#path images/BGDatabase/Interface6.png"></a>
</div>