#set page=Data Binding

<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=cs&amp;skin=desert"></script>


<h4>What is data binding?</h4>
With data binding you can:
<ol>
    <li>Inject value from database to any field of any component</li>
    <li>Monitor field(s) changes and inject value again if value is changed</li>
    <li>For string fields you can combine static text with multiple values from database</li>
</ol>

<h4>Why it could be useful?</h4>
<p>
    The most obvious example- let say you want UI text component to show text like "Hit Points: [number of hit points]".
    With data binding you can assign this value with template and monitor it, so if [number of hit points] is changed in
    the database, the text field will also be updated. And with our localization addon, "Hit Points" string can be easily localized as well.
</p>

<h4>Binders overview</h4>

<table class="contentTable">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
    </tr>
    <tr>
        <td><a href="#fieldBinder">BGDataBindingFieldGo</a></td>
        <td>
            Inject one single value from database to a component
        </td>
    </tr>
    <tr>
        <td><a href="#templateBinder">BGDataBindingTemplateGo</a></td>
        <td>
            Inject value, derived from a text template from database to a component
        </td>
    </tr>
    <tr>
        <td><a href="#batchBinder">BGDataBindingBatchGo</a></td>
        <td>
            The same as several fields and templates binders in one single binder
        </td>
    </tr>
    <tr>
        <td><a href="#rowBinder">BGDataBindingRowGo</a></td>
        <td>
            This binder is used to inject multiple values from one single row. It uses the same naming convention to resolve fields/properties as BGDataBindingDatabaseGo
        </td>
    </tr>
    <tr>
        <td><a href="#databaseBinder">BGDataBindingDatabaseGo</a></td>
        <td>
            This binder is used for binder-less setup.
            One single binder is used to inject all values.
            It scans all components, which have BGDatabaseEntityId string field with assigned id and uses naming convention to inject the values
            (fields/properties must be named exactly as database fields and have the same type)
        </td>
    </tr>
</table>


<h4 id="fieldBinder">How to use single field binder (BGDataBindingFieldGo)</h4>
<ol>
    <li>Attach BGDataBindingFieldGo component</li>
    <li>Choose the type of the field to inject. The dropdown will contain all field types from your database</li>
    <li>Choose the target field/property to inject a value to.
        The dropdown will contain all fields/properties from all attached Components, which has the same type from step 2.
        So if you chose string type, this dropdown will contain all string fields and properties from all attached Unity's Components
    </li>
    <li>Choose the meta, entity and field to get the value from</li>
    <li>Toggle "Live Update" on, if you want the value to be monitored. If value is changed, binder inject it again</li>
</ol>
<div class="bg-image">
    <a href="#path images/BGDatabase/DataBinding1.png"><img style="width: 400px" src="#path images/BGDatabase/DataBinding1.png"></a>
</div>

<h4 id="templateBinder">How to use template  binder (BGDataBindingTemplateGo)</h4>
<ol>
    <li>Attach BGDataBindingTemplateGo component</li>
    <li>Choose the target field/property to inject a value to.
        The dropdown will contain all fields/properties from all attached Components, which has string type.
    </li>
    <li>Fill template text (please read about template format below)</li>
    <li>Toggle "Live Update" on, if you want all field values to be monitored. If value of one of the field is changed, binder inject it again</li>
</ol>
<div class="bg-image">
    <a href="#path images/BGDatabase/DataBinding2.png"><img style="width: 400px" src="#path images/BGDatabase/DataBinding2.png"></a>
</div>

<h4 id="batchBinder">How to use batch field binder (BGDataBindingBatchGo)</h4>
<ol>
    <li>Attach BGDataBindingBatchGo component</li>
    <li>Drag GameObjects to either "Field Binders" or "Template Binders" table</li>
    <li>For field binders, choose 1)target component and field/property and 2) choose source Meta, Field and Entity</li>
    <li>For template binders, 1) choose target component and field/property and 2) fill in template (please read about template format below)</li>
    <li>Important: if you plan to make a prefab out of the GameObject with attached batch binder,
        do not reference any other GameObject, than its own children
    </li>
</ol>
<div class="bg-image">
    <a href="#path images/BGDatabase/DataBinding3.png"><img style="width: 400px" src="#path images/BGDatabase/DataBinding3.png"></a>
</div>

<h4 id="rowBinder">How to use row binder (BGDataBindingRowGo)</h4>
<ol>
    <li>Attach BGDataBindingRowGo component</li>
    <li>Create your own script and name its fields exactly like database columns (case-sensitive). They also need to have exact types</li>
    <li>Attach you script to the same GameObject and choose it as a target component for data binding. (If your script was named exactly as table and added before BGDataBindingRowGo, it will be auto assigned as target component)</li>
    <li>Choose the source (table and entity)</li>
    <li>Toggle "Live Update" on, if you want all field values to be monitored. If value of one of the field is changed, binder inject it again</li>
</ol>
<div class="bg-image">
    <a href="#path images/BGDatabase/DataBinding4.png"><img style="width: 400px" src="#path images/BGDatabase/DataBinding4.png"></a>
</div>

<h4 id="databaseBinder">How to use database binder (BGDataBindingDatabaseGo)</h4>
<ol>
    <li>Attach BGDataBindingDatabaseGo component to any GameObject. [Important!] You need to have one single binder in your scene</li>
    <li>Create your own scripts and name their fields exactly like database columns (case-sensitive). They also need to have exact types</li>
    <li>Also add BGDatabaseEntityId string field to these components</li>
    <li>Attach any number of your scripts to any GameObjects and assign their BGDatabaseEntityId fields to valid row database ids. No need to attach any binder</li>
</ol>
<div class="bg-image">
    <a href="#path images/BGDatabase/DataBinding5.png"><img style="width: 400px" src="#path images/BGDatabase/DataBinding5.png"></a>
</div>


<h4>Template format</h4>
<!--
<div class="importantNote">
    We plan to replace templates with Node-based Graph tool. Check our <a href="../">Roadmap</a> for more details
</div>
-->

<p>
    Template let  you combine static text with multiple field values from database.
    Currently only one special tag is used, which allow to inject field value to text.<br>
    Use #FIELD(fieldID) to inject field value.<br>
    fieldID format is fieldName(or id)@entityId@metaName(or id)
    metaName(or id) is optional (but recommended)<br>
    So here are some of the template examples:<br>
</p>

<ol>

    <li>Hit Points: #FIELD(hitpoints@47xVQlfHwUav9kozM7nIaw@Player)</li>
    <li>Hit Points: #FIELD(hitpoints@47xVQlfHwUav9kozM7nIaw)</li>
    <li>Hit Points: #FIELD(HDonu5dt1Ei/bCcUX2n93w@47xVQlfHwUav9kozM7nIaw)</li>
    <li>#FIELD(uiText@dw/e73Wm0U+faTMnh+POZQ@Ui): #FIELD(HDonu5dt1Ei/bCcUX2n93w@47xVQlfHwUav9kozM7nIaw)</li>
</ol>

<h4 id="codeStripping">Building for mobile OS (Android/IOS)</h4>
<p>
    Our data binders use <a href="https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/reflection" target="_blank">reflection</a>
    to inject the value from the database to field/property
</p>
<p>
    If you are targeting mobile OS (Android/IOS), you may encounter the situation, that field/property is stripped (removed) from the build.
    (read more information about code stripping <a href="https://docs.unity3d.com/Manual/ManagedCodeStripping.html"  target="_blank">here</a>)
</p>

<p>
    If you use only properties, marked as recommended (prefixed [RECOMMENDED]) (see full list below), you have nothing to worry about
</p>

<p>
    However if you are using another properties, you want to force compiler to include them in the build.
</p>

<p>
    There are couple of methods how to do it, the most straightforward is: to make direct references in the code.
</p>

<p>
    Create a simple class, add private method, reference the properties you are using and add it to one of your scenes.
</p>
<p>
    After that add link.xml to you project with following content
</p>
<pre class="prettyprint">
&lt;linker&gt;
       &lt;assembly fullname="Assembly-CSharp.dll"&gt;
               &lt;type fullname="PreventIosFromStripping" preserve="all"/&gt;
       &lt;/assembly&gt;
&lt;/linker&gt;
</pre>
<p>
    More info about link.xml can be found <a href="https://docs.unity3d.com/540/Documentation/Manual/iphone-playerSizeOptimization.html">here</a>
</p>
<p>
    Here is an example:
</p>

<pre class="prettyprint">
public class PreventIosFromStripping : MonoBehaviour
{
    private void Unused()
    {
        GetComponent&lt;MyComponent&gt;().myProperty1 = null;
        GetComponent&lt;MyComponent&gt;().myProperty2 = null;
        //etc.
    }
}
</pre>

<h4>Full list of recommended properties</h4>
<ol>
    <li>SpriteRenderer.sprite</li>
    <li>Material.mainTexture</li>
    <li>MeshRenderer.sharedMaterial</li>
    <li>MeshRenderer.sharedMaterial.mainTexture</li>
    <li>Text.text</li>
    <li>TextMesh.text</li>
    <li>Image.sprite</li>
    <li>AudioSource.clip</li>
</ol>
