#set page=Setup

<h4>Create your own database</h4>
<div class="importantNote">
    This step is required
</div>
<ol>
    <li>
        Import the package
    </li>
    <li>
        Create your own database (do not use default database as your own one.)
        Open <code>Window->BGDatabase</code>.
        Select <code>Settings-> Main->Create new database</code> tab.
        Chose the <a href="#loaders">loader</a> (Resources or StreamingAssets), fill in fields and press <code>Create</code> button
        <div class="bg-image">
            <a href="#path images/BGDatabase/Setup1.png"><img style="width: 400px" src="#path images/BGDatabase/Setup1.png"></a>
        </div>
        empty database will be created at specified location
    </li>
    <li>
        Go to <code>Configuration</code> and create table (called Meta)
        <div class="bg-image">
            <a href="#path images/BGDatabase/Setup2.png"><img style="width: 400px" src="#path images/BGDatabase/Setup2.png"></a>
        </div>

    </li>
    <li>
        Add fields
        <div class="bg-image">
            <a href="#path images/BGDatabase/Setup3.png"><img style="width: 400px" src="#path images/BGDatabase/Setup3.png"></a>
        </div>
    </li>
    <li>
        Go to <code>Database</code> and create data for tables (called Entities)
        <div class="bg-image">
            <a href="#path images/BGDatabase/Setup4.png"><img style="width: 400px" src="#path images/BGDatabase/Setup4.png"></a>
        </div>
    </li>
    <li>
        Make sure to commit database file to your source control system or make regular backups to prevent the risk of data loss.
    </li>
</ol>
<div class="importantNote">
    No further action is required. Read further below only if you want to learn more details.
</div>

<h4 id="loaders">Which loader to chose?</h4>
<ul>
    <li>Chose Resources loader, if you do not use Resources folders to store assets (Unity does not recommend to do it)</li>
    <li>Chose StreamingAssets if you have a lot of assets in the Resources folders or if you want to update database file without rebuilding the game</li>
    <li>Chose custom loader if you want to load database from custom location and do not mind to write your own loader</li>
</ul>
<p>
    You can switch between Resources/StreamingAssets loaders by simply moving your database file between Resources/StreamingAssets folders.
</p>
<table class="contentTable">
    <tr>
        <th width="25%"></th>
        <th width="25%">Resources</th>
        <th width="25%">StreamingAssets</th>
        <th width="25%">Custom</th>
    </tr>

    <tr>
        <td>File location</td>
        <td>under one of Resources folders</td>
        <td>under Assets/StreamingAssets folder</td>
        <td>anywhere in your project</td>
    </tr>
    <tr>
        <td>Pros</td>
        <td>Works everywhere without any extra effort</td>
        <td>You can update database file without rebuilding your game</td>
        <td>you can store your database file in any place under your project</td>
    </tr>
    <tr>
        <td valign="top">Cons</td>
        <td valign="top">If you store many assets under Resources folders (Unity does not recommend to do it), it may lead to slow database loading</td>
        <td valign="top">
            <ol>
                <li>WEBGL requires custom loader</li>
            </ol>
        </td>
        <td valign="top">
            <ol>
                <li>you need to implement code, which loads database content.</li>
                <li>You need to load and assign database content using BGRepo.SetDefaultRepoContent method before accessing it</li>
                <li>Not supported by Localization addon</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td valign="top">How to enable</td>
        <td valign="top">File bansheegz_database.bytes should be placed under one of Resources folders</td>
        <td valign="top">File bansheegz_database.bytes should be placed under Assets/StreamingAssets folder</td>
        <td valign="top">
            <ol>
                <li>Move bansheegz_database.bytes file into any location in your project using Unity Editor.</li>
                <li>Switch to file explorer, find bansheegz_database.bytes.meta file open it in text editor and paste the following guid to it 3637ea689da0cff4b8d5c0fb5d609c15</li>
                <li>Switch back to Unity and click on Reload button in BGDatabase window. Settings->Main>Database files->Database Loader should switch to Custom</li>
                <li>Implement the code, which loads database file and once it's loaded, call BGRepo.SetDefaultRepoContent(content) method (otherwise database will not be loaded)</li>
            </ol>
        </td>
    </tr>
</table>

<h4 id="setup">Details about how database files are organized</h4>

<p>
    There are 2 files BGDatabase operates with. The first file is the file with actual database data-
    it's shared among all users and it's available at runtime.
    The second file- is the file with user's settings- it's not available at runtime and it's not shared between users- each user has it's own settings.
</p>
<ol>
    <li>
        Database file, named <code>bansheegz_database.bytes</code> should be placed right under Resources or Assets/StreamingAssets folder.
        Resources folder can be anywhere in your project but not under <code>Editor</code> folder.
    </li>
    <li>
        Settings file (default name is <code>bansheegz_database_settings.json</code>) has some additional information about database,
        like widths of the tables columns, data about Export/Import tasks etc. It can be placed in Resources folder next to database file,
        however it may contain sensitive data, so it's better be placed somewhere else. Go to Settings->Main to chose its path.
        Additionally, each user has it's own settings file. The path to this settings file is stored in EditorPrefs file.
        This also means, that settings file location is not transferable between different PCs and need to be chosen separately for each PC.
    </li>
</ol>
<div class="importantNote">
    Settings file may contain sensitive information (if you use syncing with <a href="../ThirdParty/GoogleSheets">GoogleSheets</a>),
    so it's not recommended to keep it public in this case
</div>

<h4 id="revert">Reverting database to default (example) database</h4>
<p>
    By default, BGDatabase uses default database, located at <code>Assets\BansheeGz\BGDatabase\Examples\Resources\bansheegz_database_default.bytes</code>
    As soon as you create your own database, <code>bansheegz_database.bytes</code> file will be used as database.
    But you may want to revert to default database temporarily, for example, to test how our example scenes are working.
</p>
<p>
    This is very easy to do- locate your <code>bansheegz_database.bytes</code> file (you can find it's location under <code>Settings->Main</code>) and rename or move it to another location,
    then return to <code>Window->BGDatabase</code> and press <code>Reload</code> button. (top left corner of BGDatabase window)
    Default database will be loaded.
</p>
<p>
    As soon as you do not need it anymore: rename your database file back to <code>bansheegz_database.bytes</code> or move it back from another folder and press <code>Reload</code> button.
</p>
