#set page=Setup

    <ol>
        <li>
            Import the package
        </li>
        <li>
            View our <a href="../ExampleBreakdown">example breakdown</a>, if you wish to understand more about how BGDatabase works.
        </li>
        <li>
            Create your own database. By default example's database is used. Go to <code>Settings-> Main</code> and chose <code>Create new database</code>
        </li>
        <li>
            Go to <code>Configuration</code> and create tables (called Metas)
        </li>
        <li>
            Go to <code>Database</code> and create data for tables (called Entities)
        </li>

    </ol>
