#set page=Setup

<h4>Setup guide</h4>
<ol>
    <li>
        Import the package
    </li>
    <li>
        Open <code>Window->BGDatabase</code>.
        Click on <code>Create new database file</code>.
        Choose the <a href="#loaders">loader</a> (Resources or StreamingAssets) and press <code>Create</code> button
        <div class="bg-image">
            <a href="#path images/BGDatabase/Setup5.png"><img style="width: 400px" src="#path images/BGDatabase/Setup5.png"></a>
        </div>
    </li>
    <li>
        Select <code>Configuration</code> tab and create table (called Meta)
        <div class="bg-image">
            <a href="#path images/BGDatabase/Setup2.png"><img style="width: 400px" src="#path images/BGDatabase/Setup2.png"></a>
        </div>

    </li>
    <li>
        Add fields
        <div class="bg-image">
            <a href="#path images/BGDatabase/Setup3.png"><img style="width: 400px" src="#path images/BGDatabase/Setup3.png"></a>
        </div>
    </li>
    <li>
        Select <code>Database</code> tab and create data for tables (called Entities)
        <div class="bg-image">
            <a href="#path images/BGDatabase/Setup4.png"><img style="width: 400px" src="#path images/BGDatabase/Setup4.png"></a>
        </div>
    </li>
    <li>
        Make sure to commit database file to your source control system or make regular backups to prevent the risk of data loss.
    </li>
</ol>

<h4>Video</h4>
<div class="vimeo-c">
    <iframe src="https://player.vimeo.com/video/599578507?title=0&amp;byline=0&amp;portrait=0&amp;speed=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;h=83972cb70e" width="560" height="315" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="BGDatabase mini tutorial: Setup"></iframe>
</div>

<h4 id="loaders">Which loader to choose?</h4>
<ul>
    <li>Resources loader is a recommended loader to use</li>
    <li>Choose StreamingAssets if you want to update database file without rebuilding your game</li>
    <li>Choose custom loader if you want to load database from custom location and do not mind to write your own loader</li>
</ul>
<p>
    You can switch between Resources/StreamingAssets loaders by simply moving your database file (bansheegz_database.bytes)
    between Resources/StreamingAssets folders (if you use localization addon, move all localization files as well- bansheegz_database*.bytes).
</p>
<table class="contentTable">
    <tr>
        <th></th>
        <th>Resources</th>
        <th>StreamingAssets</th>
        <th>Custom</th>
    </tr>

    <tr>
        <td>File location</td>
        <td>Under one of Resources folders</td>
        <td>Under Assets/StreamingAssets folder</td>
        <td>Anywhere in your project</td>
    </tr>
    <tr>
        <td>Pros</td>
        <td>Works everywhere without any extra effort</td>
        <td>You can update database file without rebuilding your game</td>
        <td>
            <ol>
                <li>Database file can be put to any place under your project</li>
                <li>Database content can be loaded from any location at runtime</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td valign="top">Cons</td>
        <td valign="top">If you store many assets under Resources folders (Unity does not recommend to do it), it may lead to slow database loading</td>
        <td valign="top">
            <ol>
                <li>WEBGL platform requires custom loader</li>
            </ol>
        </td>
        <td valign="top">
            <ol>
                <li>you need to implement code, which loads database content.</li>
                <li>You need to load and assign database content using BGRepo.SetDefaultRepoContent method before accessing it</li>
                <li>Not supported by Localization addon</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td valign="top">How to enable</td>
        <td valign="top">File bansheegz_database.bytes should be placed under one of Resources folders</td>
        <td valign="top">File bansheegz_database.bytes should be placed under Assets/StreamingAssets folder</td>
        <td valign="top"> Read <a href="#customLoader">the guide</a> below</td>
    </tr>
</table>

<h4 id="setup">More details about database files</h4>

<p>
    There are 2 different files BGDatabase operates with:
</p>

<ol>
    <li>file with database data</li>
    <li>file with user settings</li>
</ol>
<p>
    More details about these files are available in the table below.
</p>

<table class="contentTable">
    <tr>
        <th>&#x2193; Feature\File &#x2192;</th>
        <th>Database file</th>
        <th>Settings file</th>
    </tr>
    <tr>
        <th>Purpose</th>
        <td>Database file</td>
        <td>User settings file</td>
    </tr>
    <tr>
        <th>Default name</th>
        <td>bansheegz_database.bytes</td>
        <td>BGS_{database asset GUID}.json</td>
    </tr>
    <tr>
        <th>Format</th>
        <td>Binary</td>
        <td>Json</td>
    </tr>
    <tr>
        <th>Available at runtime</th>
        <td>Yes</td>
        <td>No</td>
    </tr>
    <tr>
        <th>Shared between developers</th>
        <td>Yes</td>
        <td>No, each developer has a separate file</td>
    </tr>
    <tr>
        <th>Location</th>
        <td>Under Resources / StreamingAssets folders</td>
        <td>Under Documents folder</td>
    </tr>
    <tr>
        <th>How to change location</th>
        <td>Move (not copy) database file along with it's meta file</td>
        <td>N/A</td>
    </tr>
    <tr>
        <th>How file is resolved</th>
        <td>Naming convention is used (bansheegz_database.bytes)</td>
        <td>File location is resolved using database asset GUID</td>
    </tr>
</table>

<h4 id="customLoader">Custom loader implementation guide</h4>
2 steps guide:
<ol>
    <li>Override database location in Unity Editor.</li>
    <li>Load database content manually at runtime and pass it to BGDatabase</li>
</ol>
<h6>Overriding database location inside Unity Editor</h6>
<ol>
    <li>Exit Unity</li>
    <li>Backup your database files</li>
    <li>Move all database files (bansheegz_database*.bytes* ) to any location in your project.</li>
    <li>Open bansheegz_database.bytes.meta file in text editor and replace its guid with this value 3637ea689da0cff4b8d5c0fb5d609c15</li>
    <li>Open up Unity and click on Reload button in BGDatabase window.</li>
    <li>Switch to Settings->Main>Database files and make sure database is loaded from custom location and Loader is set to Custom.
        Also make sure all content is properly loaded.
    </li>
</ol>
<h6>Loading database content manually at runtime</h6>
<ol>
    <li>Load database content from whatever location you want and call BGRepo.SetDefaultRepoContent(byte[] content) method before accessing database.</li>
    <li>If you use localization addon, you also need to load all localization files as well and use BGRepo.SetDefaultRepoContentModel(BGRepoCustomLoaderModel model).
        We have created an example project with custom loader implementation, which can be downloaded <a href="../Downloads/ExampleLocalization#customLoader">here</a>
    </li>
</ol>


<div class="flexdiv">
    <div>
        What to read next:
        <ol>
            <li><a href="../HowToUse">How to use</a></li>
            <li><a href="../GUIOverview">GUI overview</a></li>
        </ol>
    </div>
</div>