#set pageCss=css/page.css
#set GA=UA-76367732-4
#set section=LiveStreaming
#set metadescription=Live translations from Games and Real life (Periscope)

<style>
    #icons div {
        width: 128px;
        height: 32px;
        text-align: center;
    }

    #bg-twitch {
        background: url('../images/twitchC.gif');
    }

    #bg-twitch:hover {
        background: url('../images/twitchHoverC.gif');
    }

    #bg-youtube {
        background: url('../images/youtubeC.gif');
    }

    #bg-youtube:hover {
        background: url('../images/youtubeHoverC.gif');
    }

    #bg-beampro {
        background: url('../images/beamproC.gif');
    }

    #bg-beampro:hover {
        background: url('../images/beamproHoverC.gif');
    }

    #bg-hitboxtv {
        background: url('../images/hitboxtvC.gif');
    }

    #bg-hitboxtv:hover {
        background: url('../images/hitboxtvHoverC.gif');
    }

    .stream-url{
        height: 32px;
        background-repeat: no-repeat !important;
        margin-left: 10%;
    }
    .stream-details{
        font-family: "Roboto","Helvetica","Arial",sans-serif;
        font-size: 12px;
    }
</style>

<h4>LIVE Real Life Streams</h4>
<img src="../images/under_construction_hammerC.gif">
<hr/>

<h4>LIVE Games Streams (Soon):</h4>
<table class="bg-table" width="100%" cellpadding="5" cellspacing="0">
    <tr>
        <th width="15%">
            Game
        </th>
        <th  width="15%">
            Streamer
        </th>
        <th  width="15%">
            Language
        </th>
        <th width="15%">
            URL
        </th>
        <th width="40%">
            Details
        </th>
    </tr>
    <tr>
        <td>
            <a href="https://en.wikipedia.org/wiki/The_Elder_Scrolls_V:_Skyrim">TES5 Skyrim</a>
        </td>
        <td>
            <a href="../About/index.html#DeliriumTrip">DeliriumTrip</a>
        </td>
        <td>
            English
        </td>
        <td>
            <a href="https://www.twitch.tv/deliriumtrip" target="_blank">
                <div id="bg-twitch" class="stream-url"></div>
            </a>
        </td>
        <td>
            <div class="stream-details">
                Legendary, Wood Elf, Archer, Aela as wife [ modded as <a href="https://www.facebook.com/aprilgloriacosplay/">April Gloria</a> ], No Cheats, No Mods
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <a href="https://en.wikipedia.org/wiki/The_Elder_Scrolls_V:_Skyrim">TES5 Skyrim</a>
        </td>
        <td>
            <a href="../About/index.html#DeliriumTrip">DeliriumTrip</a>
        </td>
        <td>
            English
        </td>
        <td>
            Youtube (URL is N/A yet)
<!--
            <a href="https://www.youtube.com/channel/UCLJdcbPI2rlQnLKhTR67DUQ/live" target="_blank">
                <div id="bg-youtube" class="stream-url"></div>
            </a>
-->
        </td>
        <td>
            <div class="stream-details">
                Legendary, Wood Elf, Archer, Aela as wife [ modded as <a href="https://www.facebook.com/aprilgloriacosplay/">April Gloria</a> ], No Cheats, No Mods
            </div>
        </td>

    </tr>
    <tr>
        <td>
            <a href="https://en.wikipedia.org/wiki/The_Elder_Scrolls_V:_Skyrim">TES5 Skyrim</a>
        </td>
        <td>
            <a href="../About/index.html#DeliriumTrip">DeliriumTrip</a>
        </td>
        <td>
            English
        </td>
        <td>
            <a href="https://beam.pro/deliriumtrip" target="_blank">
                <div id="bg-beampro" class="stream-url"></div>
            </a>
        </td>
        <td>
            <div class="stream-details">
                Legendary, Wood Elf, Archer, Aela as wife [ modded as <a href="https://www.facebook.com/aprilgloriacosplay/">April Gloria</a> ], No Cheats, No Mods
            </div>
        </td>

    </tr>
    <tr>
        <td>
            <a href="https://en.wikipedia.org/wiki/The_Elder_Scrolls_V:_Skyrim">TES5 Skyrim</a>
        </td>
        <td>
            <a href="../About/index.html#DeliriumTrip">DeliriumTrip</a>
        </td>
        <td>
            English
        </td>
        <td>
            <a href="http://www.hitbox.tv/deliriumtrip" target="_blank">
                <div id="bg-hitboxtv" class="stream-url"></div>
            </a>
        </td>
        <td>
            <div class="stream-details">
                Legendary, Wood Elf, Archer, Aela as wife [ modded as <a href="https://www.facebook.com/aprilgloriacosplay/">April Gloria</a> ], No Cheats, No Mods
            </div>
        </td>

    </tr>
</table>
