#set pageCss=css/page.css
#set GA=UA-76367732-4
#set section=LiveStreaming
#set metadescription=Live translations from Games and Real life (Periscope)

<style>
    #icons div {
        width: 128px;
        height: 32px;
        text-align: center;
    }

    #bg-twitch {
        background: url('../images/twitchC.gif');
    }

    #bg-twitch:hover {
        background: url('../images/twitchHoverC.gif');
    }

    #bg-youtube {
        background: url('../images/youtubeC.gif');
    }

    #bg-youtube:hover {
        background: url('../images/youtubeHoverC.gif');
    }

    #bg-beampro {
        background: url('../images/beamproC.gif');
    }

    #bg-beampro:hover {
        background: url('../images/beamproHoverC.gif');
    }

    #bg-hitboxtv {
        background: url('../images/hitboxtvC.gif');
    }

    #bg-hitboxtv:hover {
        background: url('../images/hitboxtvHoverC.gif');
    }

    .stream-url{
        height: 32px;
        background-repeat: no-repeat !important;
        margin-left: 30%;
    }
</style>

<h4>LIVE Real Life Streams</h4>
<img src="../images/under_construction_hammerC.gif">
<hr/>

<h4>LIVE Games streams:</h4>
<table class="bg-table" width="100%" cellpadding="5" cellspacing="0">
    <tr>
        <th width="20%">
            Game
        </th>
        <th  width="20%">
            Streamer
        </th>
        <th  width="20%">
            Host
        </th>
        <th width="40%">
            URL
        </th>
    </tr>
    <tr>
        <td>
            TES5 Skyrim
        </td>
        <td>
            <a href="../About#DeliriumTrip">DeliriumTrip</a>
        </td>
        <td>
            Twitch.Tv
        </td>
        <td>
            <a href="https://www.twitch.tv/deliriumtrip" target="_blank">
                <div id="bg-twitch" class="stream-url"></div>
            </a>
        </td>
    </tr>
    <tr>
        <td>
            TES5 Skyrim
        </td>
        <td>
            DeliriumTrip
        </td>
        <td>
            Youtube.Com
        </td>
        <td>
            <a href="https://www.youtube.com/channel/UCLJdcbPI2rlQnLKhTR67DUQ/live" target="_blank">
                <div id="bg-youtube" class="stream-url"></div>
            </a>
        </td>
    </tr>
    <tr>
        <td>
            TES5 Skyrim
        </td>
        <td>
            DeliriumTrip
        </td>
        <td>
            Beam.Pro
        </td>
        <td>
            <a href="https://beam.pro/deliriumtrip" target="_blank">
                <div id="bg-beampro" class="stream-url"></div>
            </a>
        </td>
    </tr>
    <tr>
        <td>
            TES5 Skyrim
        </td>
        <td>
            DeliriumTrip
        </td>
        <td>
            HitBox.Tv
        </td>
        <td>
            <a href="http://www.hitbox.tv/deliriumtrip" target="_blank">
                <div id="bg-hitboxtv" class="stream-url"></div>
            </a>
        </td>
    </tr>
</table>
