#set page=Translation

<h4>General information</h4>
<p>
Machine translation allows to auto-translate string/text fields.
</p>
<p>
    Preferred service is Yandex, cause it's free and easy to setup, has a lot of translation language pairs and fully integrated.
</p>
<p>
    Amazon Translate is also fully integrated and can translate from/to English and 10 different languages.
    But it can translate only if English language is set as source or target.
</p>
<p>
    IBM Watson is not recommended. It is also integrated but by default has very few translation language pairs and only has 1 month free subscription.
</p>
<p>
    Google Translate is not integrated (cause they do not have a free service) and available only via Google Sheets.
</p>

<ol>
    <li><a href="Amazon">Amazon</a> is fully integrated and can translate from/to English to 10 different languages </li>
    <li><a href="Yandex">Yandex</a> is fully integrated tranlation service and the simplest way to translate</li>
    <li><a href="Watson">IBM Watson</a> also builtin service but some restrictions apply (by default very few translation pairs are available)</li>
    <li><a href="Google">Google Translate</a> is not integrated, so it can be used only via Google Sheets</li>
</ol>

<div class="bg-image">
    <a href="#path images/BGLocalization/Translate1.png"><img style="width: 400px" src="#path images/BGLocalization/Translate1.png"></a>
</div>

