#set page=Translation

<h4>General information</h4>
<p>
Machine translation allows to auto-translate string/text fields.
</p>


<ol>
    <li><a href="Amazon">Amazon</a> is fully integrated</li>
    <li><a href="Watson">IBM Watson</a> is fully integrated</li>
    <li><a href="Google">Google Translate</a> is not integrated, so it can be used only via Google Sheets</li>
</ol>

<div class="bg-image">
    <a href="#path images/BGLocalization/Translate1.png"><img style="width: 400px" src="#path images/BGLocalization/Translate1.png"></a>
</div>

<p style="font-style: italic;font-size: small;color: #999999">
    Yandex translate support is deprecated, the archived page can be found <a href="Yandex">here</a>
</p>