#set page=Building for IOS

<h4>Building for IOS</h4>
<p>
    We are using Reflection to localize the properties (or fields)
    If you are targeting IOS, you may encounter the situation, that property can be stripped (removed) from the build.
    If you use only properties, marked as recommended (prefixed [RECOMMENDED]), you have nothing to worry about
    However if you are using another properties, you want to force compiler to include them in the build.
    There are couple of methods how to do it, the most straightforward is: to make direct references in the code.
</p>
<p>
    Create a simple class, add private method, reference the properties you are using and add it to one of your scenes.
    After that add link.xml to you project with following content
</p>
<pre class="nomargin"><code class="language-csharp">
&lt;linker&gt;
       &lt;assembly fullname="Assembly-CSharp.dll"&gt;
               &lt;type fullname="PreventIosFromStripping" preserve="all"/&gt;
       &lt;/assembly&gt;
&lt;/linker&gt;
</code></pre>
<p>
    More info about link.xml can be found <a href="https://docs.unity3d.com/540/Documentation/Manual/iphone-playerSizeOptimization.html">here</a>
</p>
<p>
    Here is an example:
</p>

<pre class="nomargin"><code class="language-csharp">
public class PreventIosFromStripping : MonoBehaviour
{
    private void Unused()
    {
        GetComponent&lt;MyComponent&gt;().myProperty1 = null;
        GetComponent&lt;MyComponent&gt;().myProperty2 = null;
        //etc.
    }
}
</code></pre>
