#set page=Building for IOS

<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=cs&amp;skin=desert"></script>

<h4>Building for IOS</h4>
<p>
    We are using Reflection to localize the properties (or fields)
</p>
<p>
    If you are targeting IOS, you may encounter the situation, that property can be stripped (removed) from the build.
</p>

<p>
    If you use only properties, marked as recommended (prefixed [RECOMMENDED]), you have nothing to worry about
</p>

<p>
    However if you are using another properties, you want to force compiler to include them in the build.
</p>

<p>
    There are couple of methods how to do it, the most straightforward is: to make direct references in the code.
</p>

<p>
    Create a simple class, add private method, reference the properties you are using and add it to one of your scenes.
</p>
<p>
    After that add link.xml to you project with following content
</p>
<pre class="prettyprint">
<linker>
       <assembly fullname="Assembly-CSharp.dll">
               <type fullname="PreventIosFromStripping" preserve="all"/>
       </assembly>
</linker>
</pre>
<p>
    More info about link.xml can be found <a href="https://docs.unity3d.com/540/Documentation/Manual/iphone-playerSizeOptimization.html">here</a>
</p>
<p>
    Here is an example:
</p>

<pre class="prettyprint">
public class PreventIosFromStripping : MonoBehaviour
{
    private void Unused()
    {
        GetComponent&gt;MyComponent&lt;().myProperty1 = null;
        GetComponent&gt;MyComponent&lt;().myProperty2 = null;
        //etc.
    }
}
</pre>
