#set pageCss=css/page.css
#set GA=UA-76367732-3
#set section=Unity3DAssets
#set metadescription=Kolobok The Game is BansheeGz's upcoming 2D game for IOS and Android

<link rel="stylesheet" href="#path css/bgcurve.css">

<link rel="stylesheet" href="#path css/bgcurve.css">

<div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
    <div class="bg-main mdl-shadow--3dp" style="margin-top: 20px;min-height: 400px;">
        <div class="bg-main-title">
            <h3>Kolobok The Game</h3>
        </div>

        <div class="bg-main-contacts">
            <div class="bg-main-contacts_grid mdl-grid">
                <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone bg-desc">
                    Kolobok The Game is BansheeGz's upcoming 2D game for IOS and Android
                </div>
                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                    Version:
                </div>
                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                    Alpha
                </div>
                <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                    <img class="bg-img-indev" src="../images/Kolobok400x400.png">
                </div>

            </div>
        </div>
    </div>
</div>